Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(client): add decorator knobs in spottile storybook
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/Initialise.stories.tsx
Due: prettier --write, eslint --fix

fix(client): change the workspace layout
  src/client/src/apps/MainRoute/widgets/workspace/Workspace.tsx
Due: prettier --write, eslint --fix

task(client): added jest-styled-components (ARTP-963)
  src/client/package-lock.json
  src/client/package.json
  src/client/setupTests.js
Due: prettier --write

fix(client):display date is now zone aware (ARTP-940)
  src/client/src/apps/MainRoute/widgets/blotter/components/blotterUtils.ts
  src/client/src/apps/MainRoute/widgets/spotTile/components/SpotTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/AnalyticsTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/model/dateUtiils.test.ts
  src/client/src/apps/MainRoute/widgets/spotTile/model/dateUtils.ts
Due: prettier --write, eslint --fix

fix(client): ensure setupWorkspaces is called on boot [ARTP-938]
  src/client/src/rt-platforms/openFin/adapter/epics.ts
Due: prettier --write, eslint --fix

refactor(client): fixup setup actions naming [ARTP-938]
  src/client/src/rt-actions/setupActions.ts
Due: prettier --write, eslint --fix

feat(client): handle persisting/storing OpenFin workspace [ARTP-938]
  src/client/src/rt-actions/index.ts
  src/client/src/rt-actions/workspaceActions.ts
  src/client/src/rt-platforms/openFin/adapter/epics.ts
  src/client/src/rt-platforms/openFin/adapter/index.ts
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
  src/client/src/rt-platforms/openFin/adapter/window.ts
  src/client/src/rt-platforms/openFin/adapter/workspaces.ts
  src/client/src/rt-platforms/openFin/index.ts
Due: prettier --write, eslint --fix

refactor(client): create constant for local storage key [ARTP-938]
  src/client/src/rt-platforms/openFin/adapter/workspaces.ts
Due: prettier --write, eslint --fix

task(client): addressed PR comments (ARTP-963)
  src/client/src/apps/MainRoute/widgets/spotTile/components/RfqTimer.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/AnalyticsTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

update to layouts 2.0
  src/client/package-lock.json
  src/client/package.json
  src/client/public/config/openfin/platforms.json
  src/client/src/apps/MainRoute/layouts/AppLayout.tsx
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/apps/MainRoute/routes/styled.tsx
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
  src/client/src/rt-components/tear-off/TearOff.tsx
  src/client/src/rt-platforms/openFin/adapter/window.ts
Due: prettier --write, eslint --fix

build: layouts 2.0 deployment to openfin env
  .circleci/config.yml
Due: none

build: update script to latest from upstream
  .circleci/config.yml
  README.md
Due: none

feat(client): upgrade openfin cli version
  src/client/package-lock.json
  src/client/package.json
Due: prettier --write

build: deploy master or layouts-2.0 branches
  .circleci/config.yml
Due: none

chore(client): move jest setup file [ARTP-963]
  src/client/package-lock.json
  src/client/package.json
  src/client/setupTests.js
  src/client/src/setupTests.js
Due: prettier --write

chore(client): add snapshots [ARTP-963]
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notional/__snapshots__/NotionalInput.test.tsx.snap
Due: none

task(client): rfq horizontal fix & dependency downgrade (ARTP-963)
  src/client/src/apps/MainRoute/widgets/spotTile/components/RfqTimer.tsx
  src/client/src/setupTests.js
Due: prettier --write, eslint --fix

build: temp comment out e2e tests as they keep failing
  .circleci/config.yml
  src/e2e/package-lock.json
  src/node-server/nlp/package-lock.json
Due: prettier --write

build: update circle-ci badge to include token
  README.md
Due: none

fix(client): cancel RFQ button in non-graph view fixed (ARTP-961)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

build: fix yaml extension so that web deployment happens
  src/services/kubernetes/web-deployment.yaml
  src/services/kubernetes/web-service.yaml
Due: none

fix(client): add rfq price in analytics view(ARTP-965)
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/AnalyticsTile.tsx
Due: prettier --write, eslint --fix

feat: tearout styling for openfin
  src/client/public/config/openfin/demo-platform.json
  src/client/public/config/openfin/local-platform.json
  src/client/public/static/css/platform-titlebar.css
Due: prettier --write

feat(workspaces): Save / restore openfin workspaces [WIP]
  src/client/package.json
  src/client/public/config/openfin/local-platform.json
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/apps/MainRoute/routes/FooterRoute.tsx
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/apps/MainRoute/routes/index.ts
  src/client/src/apps/MainRoute/widgets/analytics/model/index.ts
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
  src/client/src/rt-platforms/browser/browser.ts
  src/client/src/rt-platforms/finsemble/index.ts
  src/client/src/rt-platforms/glue/glue.ts
  src/client/src/rt-platforms/noopAdapter.ts
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openFin/components/OpenfinWorkspaceSelection/OpenfinWorkspaceSelection.tsx
  src/client/src/rt-platforms/openFin/components/OpenfinWorkspaceSelection/index.ts
  src/client/src/rt-platforms/openFin/components/OpenfinWorkspaceSelection/styled.tsx
  src/client/src/rt-platforms/openFin/components/index.ts
  src/client/src/rt-platforms/platform.ts
  src/client/src/rt-platforms/symphony/adapter/index.ts
Due: prettier --write, eslint --fix

feat: change tab name to match content
  src/client/src/index.tsx
Due: prettier --write, eslint --fix

feat(workspaces): Workaround for lack of z-index management [WIP]
  src/client/package-lock.json
  src/client/package.json
  src/client/public/config/openfin/local-platform.json
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/apps/MainRoute/routes/FooterRoute.tsx
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/apps/MainRoute/routes/index.ts
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
  src/client/src/rt-platforms/openFin/components/OpenfinWorkspaceSelection/OpenfinWorkspaceSelection.tsx
Due: prettier --write, eslint --fix

feat(workspaces): Modal workspace selection / connection viewing
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/rt-components/modal/Modal.tsx
  src/client/src/rt-platforms/openFin/OpenFinWithPlatform.ts
  src/client/src/rt-platforms/openFin/adapter/window.ts
  src/client/src/rt-platforms/openFin/components/OpenFinStatusConnection/Service.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinStatusConnection/StatusButton.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinStatusConnection/StatusButtonContainer.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinStatusConnection/index.ts
  src/client/src/rt-platforms/openFin/components/OpenFinStatusConnection/selectors.ts
  src/client/src/rt-platforms/openFin/components/OpenFinStatusConnection/styled.tsx
  src/client/src/rt-platforms/openFin/components/OpenfinWorkspaceSelection/OpenfinWorkspaceSelection.tsx
  src/client/src/rt-platforms/openFin/components/OpenfinWorkspaceSelection/styled.tsx
  src/client/src/rt-theme/colors.ts
  src/client/src/rt-types/index.ts
  src/client/src/rt-types/workspaceStatus.ts
Due: prettier --write, eslint --fix

feat(workspaces): Unnecessary type definitions
  src/client/package.json
Due: prettier --write

refactor(e2e): get browser once, refresh before each test
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

refactor(e2e): run currency 'ALL' tests first
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

refactor(e2e): group releated blocks
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

fix(client): center execution pill
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/PriceControls.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

feat(client): add yellow accent to trade notification [ARTP-941]
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/NotificationContainer.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileNotification.tsx
Due: prettier --write, eslint --fix

chore(storybook): update TileNotifcation story props [ARTP-941]
  src/client/src/apps/MainRoute/components/notification/TradeNotification.stories.tsx
Due: prettier --write, eslint --fix

feat(styleguide): fix buttons grid style (ARTP-955)
  src/client/src/apps/StyleguideRoute/components/ButtonGrid.tsx
Due: prettier --write, eslint --fix

feat(styleguide): fix buttons part at Atoms section (ARTP-955)
  src/client/src/apps/StyleguideRoute/components/ButtonGrid.tsx
Due: prettier --write, eslint --fix

feat(styleguide): dropdowns/menus section (ARTP-955)
  src/client/src/apps/StyleguideRoute/components/DropdowGrid.tsx
  src/client/src/apps/StyleguideRoute/components/DropdownMenuGrid.tsx
  src/client/src/apps/StyleguideRoute/sections/Atoms.tsx
  src/client/src/rt-styleguide/components/Dropdown.tsx
  src/client/src/rt-styleguide/components/DropdownMenu.tsx
  src/client/src/rt-styleguide/index.ts
Due: prettier --write, eslint --fix

feat(styleguide): fix on button grid (ARTP-955)
  src/client/src/apps/StyleguideRoute/components/ButtonGrid.tsx
Due: prettier --write, eslint --fix

feat(styleguide): fix on dropdown styles (ARTP-955)
  src/client/src/apps/StyleguideRoute/components/DropdowGrid.tsx
  src/client/src/apps/StyleguideRoute/components/DropdownMenuGrid.tsx
  src/client/src/rt-styleguide/components/Dropdown.tsx
Due: prettier --write, eslint --fix

fix(client): add price movement icon to request rfq state(ARTP-967)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/PriceControls.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceMovement.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/PriveMovement.stories.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,tsx,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
