Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(client): remove intents from platform [ARTP-839]
  src/client/src/apps/MainRoute/widgets/blotter/components/Blotter.tsx
  src/client/src/rt-intents/index.ts
  src/client/src/rt-platforms/browser/browser.ts
  src/client/src/rt-platforms/finsemble/index.ts
  src/client/src/rt-platforms/glue/glue.ts
  src/client/src/rt-platforms/noopAdapter.ts
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
  src/client/src/rt-platforms/platform.ts
  src/client/src/rt-platforms/symphony/adapter/index.ts
Due: prettier --write, eslint --fix

refactor(client): move existing intents to rt-intent [ARTP-839]
  src/client/src/apps/SimpleLauncher/index.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/SearchControl.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/getInlineSuggestionsComponent.tsx
  src/client/src/apps/SimpleLauncher/spotlight/fdc3/browserFdc3.ts
  src/client/src/apps/SimpleLauncher/spotlight/fdc3/context.ts
  src/client/src/apps/SimpleLauncher/spotlight/fdc3/fdc3.ts
  src/client/src/apps/SimpleLauncher/spotlight/fdc3/openfinFdc3.ts
  src/client/src/index.tsx
  src/client/src/rt-intents/fdc3/adapter/openFin.ts
  src/client/src/rt-intents/fdc3/adapter/types.ts
  src/client/src/rt-intents/fdc3/provider.ts
  src/client/src/rt-intents/index.ts
  src/client/src/rt-intents/intents/defaultWindowConfig.ts
  src/client/src/rt-intents/intents/handleIntent.ts
  src/client/src/rt-intents/intents/index.ts
  src/client/src/rt-intents/intents/intentUtils.ts
  src/client/src/rt-intents/intents/intents.ts
  src/client/src/rt-intents/intents/responseMapper.ts
  src/client/src/rt-intents/intents/showBlotter.ts
  src/client/src/rt-intents/intents/showCurrencyPair.ts
  src/client/src/rt-intents/intents/showMarket.ts
  src/client/src/rt-intents/noop/provider.ts
  src/client/src/rt-intents/types.ts
  src/client/src/rt-platforms/getPlatformAsync.ts
  src/client/src/rt-platforms/openFin/excel/jsExcelAdapter.ts
Due: prettier --write, eslint --fix

refactor(client): mv rt-{intents,interop}
  src/client/src/rt-interop/context.ts
  src/client/src/rt-interop/fdc3/adapter/index.ts
  src/client/src/rt-interop/fdc3/adapter/openFin.ts
  src/client/src/rt-interop/fdc3/adapter/types.ts
  src/client/src/rt-interop/fdc3/contexts/getCurrencyPair.ts
  src/client/src/rt-interop/fdc3/contexts/index.ts
  src/client/src/rt-interop/fdc3/index.ts
  src/client/src/rt-interop/fdc3/provider.ts
  src/client/src/rt-interop/index.ts
  src/client/src/rt-interop/intents/defaultWindowConfig.ts
  src/client/src/rt-interop/intents/handleIntent.ts
  src/client/src/rt-interop/intents/index.ts
  src/client/src/rt-interop/intents/intentUtils.ts
  src/client/src/rt-interop/intents/intents.ts
  src/client/src/rt-interop/intents/responseMapper.ts
  src/client/src/rt-interop/intents/showBlotter.ts
  src/client/src/rt-interop/intents/showCurrencyPair.ts
  src/client/src/rt-interop/intents/showMarket.ts
  src/client/src/rt-interop/noop/index.ts
  src/client/src/rt-interop/noop/provider.ts
  src/client/src/rt-interop/types.ts
  src/client/src/rt-interop/util/getProvider.ts
  src/client/src/rt-interop/util/index.ts
Due: prettier --write, eslint --fix

refactor(client): updated rt-interop to rename intent [ARTP-839]
  src/client/src/apps/MainRoute/widgets/blotter/components/Blotter.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/SearchControl.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/getInlineSuggestionsComponent.tsx
  src/client/src/index.tsx
  src/client/src/rt-interop/context.ts
  src/client/src/rt-interop/fdc3/provider.ts
  src/client/src/rt-interop/index.ts
  src/client/src/rt-interop/noop/index.ts
  src/client/src/rt-interop/noop/provider.ts
  src/client/src/rt-interop/types.ts
  src/client/src/rt-interop/util/getProvider.ts
Due: prettier --write, eslint --fix

refactor(client): naming
  src/client/src/apps/MainRoute/widgets/blotter/components/Blotter.tsx
Due: prettier --write, eslint --fix

fix(client): remove conditional operator on pricemovement(ARTP-899)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/PriceControls.tsx
Due: prettier --write, eslint --fix

feat(client): spot tile graph view displayed by default (ARTP-892)
  src/client/src/apps/MainRoute/widgets/workspace/Workspace.tsx
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/WorkspaceHeader.tsx
Due: prettier --write, eslint --fix

feat(client): browser header displays env (ARTP-891)
  src/client/src/index.tsx
  src/client/tsconfig.json
Due: prettier --write, eslint --fix

feat(client): test modification
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

numbers of days is an integer
  src/server/Adaptive.ReactiveTrader.Common/DateUtils.cs
Due: none

DateTime -> DateTimeOffset
  src/server/Adaptive.ReactiveTrader.Common/DateUtils.cs
  src/server/Adaptive.ReactiveTrader.Contract/Events/Trade/TradeCreatedEvent.cs
  src/server/Adaptive.ReactiveTrader.Contract/SpotPriceDto.cs
  src/server/Adaptive.ReactiveTrader.Contract/TradeDto.cs
  src/server/Adaptive.ReactiveTrader.Server.Common/Trade.cs
  src/server/Adaptive.ReactiveTrader.Server.Pricing/MeanReversionRandomWalkPriceGenerator.cs
  src/server/Adaptive.ReactiveTrader.Server.Pricing/RandomWalkPriceGenerator.cs
  src/server/Adaptive.ReactiveTrader.Server.TradeExecution/Domain/Trade.cs
  src/server/Adaptive.ReactiveTrader.Server.TradeExecution/TradeExecutionEngine.cs
Due: none

ARTP-930
  src/server/Adaptive.ReactiveTrader.Common/DateUtils.cs
  src/server/Adaptive.ReactiveTrader.Server.Pricing/DateTimeExtensions.cs
  src/server/Adaptive.ReactiveTrader.Server.Pricing/MeanReversionRandomWalkPriceGenerator.cs
  src/server/Adaptive.ReactiveTrader.Server.Pricing/RandomWalkPriceGenerator.cs
  src/server/Adaptive.ReactiveTrader.Server.TradeExecution/TradeExecutionEngine.cs
Due: none

Test Project version setup
  src/server/Adaptive.ReactiveTrader.Common.UnitTests/Adaptive.ReactiveTrader.Common.UnitTests.csproj
Due: none

Set up test project
  src/server/Adaptive.ReactiveTrader.Common.UnitTests/Adaptive.ReactiveTrader.Common.UnitTests.csproj
Due: none

Unit test for AddWeekDays extension method
  src/server/Adaptive.ReactiveTrader.Common.UnitTests/Adaptive.ReactiveTrader.Common.UnitTests.csproj
  src/server/Adaptive.ReactiveTrader.Common.UnitTests/DateUtilsTests.cs
  src/server/Adaptive.ReactiveTrader.Server.sln
Due: none

fix(client): reduce prices history size to 100 (ARTP-922)
  src/client/src/apps/MainRoute/widgets/spotTile/spotTileDataReducer.ts
Due: prettier --write, eslint --fix

fix(client): avoid unnecessary update for TileHeader (ARTP-922)
  src/client/src/apps/MainRoute/widgets/spotTile/components/TileHeader.tsx
Due: prettier --write, eslint --fix

fix(client): tidy up for TileHeader (ARTP-922)
  src/client/src/apps/MainRoute/widgets/spotTile/components/TileHeader.tsx
Due: prettier --write, eslint --fix

fix(client): avoid unnecessary update for Blotter (ARTP-922)
  src/client/src/apps/MainRoute/widgets/blotter/components/Blotter.tsx
Due: prettier --write, eslint --fix

fix(client): avoid unnecessary update for Blotter 2 (ARTP-922)
  src/client/src/apps/MainRoute/widgets/blotter/BlotterContainer.tsx
  src/client/src/apps/MainRoute/widgets/blotter/blotterTradesFilter.ts
  src/client/src/apps/MainRoute/widgets/blotter/components/Blotter.tsx
  src/client/src/apps/MainRoute/widgets/blotter/selectors.ts
Due: prettier --write, eslint --fix

fix(client): rfq now split into analytic and normal view(ARTP-927)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/PriceControls.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/TileBookingSwitch.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

fix(client): add timer in analytic view(ARTP-927)
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/AnalyticsTile.tsx
Due: prettier --write, eslint --fix

fix(client): ui fix on prices for rfq state (ARTP-923)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/PriceControls.tsx
Due: prettier --write, eslint --fix

fix(client): add timer in analytic view(ARTP-927)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/TileBookingSwitch.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/Tile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/AnalyticsTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

fix(client): update tile snapshot (ARTP-923)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

fix(client): price movement in the centre (ARTP-934)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/PriceControls.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceMovement.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/PriveMovement.stories.tsx
Due: prettier --write, eslint --fix

fix(client): tidy up e2e tests and Price component (ARTP-923)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/PriceControls.tsx
  src/e2e/src/pages/tile.component.ts
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

fix(client): tidy up e2e tests (ARTP-923)
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

fix(client): match zeplin design
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/RfqTimer.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/AnalyticsTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/styled.tsx
Due: prettier --write, eslint --fix

feat(server): add basic openfin installer config generation [ARTP-877]
  src/node-server/openfin-config-gen/package-lock.json
  src/node-server/openfin-config-gen/package.json
  src/node-server/openfin-config-gen/src/config/getConfig.ts
  src/node-server/openfin-config-gen/src/config/index.ts
  src/node-server/openfin-config-gen/src/index.ts
  src/node-server/openfin-config-gen/src/types.ts
  src/node-server/openfin-config-gen/tsconfig.json
  src/node-server/openfin-config-gen/webpack.config.js
Due: prettier --write, eslint --fix

feat(server): simplify request handling by using Koa [ARTP-877]
  src/node-server/openfin-config-gen/package-lock.json
  src/node-server/openfin-config-gen/package.json
  src/node-server/openfin-config-gen/src/index.ts
Due: prettier --write, eslint --fix

feat(server): handle retuning app and launcher configs [ARTP-877]
  src/node-server/openfin-config-gen/src/config/app.ts
  src/node-server/openfin-config-gen/src/config/get.ts
  src/node-server/openfin-config-gen/src/config/index.ts
  src/node-server/openfin-config-gen/src/config/launcher.ts
  src/node-server/openfin-config-gen/src/index.ts
  src/node-server/openfin-config-gen/src/types.ts
Due: prettier --write, eslint --fix

feat(client): update installer config url [ARTP-877]
  src/client/lib/downloadInstaller.js
Due: prettier --write

feat(config): docker config for openfinconfig [ARTP-877]
  src/docker-compose.yml
  src/node-server/OpenfinConfig.Dockerfile
  src/services/nginx/default.conf
Due: none

feat(server): fixup webpack warning for any-promise [ARTP-877]
  src/node-server/openfin-config-gen/webpack.config.js
Due: prettier --write

feat(config): update installer config url [ARTP-877]
  src/client/lib/downloadInstaller.js
Due: prettier --write

refactor(server): rename/mv openfin-config [ARTP-877]
  src/node-server/OpenfinConfig.Dockerfile
  src/node-server/openfin-config/package-lock.json
  src/node-server/openfin-config/package.json
  src/node-server/openfin-config/src/config/app.ts
  src/node-server/openfin-config/src/config/get.ts
  src/node-server/openfin-config/src/config/index.ts
  src/node-server/openfin-config/src/config/launcher.ts
  src/node-server/openfin-config/src/index.ts
  src/node-server/openfin-config/src/types.ts
  src/node-server/openfin-config/tsconfig.json
  src/node-server/openfin-config/webpack.config.js
Due: prettier --write, eslint --fix

feat(config): openfinconfig kubernetes config [ARTP-877]
  src/services/kubernetes/openfinconfig-deployment.yaml
Due: none

feat(server): add non-demo env name to openfin configs [ARTP-877]
  src/node-server/openfin-config/src/config/app.ts
  src/node-server/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

feat(client): remove redundant openfin configs [ARTP-877]
  src/client/public/config/openfin/demo.app.json
  src/client/public/config/openfin/demo.json
  src/client/public/config/openfin/dev.json
  src/client/public/config/openfin/launcher-demo.json
  src/client/public/config/openfin/launcher-dev.json
  src/client/public/config/openfin/launcher-uat.json
  src/client/public/config/openfin/uat.json
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,tsx,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
