Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(test): update blotter test (ARTP-1206)
  src/e2e/src/pages/blotter.component.ts
  src/e2e/src/pages/main.page.ts
  src/e2e/src/protractor.config.js
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

fix(test): update blotter typing (ARTP-1206)
  src/e2e/src/pages/blotter.component.ts
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

fix(test): find by value (ARTP-1206)
  src/e2e/src/pages/blotter.component.ts
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

fix(workspace): native android pwa (ARTP-1211)
  src/client/src/apps/MainRoute/components/app-header/PWAInstallBanner/usePWABannerPrompt.tsx
Due: prettier --write, eslint --fix

feat(workspace): detect mobile device (ARTP-1196)
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallBanner/MobileInstallModal.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallBanner/PWAInstallBanner.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallBanner/usePWABannerPrompt.tsx
  src/client/src/apps/utils/isMobile.ts
  src/client/src/rt-components/modal/Modal.tsx
Due: prettier --write, eslint --fix

feat(workspace): mobile specific pwa modal (ARTP-1196)
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallBanner/InstallLaunchButton.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallBanner/MobileInstallModal.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallBanner/index.ts
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWAInstallModal.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWAInstallPrompt.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWALaunchButton.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/index.ts
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/usePWABannerPrompt.tsx
  src/client/src/rt-components/icons/AndroidSettingsIcon.tsx
  src/client/src/rt-components/icons/AppleShareIcon.tsx
  src/client/src/rt-components/icons/index.ts
Due: prettier --write, eslint --fix

fix(workspace): add updated icons (ARTP-1196)
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWAInstallPrompt.tsx
Due: prettier --write, eslint --fix

feat(workspace): android pwa installation (ARTP-1196)
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWAInstallModal.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWAInstallPrompt.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWALaunchButton.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/usePWABannerPrompt.tsx
Due: prettier --write, eslint --fix

feat(platform): set new pwa platform api
  src/client/src/rt-platforms/getPlatformAsync.ts
  src/client/src/rt-platforms/helpers.ts
  src/client/src/rt-platforms/index.ts
  src/client/src/rt-platforms/pwa/index.ts
  src/client/src/rt-platforms/pwa/pwa.ts
  src/client/src/rt-platforms/types.ts
Due: prettier --write, eslint --fix

fix(platform): change platform type in pwa
  src/client/src/rt-platforms/pwa/pwa.ts
  src/client/src/rt-platforms/types.ts
Due: prettier --write, eslint --fix

fix(test): update blotter test (ARTP-1206)
  src/e2e/src/pages/blotter.component.ts
  src/e2e/src/protractor.config.js
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

fix(status-btn): fix misuse of useEffect hook
  src/client/src/apps/MainRoute/widgets/status-connection/StatusButton.tsx
Due: prettier --write, eslint --fix

chore: fix function placement
  src/client/src/apps/MainRoute/widgets/status-connection/StatusButton.tsx
Due: prettier --write, eslint --fix

chore: small template literal fix
  src/client/src/apps/MainRoute/widgets/status-connection/StatusButton.tsx
Due: prettier --write, eslint --fix

fix(client): pwa display on ios (ARTP-1228)
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWAInstallModal.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWAInstallPrompt.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWALaunchButton.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/usePWABannerPrompt.tsx
  src/client/src/rt-components/icons/index.ts
  src/client/src/rt-system/environment.ts
Due: prettier --write, eslint --fix

feat(server): fix wrong date displayed in blotter (ARTP-1157)
  src/server/dotNet/Adaptive.ReactiveTrader.Server.TradeExecution/TradeExecutionEngine.cs
Due: none

feat(workspace): create blotter automated test (ARTP-1236)
  src/e2e/src/pages/blotter.component.ts
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

feat(workspace): remove local change (ARTP-1236)
  src/e2e/src/protractor.config.js
Due: prettier --write

feat(workspace): add get for (ARTP-1206)
  src/e2e/src/pages/blotter.component.ts
Due: prettier --write, eslint --fix

feat(workspace): clean up get functions (ARTP-1206)
  src/e2e/src/pages/blotter.component.ts
Due: prettier --write, eslint --fix

feat: changed kubernetes config files in order to enable a local deployment
  src/services/kubernetes/analytics-deployment.yaml
  src/services/kubernetes/blotter-deployment.yaml
  src/services/kubernetes/bot-deployment.yaml
  src/services/kubernetes/broker-deployment.yaml
  src/services/kubernetes/client-deployment.yaml
  src/services/kubernetes/eventstore-deployment.yaml
  src/services/kubernetes/nlp-deployment.yaml
  src/services/kubernetes/pricehistory-deployment.yaml
  src/services/kubernetes/pricing-deployment.yaml
  src/services/kubernetes/referencedataread-deployment.yaml
  src/services/kubernetes/tradeexecution-deployment.yaml
  src/services/kubernetes/web-deployment.yaml
Due: none

docs: added a guide on how to deploy locally with kubernetes
  docs/deployment/kubernetes-locally.md
Due: none

feat: added a script for deploy on kubernetes locally
  src/services/kubernetes/deploy_locally.sh
Due: none

feat: added job that seeds data and fixed the script
  src/services/kubernetes/deploy_locally.sh
  src/services/kubernetes/initialise/initialise-job.yaml
Due: none

fix(security): address npm audit security vulnerabilities
  package-lock.json
  package.json
  src/client/package-lock.json
  src/client/package.json
  src/server/node/bot/package-lock.json
  src/server/node/priceHistory/package-lock.json
  src/server/node/priceHistory/package.json
  src/server/node/shared/package-lock.json
Due: prettier --write

fix: set an higher value for the broker memory request
  src/services/kubernetes/broker-deployment.yaml
Due: none

feat: added cpu and memory requests for each pod ARTP-1112
  src/services/kubernetes/analytics-deployment.yaml
  src/services/kubernetes/blotter-deployment.yaml
  src/services/kubernetes/bot-deployment.yaml
  src/services/kubernetes/broker-deployment.yaml
  src/services/kubernetes/client-deployment.yaml
  src/services/kubernetes/eventstore-deployment.yaml
  src/services/kubernetes/nlp-deployment.yaml
  src/services/kubernetes/pricehistory-deployment.yaml
  src/services/kubernetes/pricing-deployment.yaml
  src/services/kubernetes/referencedataread-deployment.yaml
  src/services/kubernetes/tradeexecution-deployment.yaml
  src/services/kubernetes/web-deployment.yaml
Due: none

feat(client): upgrade openfin (ARTP-1232)
  src/client/package-lock.json
  src/client/package.json
  src/client/public/openfin/app.json
  src/client/public/openfin/launcher.json
Due: prettier --write

feat(client): replace openfin fdc3 service with fdc3 api (ARTP-1265)
  src/client/package-lock.json
  src/client/package.json
  src/client/public/openfin/app.json
  src/client/public/openfin/launcher.json
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/windowUtils.ts
  src/client/src/rt-interop/fdc3/adapter/openFin.ts
  src/client/src/rt-interop/fdc3/adapter/types.ts
  src/client/src/rt-interop/fdc3/contexts/getCurrencyPair.ts
  src/client/src/rt-interop/fdc3/provider.ts
  src/client/src/rt-interop/types.ts
Due: prettier --write, eslint --fix

fix: initialise event store as part of docker-compose
  src/docker-compose.yml
Due: none

fix(client): add fdc3 api to app config (ARTP-1269)
  src/client/src/apps/utils/openfin-utils.ts
Due: prettier --write, eslint --fix

feat: increased websocket timeout for web service to 1 day
  src/services/kubernetes/web-backend-config.yaml
  src/services/kubernetes/web-service.yaml
Due: none

feat: added new ingress configuration in order to replace nsgate
  src/services/kubernetes/deploy_locally.sh
  src/services/kubernetes/ingress.yaml
  src/services/kubernetes/web-service.yaml
Due: none

feat: added tls support
  src/services/kubernetes/ingress.yaml
Due: none

docs: added quick documentation to explain how to create a pre-shared certificate
  docs/deployment/tls-key-for-ingress.md
Due: none

fix(security): update npm dependencies
  package-lock.json
  src/client/package-lock.json
  src/client/package.json
  src/server/node/bot/package-lock.json
  src/server/node/bot/package.json
  src/server/node/nlp/package-lock.json
  src/server/node/nlp/package.json
  src/server/node/priceHistory/package-lock.json
  src/server/node/priceHistory/package.json
Due: prettier --write

Removes GlueCoreRoute to prevent double init of G42C
  src/client/public/manifest.json
  src/client/src/rt-platforms/glue/glueCore.ts
  src/client/src/rt-platforms/glue/glueCoreRoute.tsx
  src/client/src/rt-platforms/glue/index.ts
Due: prettier --write, eslint --fix

fix(client): reactive analytics from launcher window frame (ARTP-1278)
  src/client/.env
  src/client/public/openfin/app.json
  src/client/public/openfin/launcher.json
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
  src/services/kubernetes/smoketests-deployment.yaml
Due: prettier --write, eslint --fix

fix(client): manifest start url should not include glue42
  src/client/public/manifest.json
  src/client/src/rt-platforms/glue/glueCore.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,tsx,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
