Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(new-client): improve RFQ workflow
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.state.ts
Due: prettier --write, eslint --fix

test(new-client): add test for number column
  src/new-client/src/App/Trades/TradesGrid/TableHeadCell.tsx
  src/new-client/src/App/Trades/__tests__/Trades.filter.test.tsx
Due: prettier --write, eslint --fix

test(new-client): fix timers issue
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/src/App/LiveRates/Tile/Tile.test.tsx
  src/new-client/src/services/status/status.test.tsx
Due: prettier --write, eslint --fix

chore(deps): bump y18n from 4.0.0 to 4.0.1 (#1866)
  package-lock.json
  src/client/package-lock.json
  src/e2e/package-lock.json
Due: prettier --write

chore(new-client): document Trades code
  src/new-client/src/App/Trades/TradesGrid/TableHeadCell.tsx
  src/new-client/src/App/Trades/TradesHeader/ExcelButton.tsx
  src/new-client/src/App/Trades/TradesState/colConfig.ts
  src/new-client/src/App/Trades/TradesState/filterState/dateFilterState.ts
  src/new-client/src/App/Trades/TradesState/filterState/filterCommon.ts
  src/new-client/src/App/Trades/TradesState/filterState/index.ts
  src/new-client/src/App/Trades/TradesState/filterState/numFilterState.ts
  src/new-client/src/App/Trades/TradesState/filterState/setFilterState.ts
  src/new-client/src/App/Trades/TradesState/sortState.ts
  src/new-client/src/App/Trades/TradesState/tableTrades.ts
Due: prettier --write, eslint --fix

chore(new-client): add top-level aria regions and misc accessibility
  src/new-client/src/App/Analytics/AnalyticsCore.tsx
  src/new-client/src/App/Footer/StatusBar/StatusBar.tsx
  src/new-client/src/App/Header/Header.tsx
  src/new-client/src/App/LiveRates/MainHeader/MainHeader.test.tsx
  src/new-client/src/App/LiveRates/Tiles.tsx
  src/new-client/src/App/Trades/TradesCore.tsx
  src/new-client/src/App/Trades/TradesGrid/TableHeadCell.tsx
  src/new-client/src/App/Trades/TradesGrid/TradesGrid.tsx
  src/new-client/src/components/Logo.tsx
Due: prettier --write, eslint --fix

chore(new-client): add google analytics
  src/new-client/index.html
  src/new-client/setupTests.ts
  src/new-client/src/App/Footer/ContactUsButton/ContactUs.tsx
  src/new-client/src/App/Footer/ContactUsButton/FollowUs.tsx
  src/new-client/src/App/Header/Header.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.state.ts
  src/new-client/src/index.tsx
Due: prettier --write, eslint --fix

Standalone deployment for Storybook and the style guide (#1870)
  deploy/build.sh
  deploy/deploy.sh
  deploy/push.sh
  src/client/Dockerfile
  src/client/Storybook.Dockerfile
  src/client/Styleguide.Dockerfile
  src/client/nginx/default.conf
  src/client/package-lock.json
  src/client/package.json
  src/docker-compose.yml
  src/new-client/nginx/default.conf
  src/services/kubernetes/per-cluster/ingress-controller-configmap.yaml
  src/services/kubernetes/per-cluster/rt-ingress-demo.yaml
  src/services/kubernetes/per-cluster/rt-ingress-dev.yaml
  src/services/kubernetes/per-cluster/rt-ingress-uat.yaml
  src/services/kubernetes/per-deployment/ingress.yaml
  src/services/kubernetes/per-deployment/storybook.yaml
  src/services/kubernetes/per-deployment/styleguide.yaml
Due: prettier --write

Upgrade dependencies of new-client (#1868)
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/src/App/Analytics/Positions/__snapshots__/Positions.test.tsx.snap
  src/new-client/src/App/LiveRates/LiveRates.tsx
  src/new-client/src/App/LiveRates/Tiles.tsx
  src/new-client/src/services/currencyPairs/currencyPairs.ts
Due: prettier --write, eslint --fix

test(new-client): add rfq integration tests (#1869)
  src/new-client/src/App/Analytics/PnL/PNLBar.tsx
  src/new-client/src/App/LiveRates/MainHeader/ToggleView/ToggleView.tsx
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqButton.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqTimer.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.rfq.test.tsx
Due: prettier --write, eslint --fix

fix(new-client): fix resizing issue with analytics tiles (#1871)
  src/new-client/src/App/LiveRates/Tile/HistoricalGraph/HistoricalGraph.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.styles.tsx
Due: prettier --write, eslint --fix

feat: switch to new client in ingresses (#1872)
  .github/workflows/pull-origin-up.yml
  src/services/kubernetes/per-cluster/rt-ingress-demo.yaml
  src/services/kubernetes/per-cluster/rt-ingress-dev.yaml
  src/services/kubernetes/per-cluster/rt-ingress-uat.yaml
  src/services/kubernetes/per-deployment/ingress.yaml
Due: none

fix(new-client): show trade-id on execution report (#1874)
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.tsx
Due: prettier --write, eslint --fix

fix: revert client endpoint for web-* domains
  src/services/kubernetes/per-cluster/rt-ingress-demo.yaml
  src/services/kubernetes/per-cluster/rt-ingress-dev.yaml
  src/services/kubernetes/per-cluster/rt-ingress-uat.yaml
Due: none

fix: use HTTP01 ACME challenge for lb certs
  src/services/kubernetes/per-cluster/inbound-tls.yaml
  src/services/kubernetes/per-deployment/ingress.yaml
Due: none

fix(new-client): replace tile css grid with flexbox
  src/new-client/src/App/LiveRates/Tile/HistoricalGraph/HistoricalGraph.tsx
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.styles.ts
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqTimer.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.styles.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
Due: prettier --write, eslint --fix

fix(new-client): rfq initiate button size reduce fix
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.styles.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.styles.tsx
Due: prettier --write, eslint --fix

fix(new-client): add back spacing to rfq analytics buttons
  src/new-client/src/App/LiveRates/Tile/Tile.styles.tsx
Due: prettier --write, eslint --fix

fix(new-client): fix svg scaling when page resizes
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/src/App/LiveRates/Tile/HistoricalGraph/HistoricalGraph.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.styles.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
Due: prettier --write, eslint --fix

chore(e2e): eslint turn off requiring explicit return
  src/e2e/.eslintrc.json
Due: prettier --write

chore: upgrade lerna
  package-lock.json
  package.json
  src/client/package-lock.json
Due: prettier --write

Validate notional and prevent execution where value exceeds max (#1880)
  src/new-client/package-lock.json
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.styles.ts
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.tsx
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.test.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqButton.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.rfq.test.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
Due: prettier --write, eslint --fix

feat(PWA): new-client PWA
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/src/index.tsx
  src/new-client/src/serviceWorkerRegistration.ts
  src/new-client/src/sw.js
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

fix(new-client): remove console.log
  src/new-client/src/App/LiveRates/Tile/HistoricalGraph/HistoricalGraph.tsx
Due: prettier --write, eslint --fix

fix(new-client): center-align notional input in normal tile view (#1884)
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqTimer.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.styles.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
Due: prettier --write, eslint --fix

feat(PWA): trade notification
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.rfq.test.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.test.tsx
  src/new-client/src/index.tsx
  src/new-client/src/serviceWorkerRegistration.ts
  src/new-client/src/utils/sendNotification.ts
Due: prettier --write, eslint --fix

feat(PWA): trade notifications improvements
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.rfq.test.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.test.tsx
  src/new-client/src/index.tsx
  src/new-client/src/serviceWorkerRegistration.ts
  src/new-client/src/services/trades/trades.ts
  src/new-client/src/sw-notifications.ts
  src/new-client/src/utils/sendNotification.ts
Due: prettier --write, eslint --fix

feat(PWA): add 512px icon
  src/new-client/public/manifest.json
  src/new-client/public/static/media/adaptive-icon-512x512.png
Due: prettier --write

feat(PWA): Add maskable icon
  src/new-client/public/manifest.json
  src/new-client/public/static/media/maskable_icon.png
Due: prettier --write

fix(notifications): fixes for the notifications
  src/new-client/src/services/executions/executions.ts
  src/new-client/src/services/trades/trades.ts
  src/new-client/src/sw-notifications.ts
Due: prettier --write, eslint --fix

feat(PWA): set title bar theme color dynamically
  src/new-client/src/theme/ThemeContext.tsx
Due: prettier --write, eslint --fix

fix(new-client): exclude storybook and styleguide from service worker routing
  src/new-client/src/sw.js
Due: prettier --write

feat(new-client): improve service workers updates
  src/new-client/src/App/Analytics/Analytics.tsx
  src/new-client/src/App/Analytics/index.tsx
  src/new-client/src/App/LiveRates/LiveRates.tsx
  src/new-client/src/App/LiveRates/index.ts
  src/new-client/src/App/Trades/Trades.tsx
  src/new-client/src/App/Trades/index.tsx
  src/new-client/src/index.tsx
Due: prettier --write, eslint --fix

feat(ops): remove external-dns in favour of static wildcard records
  src/services/kubernetes/per-cluster/external-dns.yaml
  src/services/kubernetes/per-cluster/gateway.yaml
  src/services/kubernetes/per-cluster/rt-ingress-demo.yaml
  src/services/kubernetes/per-cluster/rt-ingress-dev.yaml
  src/services/kubernetes/per-cluster/rt-ingress-uat.yaml
Due: none

feat(new-client): storybook integration setup + header story
  src/new-client/.storybook/main.js
  src/new-client/.storybook/preview.js
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/src/App/Header/Header.stories.tsx
  src/new-client/src/stories/Story.tsx
  src/new-client/src/theme/ThemeStorageSwitch.tsx
  src/new-client/src/theme/index.ts
  src/new-client/src/utils/testUtils.tsx
Due: prettier --write, eslint --fix

feat(new-client): trades grid integration
  src/new-client/.storybook/main.js
  src/new-client/src/App/Trades/TradesGrid/TradesGrid.stories.tsx
  src/new-client/src/App/Trades/TradesState/tableTrades.ts
  src/new-client/src/services/client/client.mock.ts
Due: prettier --write, eslint --fix

feat(new-client): trades notification integration
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Pending.tsx
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.stories.tsx
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.styles.tsx
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqButton.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.styles.tsx
  src/new-client/src/components/OverlayDiv.tsx
Due: prettier --write, eslint --fix

feat(new-client): storybook analytics integration
  src/new-client/src/App/Analytics/Analytics.stories.tsx
  src/new-client/src/services/client/client.mock.ts
  src/new-client/src/services/client/mockData/mockAnalytics.ts
  src/new-client/src/services/client/mockData/mockCurrencyPair.ts
  src/new-client/src/services/client/mockData/mockPriceHistory.ts
  src/new-client/src/services/client/mockData/mockTrade.ts
Due: prettier --write, eslint --fix

chore(deps): bump hosted-git-info from 2.8.8 to 2.8.9
  package-lock.json
  src/client/package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,tsx,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
