Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

fix(client): add padding to booking tile
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

fix(deploy): rename web service yaml files [ARTP-877]
  src/services/kubernetes/web-deployment.yaml
  src/services/kubernetes/web-service.yaml
Due: none

feat(server): pretty-print json responses [ARTP-877]
  src/node-server/openfin-config/package-lock.json
  src/node-server/openfin-config/package.json
  src/node-server/openfin-config/src/index.ts
Due: prettier --write, eslint --fix

chore(deploy): remove redundant openfin config from nsgate [ARTP-877]
  src/services/nsgate/rc.yml
  src/services/nsgate/svc.yml
Due: none

build(client): add rfq timer to storybook(ARTP-574)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/PriveMovement.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/RfqTimer.stories.tsx
Due: prettier --write, eslint --fix

build(client): update trade confirmation page(ARTP-574)
  src/client/src/apps/MainRoute/components/notification/TradeNotification.stories.tsx
Due: prettier --write, eslint --fix

build(client): add warning for trade notification
  src/client/src/apps/MainRoute/components/notification/TradeNotification.stories.tsx
Due: prettier --write, eslint --fix

feat(server): get openfin config env from hostname [ARTP-877]
  src/node-server/openfin-config/src/index.ts
Due: prettier --write, eslint --fix

chore(client): update openfin config urls to match server [ARTP-877]
  src/client/lib/downloadInstaller.js
Due: prettier --write

fix(client): add more padding to executing status
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

fix(client): update snapshot test
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

feat(server): openfin-config aware its behind a proxy [ARTP-877]
  src/node-server/openfin-config/src/index.ts
Due: prettier --write, eslint --fix

feat(server): forward host to openfingconfig [ARTP-877]
  src/services/nginx/default.conf
Due: none

build(client): add rfq button in storybook
  src/client/src/apps/MainRoute/components/notification/TradeNotification.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/RfqButton.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/RfqTimer.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/test-resources/spotTileProps.ts
Due: prettier --write, eslint --fix

build(client): add rfq state in analytics view in storybook
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/AnalyticsTileSwitch.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/AnalyticsTitle.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/NotionalInput.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/TileSwitch.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/test-resources/spotTileProps.ts
Due: prettier --write, eslint --fix

build(client): add spot tile rfq mode in storybook
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/SpotTileSwitch.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/test-resources/spotTileProps.ts
Due: prettier --write, eslint --fix

build(client): add rfq timer to both view in storybook(ARTP-574)
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/AnalyticsTileSwitch.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/SpotTileSwitch.stories.tsx
Due: prettier --write, eslint --fix

fix(client): refactor storybook with nice hierarchy(ARTP-574)
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/AnalyticsTileSwitch.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/AnalyticsTitle.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/Initialise.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/NotionalInput.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/PriceButton.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/PriceControls.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/PriveMovement.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/RfqButton.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/RfqTimer.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/SpotTile.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/SpotTileSwitch.stories.tsx
Due: prettier --write, eslint --fix

fix(client): reject button is now fully clickable(ARTP-960)
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/styled.tsx
Due: prettier --write, eslint --fix

feat(styleguide): sticky navbar (ARTP-953)
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
  src/client/src/apps/StyleguideRoute/assets/adaptive-mark-large.png
  src/client/src/apps/StyleguideRoute/components/OnePageNavBar.tsx
  src/client/src/apps/StyleguideRoute/sections/Introduction.tsx
  src/client/src/rt-theme/colors.ts
  src/client/src/rt-theme/themes.ts
Due: prettier --write, eslint --fix

feat(styleguide): adjust intro section as per desing (ARTP-953)
  src/client/src/apps/StyleguideRoute/assets/adaptive-logo-without-background.png
  src/client/src/apps/StyleguideRoute/sections/Introduction.tsx
  src/client/src/rt-theme/colors.ts
Due: prettier --write, eslint --fix

feat(styleguide): add onepage navigation (ARTP-953)
  src/client/package.json
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
  src/client/src/apps/StyleguideRoute/components/OnePageNavBar.tsx
Due: prettier --write, eslint --fix

feat(styleguide): tidy up (ARTP-953)
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
  src/client/src/apps/StyleguideRoute/components/OnePageNavBar.tsx
Due: prettier --write, eslint --fix

feat(styleguide): package-lock.json modified with new library (ARTP-953)
  src/client/package-lock.json
Due: prettier --write

feat(styleguide): add sticky title to desktop resolution (ARTP-953)
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
  src/client/src/apps/StyleguideRoute/components/OnePageNavBar.tsx
Due: prettier --write, eslint --fix

feat(styleguide): tidy up package.json (ARTP-953)
  src/client/package-lock.json
  src/client/package.json
Due: prettier --write

new line for json
  src/client/package.json
Due: prettier --write

feat(styleguide): tidy up StyleGuide (ARTP-953)
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
Due: prettier --write, eslint --fix

fix(client): analytics tile not broken with large width(ARTP-958)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceMovement.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/RfqTimer.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/styled.tsx
Due: prettier --write, eslint --fix

fix(client): add padding to price movement (ARTP-934)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

feat(styleguide): use app logo instead asset images (ARTP-953)
  src/client/src/apps/StyleguideRoute/assets/adaptive-logo-without-background.png
  src/client/src/apps/StyleguideRoute/assets/adaptive-mark-large.png
  src/client/src/apps/StyleguideRoute/components/OnePageNavBar.tsx
  src/client/src/apps/StyleguideRoute/sections/Introduction.tsx
Due: prettier --write, eslint --fix

feat(styleguide): change text theme toggler (ARTP-954)
  src/client/src/apps/StyleguideRoute/components/FloatingsTools.tsx
Due: prettier --write, eslint --fix

fix(client): booking pill displays over graph (ARTP-963)
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/styled.tsx
Due: prettier --write, eslint --fix

fix(client): adaptive logo + executing text aligned in booking pill (ARTP-963)
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

fix(client): restructure storybook spot tile component
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/DeliveryDate.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/HorizontalTile.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/HorizontalTileSwitch.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/Initialise.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/NotionalInput.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/TileSymbol.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/VerticalView.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/VerticalViewSwitch..stories.tsx
Due: prettier --write, eslint --fix

fix(client): remove unusable code
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/Initialise.stories.tsx
Due: prettier --write, eslint --fix

fix(client): re-align/center logo (ARTP-963)
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

fix(client): remove overlap of reject button + reposition timer over progressbar (ARTP-963)
  src/client/src/apps/MainRoute/widgets/spotTile/components/RfqTimer.tsx
Due: prettier --write, eslint --fix

fix(client): update snapshot tests (ARTP-963)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

feat(styleguide): fix comments on PR (ARTP-953)
  src/client/package.json
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
Due: prettier --write, eslint --fix
