Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(launcher): replaces trader and analytics icons with new ones (ARTP-1123)
  src/client/src/apps/SimpleLauncher/icons/reactiveAnalyticsIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/reactiveTraderIcon.tsx
Due: prettier --write, eslint --fix

feat(launcher): changes icon colors (ARTP-1123)
  src/client/src/apps/SimpleLauncher/LaunchButton.tsx
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/LauncherApps.tsx
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
  src/client/src/apps/SimpleLauncher/icons/DynamicLauncherIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/LauncherIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/excelIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/limitCheckerIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/reactiveAnalyticsIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/reactiveTraderIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/searchIcon.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
  src/client/src/apps/SimpleLauncher/styles.ts
Due: prettier --write, eslint --fix

feat(launcher): updates platform logo in launcher (ARTP-1123)
  src/client/src/apps/SimpleLauncher/spotlight/components/getInlineSuggestionsComponent.tsx
Due: prettier --write, eslint --fix

feat(launcher): adjusts launcher body colors (ARTP-1123)
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
  src/client/src/apps/SimpleLauncher/styles.ts
Due: prettier --write, eslint --fix

fix(spot-tile): Fix limit checker error on spot tile not timing out
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/NotificationContainer.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/epics/spotTileEpics.ts
Due: prettier --write, eslint --fix

fix(build): remove parallel
  .github/workflows/ci.yml
Due: none

fix(build): update package-lock file
  src/server/node/bot/package-lock.json
Due: prettier --write

fix(build): explicit moment version
  src/server/node/bot/package-lock.json
  src/server/node/bot/package.json
Due: prettier --write

fix(build): restore parallel docker build
  .github/workflows/ci.yml
Due: none

chore(build): change docker files to use npm ci
  src/client/Dockerfile
  src/server/node/Nlp.Dockerfile
  src/server/node/OpenfinConfig.Dockerfile
  src/server/node/bot/Dockerfile
  src/server/node/priceHistory/Dockerfile
Due: none

New splash screens created
  src/client/public/splashscreens/ipad_splash.png
  src/client/public/splashscreens/ipadpro1_splash.png
  src/client/public/splashscreens/ipadpro2_splash.png
  src/client/public/splashscreens/iphone5_splash.png
  src/client/public/splashscreens/iphone6_splash.png
  src/client/public/splashscreens/iphoneplus_splash.png
  src/client/public/splashscreens/iphonex_splash.png
  src/client/public/splashscreens/iphonexr_splash.png
  src/client/public/splashscreens/iphonexsmax_splash.png
Due: none

fix(build): package-lock not include by docker file for bot
  src/server/node/bot/Dockerfile
  src/server/node/bot/Dockerfile.dev
Due: none

Replacing launcher icons and default splash screen
  src/client/public/static/media/adaptive-logo-without-background.png
  src/client/public/static/media/adaptive-mark-large.png
  src/client/public/static/media/icon.ico
  src/client/public/static/media/logo-ra.png
  src/client/public/static/media/ra-icon.ico
  src/client/public/static/media/rt-icon.ico
  src/client/public/static/media/splash-screen.jpg
Due: none

bugfix(openfin): Fix header issue; change fill-rule to fillRule
  src/client/src/apps/SimpleLauncher/icons/reactiveAnalyticsIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/reactiveTraderIcon.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
Due: prettier --write, eslint --fix

build(pricehistory): update docker file
  src/server/node/PriceHistory.Dockerfile
  src/server/node/priceHistory/Dockerfile
Due: none

fix(build): add deployment of kubernetes services
  .github/workflows/deploy.yml
Due: none

fix(build): simplify
  .github/workflows/deploy.yml
Due: none

fix(spot-tile): Fix spot tile notification to add warning state
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/NotificationContainer.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/epics/executionService.ts
  src/client/src/apps/MainRoute/widgets/spotTile/epics/spotTileEpics.ts
  src/client/src/apps/MainRoute/widgets/spotTile/model/executeTradeRequest.ts
  src/client/src/apps/MainRoute/widgets/spotTile/model/spotTileData.ts
Due: prettier --write, eslint --fix

fix(spot-tile): switch notification states of limit exceeded & trade taking long
  src/client/src/apps/MainRoute/widgets/spotTile/epics/executionService.ts
  src/client/src/apps/MainRoute/widgets/spotTile/epics/spotTileEpics.ts
Due: prettier --write, eslint --fix

minor fixes
  src/client/src/apps/MainRoute/components/notification/TradeNotification.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/epics/executionService.ts
  src/e2e/src/utils/assert.utils.ts
Due: prettier --write, eslint --fix

fix(components): Fix component headers not visible in light mode
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
Due: prettier --write, eslint --fix

fix(launcher): Change launcher height; remove header background in torn off component
  src/client/src/rt-interop/intents/showMarket.ts
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
Due: prettier --write, eslint --fix

build: trigger uat deployment on tag push
  .github/workflows/ci.yml
Due: none

bug(finsemble): fixes bug preventing finsemble from loading (ARTP-1136)
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
  src/client/src/rt-platforms/index.ts
  src/client/src/rt-platforms/openFin/adapter/index.ts
  src/client/src/rt-platforms/openFin/adapter/launcherUtils.ts
  src/client/src/rt-platforms/openFin/adapter/window.ts
  src/client/src/rt-platforms/openFin/index.ts
Due: prettier --write, eslint --fix

bug(finsemble): cleanup after cherry pickk (ARTP-1136)
  src/client/src/rt-platforms/index.ts
Due: prettier --write, eslint --fix

fix(blotter): Fix blotter to fill space entirely when live rates are popped out
  src/client/src/rt-components/resizer/Resizer.tsx
Due: prettier --write, eslint --fix

bug(finsemble): updates snapshot test (ARTP-1136)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

bug(finsemble): guard against undefined fin object (ARTP-1136)
  src/client/src/rt-platforms/openFin/adapter/launcherUtils.ts
Due: prettier --write, eslint --fix

bug(finsemble): update snap file (ARTP-1136)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/Tile.test.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: prettier --write, eslint --fix

Icons and splash screen update
  src/client/public/static/media/adaptive-favicon.ico
  src/client/public/static/media/adaptive-icon-128x128.png
  src/client/public/static/media/adaptive-icon-16x16.png
  src/client/public/static/media/adaptive-icon-256x256.png
  src/client/public/static/media/adaptive-icon-32x32.png
  src/client/public/static/media/adaptive-icon-64x64.png
  src/client/public/static/media/adaptive-icon-no-bkgd-256x256.png
  src/client/public/static/media/adaptive.ico
  src/client/public/static/media/reactive-analytics-icon-128x128.png
  src/client/public/static/media/reactive-analytics-icon-16x16.png
  src/client/public/static/media/reactive-analytics-icon-256x256.png
  src/client/public/static/media/reactive-analytics-icon-32x32.png
  src/client/public/static/media/reactive-analytics-icon-64x64.png
  src/client/public/static/media/reactive-analytics-icon-no-bkgd-256x256.png
  src/client/public/static/media/reactive-trader-icon-128x128.png
  src/client/public/static/media/reactive-trader-icon-16x16.png
  src/client/public/static/media/reactive-trader-icon-256x256.png
  src/client/public/static/media/reactive-trader-icon-32x32.png
  src/client/public/static/media/reactive-trader-icon-64x64.png
  src/client/public/static/media/reactive-trader-icon-no-bkgd-256x256.png
  src/client/public/static/media/reactive_analytics.ico
  src/client/public/static/media/reactive_trader.ico
  src/client/public/static/media/splash-screen.png
Due: none

chore(merge): release/1.4 branch into master
  .github/workflows/ci.yml
  src/client/src/apps/MainRoute/components/notification/TradeNotification.stories.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/Tile.test.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/NotificationContainer.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/epics/executionService.ts
  src/client/src/apps/MainRoute/widgets/spotTile/model/executeTradeRequest.ts
  src/client/src/apps/MainRoute/widgets/spotTile/model/spotTileData.ts
  src/client/src/rt-components/resizer/Resizer.tsx
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
  src/client/src/rt-interop/intents/showMarket.ts
  src/client/src/rt-platforms/index.ts
  src/client/src/rt-platforms/openFin/adapter/index.ts
  src/client/src/rt-platforms/openFin/adapter/launcherUtils.ts
  src/client/src/rt-platforms/openFin/adapter/window.ts
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openFin/index.ts
  src/e2e/src/utils/assert.utils.ts
Due: prettier --write, eslint --fix

feat(finsemble): add finsemble library feat(finsemble): add finsemble limit checker feat(finsemble): implement FSBL fix(build): npm token
  src/client/.npmrc
  src/client/Dockerfile
  src/client/Dockerfile.dev
  src/client/package-lock.json
  src/client/package.json
  src/client/src/rt-platforms/finsemble/finsemble.ts
  src/client/src/rt-platforms/finsemble/finsembleClient.js
  src/client/src/rt-platforms/finsemble/index.ts
  src/client/src/rt-platforms/finsemble/limitChecker/finsembleLimitChecker.ts
  src/client/src/rt-platforms/limitChecker.ts
  src/client/src/type-declarations/globals.d.ts
  src/docker-compose.yml
Due: prettier --write, eslint --fix

bug(icons): updates icons (ARTP-1149)
  src/client/public/config/openfin/demo.json
  src/client/public/config/openfin/dev.json
  src/client/public/config/openfin/launcher-demo.json
  src/client/public/config/openfin/launcher-dev.json
  src/client/public/config/openfin/launcher-local.json
  src/client/public/config/openfin/launcher-uat.json
  src/client/public/config/openfin/local.json
  src/client/public/config/openfin/uat.json
  src/server/node/openfin-config/src/config/app.ts
  src/server/node/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

fix(build): chartiq in optional dependencies
  src/client/package.json
Due: prettier --write

fix(build): secret
  .github/workflows/ci.yml
Due: none

fix(launcher): Fix launcher search results not resetting
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/SearchControl.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/useNlpService.ts
Due: prettier --write, eslint --fix

bug(icons): updates shortcut icons (ARTP-1149)
  src/client/public/config/openfin/demo.json
  src/client/public/config/openfin/dev.json
  src/client/public/config/openfin/launcher-demo.json
  src/client/public/config/openfin/launcher-dev.json
  src/client/public/config/openfin/launcher-local.json
  src/client/public/config/openfin/launcher-uat.json
  src/client/public/config/openfin/local.json
  src/client/public/config/openfin/uat.json
Due: prettier --write

fix(client): icon cleanup (ARTP-1149)
  src/client/public/config/openfin/demo.app.json
  src/client/public/config/openfin/demo.json
  src/client/public/config/openfin/dev.json
  src/client/public/config/openfin/launcher-dev.json
  src/client/public/config/openfin/local-blotter.json
  src/client/public/config/openfin/local.json
  src/client/public/config/openfin/uat.json
  src/client/public/static/media/adaptive-favicon.ico
  src/client/public/static/media/adaptive-logo-without-background.png
  src/client/public/static/media/adaptive-mark-large.png
  src/client/public/static/media/apps-icon.ico
  src/client/public/static/media/ic-mic_1.ico
  src/client/public/static/media/icon.ico
  src/client/public/static/media/launcher-icon.ico
  src/client/public/static/media/logo-ra.png
  src/client/public/static/media/ra-icon.ico
  src/client/public/static/media/reactive-analytics.ico
  src/client/public/static/media/reactive-trader.ico
  src/client/public/static/media/rt-icon.ico
  src/client/public/static/media/splash-screen.jpg
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
  src/server/node/openfin-config/src/config/app.ts
  src/server/node/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

fix(launcher): Fix launcher button labels to spec
  src/client/src/rt-interop/intents/responseMapper.ts
Due: prettier --write, eslint --fix

bug(launcher): inline quotee date formatting (ARTP-1155)
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineQuote.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,tsx,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
