Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Update documentation about dotnet core and new server folder structure
  docs/deployment/run-rtc-with-kubernetes.md
  docs/server.md
  docs/setup/macos-setup.md
  docs/setup/windows-setup.md
Due: none

fix(launcher): tidy up search control
  src/client/src/apps/SimpleLauncher/spotlight/components/SearchControl.tsx
Due: prettier --write, eslint --fix

feat(launcher): align search bar and launcher to designs(ARTP-1029)
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/SearchControl.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
  src/client/src/apps/SimpleLauncher/styles.ts
  src/client/src/apps/SimpleLauncher/windowUtils.ts
  src/client/src/rt-components/adaptive-loader/AdaptiveLoader.tsx
  src/client/src/rt-components/icons/LogoIcon.tsx
Due: prettier --write, eslint --fix

chore: latest version of crossbar io
  src/services/broker/Dockerfile
Due: none

refactor(styleguide): change theme and colors for styleguide (ARTP-1007)
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
  src/client/src/apps/StyleguideRoute/components/ButtonGrid.tsx
  src/client/src/apps/StyleguideRoute/components/FormGrid.tsx
  src/client/src/apps/StyleguideRoute/components/OnePageNavBar.tsx
  src/client/src/apps/StyleguideRoute/sections/Atoms.tsx
  src/client/src/apps/StyleguideRoute/sections/CoreBranding.tsx
  src/client/src/apps/StyleguideRoute/sections/FontFamilies.tsx
  src/client/src/apps/StyleguideRoute/sections/Iconography.tsx
  src/client/src/apps/StyleguideRoute/sections/Introduction.tsx
  src/client/src/apps/StyleguideRoute/styled/SectionBlock.tsx
  src/client/src/rt-theme/colors.ts
  src/client/src/rt-theme/themes.ts
Due: prettier --write, eslint --fix

refactor(styleguide): update RT to new color palette (ARTP-1007)
  src/client/src/apps/MainRoute/widgets/analytics/components/LastPosition.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/analyticsBarChart/PNLBar.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/analyticsBarChart/styled.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/analyticsLineChart/styled.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/styled.tsx
  src/client/src/apps/MainRoute/widgets/blotter/components/BlotterGrid.tsx
  src/client/src/apps/MainRoute/widgets/blotter/components/toolbar/QuickFilter.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/TileBookingSwitch.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceMovement.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/RfqTimer.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileExecuted.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileNotification.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notional/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/styled.tsx
  src/client/src/apps/MainRoute/widgets/status-connection/styled.tsx
  src/client/src/rt-styleguide/components/Button.tsx
Due: prettier --write, eslint --fix

refactor(styleguide): update snapshots (ARTP-1007)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notional/__snapshots__/NotionalInput.test.tsx.snap
Due: none

fix(theme): fix accents names (ARTP-1007)
  src/client/src/apps/MainRoute/components/notification/styled.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/LastPosition.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/analyticsBarChart/PNLBar.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/positions-chart/PositionsBubbleChart.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/styled.tsx
  src/client/src/apps/MainRoute/widgets/analytics/globals/variables.ts
  src/client/src/apps/MainRoute/widgets/blotter/components/BlotterGrid.tsx
  src/client/src/apps/MainRoute/widgets/blotter/components/toolbar/QuickFilter.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/TileBookingSwitch.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceMovement.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/RfqTimer.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileExecuted.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileNotification.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notional/styled.tsx
  src/client/src/apps/MainRoute/widgets/status-connection/styled.tsx
  src/client/src/apps/StyleguideRoute/components/ConfirmationGrid.tsx
  src/client/src/apps/StyleguideRoute/components/FormGrid.tsx
  src/client/src/apps/StyleguideRoute/components/OnePageNavBar.tsx
  src/client/src/apps/StyleguideRoute/sections/CoreBranding.tsx
  src/client/src/apps/StyleguideRoute/styled/SectionBlock.tsx
  src/client/src/rt-styleguide/components/Input.tsx
  src/client/src/rt-theme/colors.ts
  src/client/src/rt-theme/themes.ts
Due: prettier --write, eslint --fix

fix(test): fix error on failing test (ARTP-915)
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileNotification.tsx
Due: prettier --write, eslint --fix

fix(config): update old launcher config to match the new one
  src/client/public/config/openfin/launcher-dev.json
  src/client/public/config/openfin/launcher-uat.json
Due: prettier --write

Adjusts spot tile height
  src/client/src/apps/MainRoute/components/windowFrame/WindowFrame.tsx
  src/client/src/apps/MainRoute/routes/SpotRoute.tsx
  src/client/src/apps/MainRoute/widgets/workspace/selectors.ts
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
Due: prettier --write, eslint --fix

feat: update openfin logo and new splash screen (ARTP-1039, ARTP-1040)
  src/client/public/config/openfin/local-platform.json
  src/client/public/static/media/splash-screen.jpg
  src/client/public/static/media/splash.png
  src/client/src/rt-platforms/openFin/adapter/assets/OpenFinLogo.tsx
  src/client/src/rt-platforms/openFin/adapter/logo.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
  src/node-server/openfin-config/src/config/platform.ts
Due: prettier --write, eslint --fix

fix(controls): fix for maximize button (ARTP-1031)
  src/client/src/rt-platforms/openFin/adapter/window.ts
Due: prettier --write, eslint --fix

Update height of spot tiles in canned.json
  src/client/src/rt-platforms/openFin/snapshots/canned.json
Due: prettier --write

Updates canned sizes/positions
  src/client/src/rt-platforms/openFin/snapshots/canned.json
Due: prettier --write

fix(controls): tidy up - remove unnecesary print (ARTP-1031)
  src/client/src/rt-platforms/openFin/adapter/window.ts
Due: prettier --write, eslint --fix

fix(controls): hide maximise buttons on child windows (ARTP-1035)
  src/client/src/apps/MainRoute/components/windowFrame/WindowFrame.tsx
Due: prettier --write, eslint --fix

fix(controls): tidy up (ARTP-1035)
  src/client/src/apps/MainRoute/components/windowFrame/WindowFrame.tsx
Due: prettier --write, eslint --fix

ci: downscale existing deployments before new deployment
  .circleci/config.yml
Due: none

chore: Document how to run node components
  README.md
  docs/client.md
  docs/server-node.md
  docs/server.md
  docs/setup/macos-setup.md
  src/server/node/nlp/src/index.ts
  src/server/node/priceHistory/src/index.ts
Due: prettier --write, eslint --fix

fix: prepare environment variable to run in local
  src/server/node/bot/src/index.ts
  src/server/node/nlp/.env
Due: prettier --write, eslint --fix

chore: put documentation up to date
  docs/client.md
  docs/server.md
  docs/setup/linux-setup.md
  docs/setup/macos-setup.md
  docs/setup/setup.md
  docs/setup/windows-setup.md
Due: none

Removes max width and height to allow resizing
  src/client/src/apps/MainRoute/widgets/workspace/selectors.ts
Due: prettier --write, eslint --fix

fix(launcher): fix market in launcher by updating the url (ARTP-1041)
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/rt-interop/intents/showMarket.ts
Due: prettier --write, eslint --fix

Adds comment
  src/client/src/apps/MainRoute/widgets/workspace/selectors.ts
Due: prettier --write, eslint --fix

check if context matches current snapshot view
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/rt-platforms/openFin/snapshots/index.ts
Due: prettier --write, eslint --fix

Adds Openfin case for app title
  src/client/src/index.tsx
Due: prettier --write, eslint --fix

fix(launcher): fix launcher resize issue(ARTP-1028)
  src/client/src/apps/SimpleLauncher/windowUtils.ts
Due: prettier --write, eslint --fix

feat(trader): change toggle buttons for on/off state button (ARTP-1047)
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/ToggleView.tsx
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/WorkspaceHeader.tsx
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/styled.tsx
Due: prettier --write, eslint --fix

test(e2e): fix test for notional validation (ARTP-1047)
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

test(e2e): fix test for RFQ validation (ARTP-1047)
  src/e2e/src/pages/tile.component.ts
Due: prettier --write, eslint --fix

Allow snapshots from cold start
  src/client/src/rt-platforms/openFin/snapshots/index.ts
Due: prettier --write, eslint --fix

Changes env name after CR feedback
  src/client/src/index.tsx
Due: prettier --write, eslint --fix

Removes superfluous name check
  src/client/src/rt-platforms/openFin/snapshots/index.ts
Due: prettier --write, eslint --fix

feat(trader): tidy up (ARTP-1047)
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/ToggleView.tsx
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/styled.tsx
  src/client/src/rt-components/icons/ChartIcon.tsx
Due: prettier --write, eslint --fix

Updates canned.json version number
  src/client/src/rt-platforms/openFin/snapshots/canned.json
Due: prettier --write

Hides container labels when resizing
  src/client/src/rt-theme/globals.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,tsx,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
