Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(server): remove eslint ignores [ARTP-877]
  src/node-server/openfin-config/src/config/get.ts
Due: prettier --write, eslint --fix

chore(services): add nginx routing for openfin-config app [ARTP-877]
  src/services/nginx/default.conf
Due: none

chore(client): update openfin-config download url [ARTP-877]
  src/client/lib/downloadInstaller.js
Due: prettier --write

chore(e2e): openfinconfig & nlp dependencies of e2e [ARTP-877]
  src/docker-compose.e2e.yml
  src/e2e/Dockerfile
Due: none

feat(server): openfin config url path updates [ARTP-877]
  src/node-server/openfin-config/src/index.ts
  src/services/nginx/default.conf
Due: prettier --write, eslint --fix

feat(client): update openfin config url to match server [ARTP-877]
  src/client/lib/downloadInstaller.js
Due: prettier --write

chore(server): remove redundant ts ignores
  src/node-server/openfin-config/src/config/app.ts
  src/node-server/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

feat(server): extend app specific openfin configs from base [ARTP-877]
  src/node-server/openfin-config/package-lock.json
  src/node-server/openfin-config/package.json
  src/node-server/openfin-config/src/config/app.ts
  src/node-server/openfin-config/src/config/base.ts
  src/node-server/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

fix(client): update snapshot test(ARTP-934)
  src/client/src/apps/MainRoute/widgets/spotTile/components/RfqTimer.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/SpotTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/AnalyticsTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

Revert "feat(client): remove redundant openfin configs [ARTP-877]"
  src/client/public/config/openfin/demo.app.json
  src/client/public/config/openfin/demo.json
  src/client/public/config/openfin/dev.json
  src/client/public/config/openfin/launcher-demo.json
  src/client/public/config/openfin/launcher-dev.json
  src/client/public/config/openfin/launcher-uat.json
  src/client/public/config/openfin/uat.json
Due: prettier --write

fix(client): update e2e test(ARTP-927)
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

feat(config): osx installer for launcher [ARTP-330]
  src/client/lib/downloadInstaller.js
Due: prettier --write

feat(config): push openfinconfig image on deploy [ARTP-877]
  .circleci/config.yml
Due: none

fix(client): refactor and update snapshot test
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/PriceControls.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/TileBookingSwitch.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/SpotTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/AnalyticsTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/PriveMovement.stories.tsx
Due: prettier --write, eslint --fix

feat(config): use nlp secret key [ARTP-877]
  src/services/kubernetes/openfinconfig-deployment.yaml
Due: none

feat(config): add openfinconfig to nsgate [ARTP-877]
  src/services/nsgate/rc.yml
  src/services/nsgate/svc.yml
Due: none

fix(client): align name for consistency
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/PriceControls.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/TileBookingSwitch.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceMovement.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/stories/PriveMovement.stories.tsx
Due: prettier --write, eslint --fix

fix(client): adjust spot tiles on resize (ARTP-933)
  src/client/src/apps/MainRoute/widgets/spotTile/components/styled.tsx
  src/client/src/apps/MainRoute/widgets/workspace/Workspace.tsx
Due: prettier --write, eslint --fix

fix(client): update snapshot (ARTP-933)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

fix(client): display name for trader app on launch bar (ARTP-939)
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
Due: prettier --write, eslint --fix

fix(client): taskbar/webpagetitle display name (ARTP-939)
  src/client/src/index.tsx
Due: prettier --write, eslint --fix

fix(client): tidy up (ARTP-939)
  src/client/src/index.tsx
Due: prettier --write, eslint --fix

fix(client): return app name to config file one (ARTP-939)
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
Due: prettier --write, eslint --fix

fix(client): add responsive design and update with master
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

fix(client): add displayName property to buttons labels (ARTP-939)
  src/client/src/apps/SimpleLauncher/LauncherApps.tsx
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
Due: prettier --write, eslint --fix

feat(config): add openfinconfig service to k8s [ARTP-877]
  src/services/kubernetes/openfinconfig-service.yaml
Due: none

fix(client): add npm scripts for diffenrent envs launcher (ARTP-939)
  src/client/package.json
Due: prettier --write

fixes functions
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
Due: prettier --write, eslint --fix

remove listener when window unload
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
Due: prettier --write, eslint --fix

use the same listener
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
Due: prettier --write, eslint --fix

take until the app disconnect
  src/client/src/apps/MainRoute/widgets/blotter/epics/blotterHighlightEpic.ts
Due: prettier --write, eslint --fix

refactor(client): tidy up openfin event listeners [ARTP-901]
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
Due: prettier --write, eslint --fix

fix(client)non-stop-flashing-blotter (ARTP-901)
  src/client/src/apps/MainRoute/widgets/blotter/components/BlotterGrid.tsx
  src/client/src/apps/MainRoute/widgets/blotter/epics/blotterHighlightEpic.ts
Due: prettier --write, eslint --fix

feat(client): allow child windows to be minimized [ARTP-942]
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
Due: prettier --write, eslint --fix

fix(client): make it mobile responsive
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceControls/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

fix(client): update snapshot testing
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

feat(client): upgrade glue42 dependencies
  src/client/package-lock.json
  src/client/package.json
  src/client/src/rt-platforms/glue/window.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,tsx,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
