Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

feat(icons): tidy up (ARTP-997)
  src/client/src/apps/SimpleLauncher/LaunchButton.tsx
Due: prettier --write, eslint --fix

ci: downscale existing deployments before new deployment
  .circleci/config.yml
Due: none

feat(client): reworked analytics header to match others (ARTP-999)
  src/client/src/apps/MainRoute/widgets/analytics/components/Analytics.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/AnalyticsWindowControls.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/ProfitAndLoss.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/styled.tsx
Due: prettier --write, eslint --fix

fix(client): open spot tile in glue
  src/client/src/rt-platforms/glue/window.ts
Due: prettier --write, eslint --fix

fix(client): add pop-out icon with hover state(ARTP-998)
  src/client/src/apps/MainRoute/widgets/analytics/components/AnalyticsHeader.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/styled.tsx
  src/client/src/apps/MainRoute/widgets/blotter/components/BlotterHeader.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/TileControls.tsx
  src/client/src/apps/SimpleLauncher/icons/index.ts
  src/client/src/apps/SimpleLauncher/icons/maximiseScreenIcon.tsx
  src/client/src/apps/SimpleLauncher/styles.ts
  src/client/src/rt-components/icons/PopoutIcon.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
Due: prettier --write, eslint --fix

fix(client): pop-out button for spottile now in correct position
  src/client/src/apps/MainRoute/widgets/spotTile/components/TileControls.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/TileHeader.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/styled.tsx
Due: prettier --write, eslint --fix

fix(client): add pop-in icon in openfin(ATRP-998)
  src/client/src/apps/MainRoute/widgets/spotTile/components/TileHeader.tsx
  src/client/src/apps/SimpleLauncher/icons/index.ts
  src/client/src/apps/SimpleLauncher/icons/popInIcon.tsx
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openFin/components/Openfin.stories.tsx
Due: prettier --write, eslint --fix

fix(client): update snapshot test
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

fix: reduce the distance between minimize and close button for spottile
  src/client/src/apps/MainRoute/routes/SpotRoute.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
Due: prettier --write, eslint --fix

build: remove key from container
  src/services/kubernetes/openfinconfig-deployment.yaml
Due: none

feat(styleguide): input added to atoms section(ARTP-956)
  package-lock.json
  package.json
  src/client/package-lock.json
  src/client/package.json
  src/client/src/apps/MainRoute/data/compositeStatus/index.ts
  src/client/src/apps/MainRoute/data/connectionStatus/connectionStatusService.ts
  src/client/src/apps/MainRoute/data/connectionStatus/index.ts
  src/client/src/apps/MainRoute/data/referenceData/index.ts
  src/client/src/apps/MainRoute/widgets/analytics/model/currencyPairPosition.ts
  src/client/src/apps/MainRoute/widgets/analytics/model/index.ts
  src/client/src/apps/MainRoute/widgets/blotter/index.ts
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/model/index.ts
  src/client/src/apps/MainRoute/widgets/status-bar/StatusBar.stories.tsx
  src/client/src/apps/MainRoute/widgets/workspace/Workspace.tsx
  src/client/src/apps/StyleguideRoute/components/ColorBlocks.tsx
  src/client/src/apps/StyleguideRoute/components/FormGrid.tsx
  src/client/src/apps/StyleguideRoute/sections/Atoms.tsx
  src/client/src/apps/StyleguideRoute/sections/CoreBranding.tsx
  src/client/src/apps/StyleguideRoute/styled/index.tsx
  src/client/src/rt-platforms/index.ts
  src/client/src/rt-platforms/symphony/index.ts
  src/client/src/rt-styleguide/components/Input.tsx
  src/client/src/rt-styleguide/index.ts
  src/client/src/rt-system/index.ts
  src/client/src/rt-theme/index.ts
  src/client/src/rt-types/index.ts
  src/client/src/rt-util/index.ts
  src/client/tsconfig.json
Due: prettier --write, eslint --fix

fix(client): add hover state to pop-out button
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/styled.tsx
Due: prettier --write, eslint --fix

fix(client): the pop-out button and date now match the zeplin
  src/client/src/apps/MainRoute/widgets/spotTile/components/SpotTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/Tile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/TileSwitch.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/AnalyticsTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/types.ts
Due: prettier --write, eslint --fix

chore: update documentation to run rtc with docker and kubernetes
  docs/deployment/readme.md
  docs/deployment/run-rtc-with-kubernetes.md
Due: none

chore: fixes
  docs/deployment/readme.md
  docs/deployment/run-rtc-with-kubernetes.md
Due: none

chore: more info in doc
  docs/deployment/run-rtc-with-kubernetes.md
Due: none

Update run-rtc-with-kubernetes.md
  docs/deployment/run-rtc-with-kubernetes.md
Due: none

chore: improvement
  docs/deployment/run-rtc-with-kubernetes.md
Due: none

feat: fix platform config
  src/client/package-lock.json
  src/client/package.json
  src/client/public/config/openfin/demo-platform.json
  src/client/public/config/openfin/local-platform.json
  src/client/src/rt-platforms/openFin/adapter/epics.ts
  src/client/src/rt-platforms/openFin/adapter/index.ts
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
  src/client/src/rt-platforms/openFin/index.ts
  src/node-server/openfin-config/src/config/get.ts
  src/node-server/openfin-config/src/config/platform.ts
Due: prettier --write, eslint --fix

chore: Upgrade to .NET Core 3.1
  src/server/Adaptive.ReactiveTrader.Common.UnitTests/Adaptive.ReactiveTrader.Common.UnitTests.csproj
  src/server/Adaptive.ReactiveTrader.Common/Adaptive.ReactiveTrader.Common.csproj
  src/server/Adaptive.ReactiveTrader.Contract/Adaptive.ReactiveTrader.Contract.csproj
  src/server/Adaptive.ReactiveTrader.EventStore/Adaptive.ReactiveTrader.EventStore.csproj
  src/server/Adaptive.ReactiveTrader.Messaging/Adaptive.ReactiveTrader.Messaging.csproj
  src/server/Adaptive.ReactiveTrader.Messaging/Broker.cs
  src/server/Adaptive.ReactiveTrader.Messaging/IBroker.cs
  src/server/Adaptive.ReactiveTrader.Server.Analytics/Adaptive.ReactiveTrader.Server.Analytics.csproj
  src/server/Adaptive.ReactiveTrader.Server.Blotter/Adaptive.ReactiveTrader.Server.Blotter.csproj
  src/server/Adaptive.ReactiveTrader.Server.Common/Adaptive.ReactiveTrader.Server.Common.csproj
  src/server/Adaptive.ReactiveTrader.Server.Host/Adaptive.ReactiveTrader.Server.Host.csproj
  src/server/Adaptive.ReactiveTrader.Server.IntegrationTests/Adaptive.ReactiveTrader.Server.IntegrationTests.csproj
  src/server/Adaptive.ReactiveTrader.Server.Launcher/Adaptive.ReactiveTrader.Server.Launcher.csproj
  src/server/Adaptive.ReactiveTrader.Server.Pricing/Adaptive.ReactiveTrader.Server.Pricing.csproj
  src/server/Adaptive.ReactiveTrader.Server.ReferenceDataRead/Adaptive.ReactiveTrader.Server.ReferenceDataRead.csproj
  src/server/Adaptive.ReactiveTrader.Server.ReferenceDataWrite/Adaptive.ReactiveTrader.Server.ReferenceDataWrite.csproj
  src/server/Adaptive.ReactiveTrader.Server.TradeExecution/Adaptive.ReactiveTrader.Server.TradeExecution.csproj
  src/server/Adaptive.ReactiveTrader.Server.sln
Due: none

chore: update docker file
  src/server/Dockerfile
Due: none

fix: base url for platform UI
  src/node-server/openfin-config/src/config/platform.ts
Due: prettier --write, eslint --fix

chore: upgrade ES version
  src/services/eventstore/Dockerfile
Due: none

fix: restore openfin config file
  src/client/public/config/openfin/demo-platform.json
Due: prettier --write

Update demo-platform.json
  src/client/public/config/openfin/demo-platform.json
Due: prettier --write

fix: snapshots + config
  src/client/public/config/openfin/demo-platform.json
  src/client/public/config/openfin/local-platform.json
  src/client/src/rt-platforms/openFin/snapshots/canned.json
  src/node-server/openfin-config/src/config/platform.ts
Due: prettier --write, eslint --fix

feat(styleguide): adding Price buttons and icons (ARTP-1008)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
  src/client/src/apps/StyleguideRoute/components/PricingTilesGrid.tsx
  src/client/src/apps/StyleguideRoute/elements.tsx
  src/client/src/apps/StyleguideRoute/sections/Atoms.tsx
Due: prettier --write, eslint --fix

feat(styleguide): adding charting atoms (ARTP-1008)
  src/client/src/apps/StyleguideRoute/components/ChartingGrid.tsx
  src/client/src/apps/StyleguideRoute/sections/Atoms.tsx
Due: prettier --write, eslint --fix

feat(styleguide): changes according zeplin design (ARTP-1008)
  src/client/src/apps/StyleguideRoute/components/ChartingGrid.tsx
  src/client/src/apps/StyleguideRoute/components/ConfirmationGrid.tsx
  src/client/src/apps/StyleguideRoute/components/PricingTilesGrid.tsx
  src/client/src/apps/StyleguideRoute/components/SpreadGrid.tsx
  src/client/src/apps/StyleguideRoute/sections/Atoms.tsx
Due: prettier --write, eslint --fix

feat(styleguide): tidy up (ARTP-1008)
  src/client/src/apps/StyleguideRoute/sections/Atoms.tsx
Due: prettier --write, eslint --fix

fix: nginx route
  src/services/nginx/default.conf
Due: none

feat(styleguide): update Tile snapshot (ARTP-1008)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

fix(openfin): make sure undock icon is available when reloaded (ARTP-1016)
  src/client/src/rt-components/icons/UndockIcon.tsx
  src/client/src/rt-platforms/openFin/adapter/index.ts
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
  src/client/src/rt-platforms/openFin/adapter/window.ts
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
Due: prettier --write, eslint --fix

fix(client): fixes for comments (ARTP-1016)
  src/client/src/rt-platforms/openFin/adapter/window.ts
Due: prettier --write, eslint --fix
