Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

fix(build): merge fix(build): add dependencies to shared ci: circleci config to deploy to rabbit environment
  .circleci/config.yml
  src/client/package-lock.json
  src/client/src/apps/MainRoute/widgets/analytics/epics/epics.test.ts
  src/client/src/rt-system/ServiceInstanceCollection.ts
  src/client/src/rt-system/ServiceStub.ts
  src/client/src/rt-system/__tests__/ServiceStatusStream.test.ts
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/IMessage.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Message.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/RemoteProcedureBase.cs
  src/server/node/bot/package-lock.json
  src/server/node/bot/src/connection/ServiceInstanceCollection.ts
  src/server/node/bot/src/connection/ServiceStub.ts
  src/server/node/priceHistory/package-lock.json
  src/server/node/shared/package-lock.json
  src/server/node/shared/package.json
  src/server/node/shared/src/transport/ServiceStub.ts
Due: prettier --write, eslint --fix

feat(header): select random user, remove dropdown, cleanup (ARTP-1099)
  src/client/public/static/media/mockedAvatars/five.png
  src/client/public/static/media/mockedAvatars/four.png
  src/client/public/static/media/mockedAvatars/one.png
  src/client/public/static/media/mockedAvatars/three.png
  src/client/public/static/media/mockedAvatars/two.png
  src/client/src/apps/MainRoute/components/app-header/LoginControls/LoginControls.tsx
  src/client/src/apps/MainRoute/components/app-header/LoginControls/LoginControlsContainer.ts
  src/client/src/apps/MainRoute/components/app-header/LoginControls/styled.ts
  src/client/src/apps/MainRoute/components/users-modal/UsersModal.tsx
  src/client/src/apps/MainRoute/components/users-modal/fakeUsers.ts
  src/client/src/apps/MainRoute/fakeUserRepository.ts
  src/client/src/apps/MainRoute/store/index.ts
Due: prettier --write, eslint --fix

feat(launcher): update inline quote pips (ARTP-1064)
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineQuote.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/resultsTable.tsx
Due: prettier --write, eslint --fix

feat(header): header title, theme switcher (ARTP-1099)
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/apps/MainRoute/components/app-header/LoginControls/styled.ts
  src/client/src/apps/MainRoute/components/app-header/theme-switcher/DarkThemeIcon.tsx
  src/client/src/apps/MainRoute/components/app-header/theme-switcher/LightThemeIcon.tsx
  src/client/src/apps/MainRoute/components/app-header/theme-switcher/ThemeSwitcher.tsx
  src/client/src/apps/MainRoute/components/app-header/theme-switcher/index.ts
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/ToggleView.tsx
  src/client/src/apps/StyleguideRoute/sections/Iconography.tsx
  src/client/src/rt-components/icons/ChartIcon.tsx
  src/client/src/rt-theme/colors.ts
Due: prettier --write, eslint --fix

test(unit): update snapshots (ARTP-1099)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notional/__snapshots__/NotionalInput.test.tsx.snap
Due: none

feat(client): capture analytics (ARTP-982)
  src/client/package-lock.json
  src/client/package.json
  src/client/src/apps/MainRoute/MainRoute.tsx
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/epics/executionService.ts
  src/client/src/index.tsx
  src/client/src/rt-platforms/browser/browser.ts
  src/client/src/rt-platforms/defaultPlatformWindow.ts
  src/client/src/rt-platforms/finsemble/index.ts
  src/client/src/rt-platforms/glue/glue.ts
  src/client/src/rt-platforms/openFin/adapter/window.ts
  src/client/src/rt-platforms/symphony/adapter/index.ts
Due: prettier --write, eslint --fix

fix(client%servers): issues chore(ci): remove step downscale deployments not needed anymore
  .circleci/config.yml
  src/client/src/apps/MainRoute/data/referenceData/referenceDataService.ts
  src/client/src/apps/MainRoute/store/applicationServices.ts
  src/client/src/apps/MainRoute/widgets/analytics/analyticsService.test.ts
  src/client/src/apps/MainRoute/widgets/analytics/analyticsService.ts
  src/client/src/apps/MainRoute/widgets/analytics/epics/epics.test.ts
  src/client/src/apps/MainRoute/widgets/analytics/epics/epics.ts
  src/client/src/apps/MainRoute/widgets/blotter/epics/epics.test.ts
  src/client/src/apps/MainRoute/widgets/blotter/epics/epics.ts
  src/client/src/apps/MainRoute/widgets/spotTile/epics/historicPriceService.ts
  src/client/src/apps/MainRoute/widgets/spotTile/epics/pricingEpics.ts
  src/client/src/apps/MainRoute/widgets/spotTile/epics/spotTileEpics.ts
  src/client/src/apps/SimpleLauncher/SimpleLauncher.tsx
  src/client/src/apps/SimpleLauncher/spotlight/context.ts
  src/client/src/apps/SimpleLauncher/spotlight/transport.ts
  src/client/src/rt-system/ServiceInstanceCollection.ts
  src/client/src/rt-system/ServiceStub.ts
  src/client/src/rt-system/ServiceStubWrapper.ts
  src/client/src/rt-system/__tests__/ServiceStub.test.ts
  src/client/src/rt-system/__tests__/ServiceStubWrapper.test.ts
  src/client/src/rt-system/connectionStream.ts
  src/client/src/rt-system/index.ts
  src/client/src/rt-system/serviceStatusStream.ts
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/PrivateEndPoint.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/RemoteProcedureBase.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/ServiceHostBase.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/ExecuteTradeIntegrationTests.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/TestBroker.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Pricing/PricingServiceHost.cs
  src/server/node/bot/src/connection/ServiceInstanceCollection.ts
  src/server/node/bot/src/connection/ServiceStub.ts
  src/server/node/bot/src/connection/ServiceStubWrapper.ts
  src/server/node/bot/src/connection/connectionStream.ts
  src/server/node/bot/src/rt-services.ts
  src/server/node/nlp/src/index.ts
  src/server/node/priceHistory/src/index.ts
  src/server/node/shared/src/transport/ServiceStub.ts
Due: prettier --write, eslint --fix

fix(header): fix header styles (ARTP-1099)
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/apps/MainRoute/components/app-header/theme-switcher/DarkThemeIcon.tsx
  src/client/src/apps/MainRoute/components/app-header/theme-switcher/LightThemeIcon.tsx
  src/client/src/apps/MainRoute/components/users-modal/UsersModal.tsx
Due: prettier --write, eslint --fix

fix(header): tidy up (ARTP-1099)
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
Due: prettier --write, eslint --fix

chore(client&nodes): code review
  src/client/src/apps/MainRoute/data/connectionStatus/connectionStatusService.ts
  src/client/src/apps/MainRoute/data/connectionStatus/reducer.ts
  src/client/src/apps/MainRoute/data/connectionStatus/selectors.ts
  src/client/src/apps/MainRoute/store/index.ts
  src/client/src/apps/MainRoute/widgets/status-bar/StatusBar.stories.tsx
  src/client/src/apps/MainRoute/widgets/status-connection/StatusButton.tsx
  src/client/src/apps/SimpleLauncher/SimpleLauncher.tsx
  src/client/src/rt-system/ServiceStub.ts
  src/client/src/rt-system/ServiceStubWrapper.ts
  src/client/src/rt-system/StompConfig.ts
  src/client/src/rt-system/WsConnection.ts
  src/client/src/rt-system/WsConnectionProxy.ts
  src/client/src/rt-system/__tests__/connectionStream.test.ts
  src/client/src/rt-system/__tests__/debounceOnMissedHeartbeat.test.ts
  src/client/src/rt-system/connectionStatus.ts
  src/client/src/rt-system/connectionStream.ts
  src/client/src/rt-system/connectionType.ts
  src/client/src/rt-system/index.ts
  src/server/node/bot/src/connection/ServiceStub.ts
  src/server/node/bot/src/connection/ServiceStubWrapper.ts
  src/server/node/bot/src/connection/StompConfig.ts
  src/server/node/bot/src/connection/WsConnection.ts
  src/server/node/bot/src/connection/WsConnectionProxy.ts
  src/server/node/bot/src/connection/connectionStatus.ts
  src/server/node/bot/src/connection/connectionStream.ts
  src/server/node/bot/src/connection/connectionType.ts
  src/server/node/bot/src/connection/index.ts
  src/server/node/bot/src/rt-services.ts
  src/server/node/nlp/src/index.ts
  src/server/node/priceHistory/src/index.ts
  src/server/node/shared/src/transport/ServiceStub.ts
  src/server/node/shared/src/transport/StompConfig.ts
  src/server/node/shared/src/transport/WsConnection.ts
  src/server/node/shared/src/transport/WsConnectionProxy.ts
  src/server/node/shared/src/transport/connectionStatus.ts
  src/server/node/shared/src/transport/connectionType.ts
  src/server/node/shared/src/transport/index.ts
Due: prettier --write, eslint --fix

fix(node services): declare web socket
  src/server/node/shared/src/transport/WsConnection.ts
Due: prettier --write, eslint --fix

WIP:g42code
  src/client/glue.config.dev.json
  src/client/glue.config.json
  src/client/package-lock.json
  src/client/package.json
  src/client/src/rt-platforms/getPlatformAsync.ts
  src/client/src/rt-platforms/glue/glue.ts
Due: prettier --write, eslint --fix

feat(pwa): add basic installability requirements (ARTP-1121)
  src/client/public/manifest.json
  src/client/public/rtc-sw.js
  src/client/src/apps/MainRoute/MainRoute.tsx
  src/client/src/index.tsx
  src/client/src/serviceWorker.js
Due: prettier --write, eslint --fix

feat(pwa): cleanup (ARTP-1121)
  src/client/src/serviceWorker.js
Due: prettier --write

chore(client): react containers mount on service reconnection + refactor
  src/client/src/apps/MainRoute/store/applicationServices.ts
  src/client/src/apps/SimpleLauncher/spotlight/transport.ts
  src/client/src/rt-components/loadable/Loadable.tsx
  src/client/src/rt-system/ServiceStub.ts
  src/client/src/rt-system/ServiceStubWrapper.ts
  src/client/src/rt-system/__tests__/ServiceStub.test.ts
  src/client/src/rt-system/__tests__/ServiceStubWrapper.test.ts
  src/client/src/rt-system/index.ts
  src/server/node/bot/src/connection/ServiceInstanceCollection.ts
  src/server/node/bot/src/connection/ServiceStub.ts
  src/server/node/bot/src/connection/ServiceStubWrapper.ts
  src/server/node/bot/src/connection/connectionStatus.ts
  src/server/node/bot/src/connection/connectionStream.ts
  src/server/node/bot/src/connection/debounceOnMissedHeartbeat.ts
  src/server/node/bot/src/connection/index.ts
  src/server/node/bot/src/connection/serviceInstanceStatus.ts
  src/server/node/bot/src/connection/serviceStatus.ts
  src/server/node/bot/src/connection/serviceStatusStream.ts
  src/server/node/bot/src/rt-services.ts
  src/server/node/shared/src/transport/connectionStatus.ts
Due: prettier --write, eslint --fix

chore: cleaning
  src/client/src/apps/MainRoute/data/connectionStatus/connectionStatusActions.ts
  src/client/src/apps/MainRoute/data/connectionStatus/connectionStatusService.ts
  src/client/src/apps/MainRoute/data/connectionStatus/epics/epics.ts
  src/client/src/apps/MainRoute/data/connectionStatus/index.ts
  src/client/src/apps/MainRoute/store/applicationServices.ts
  src/client/src/rt-system/ServiceInstanceCollection.ts
  src/client/src/rt-system/__tests__/ServiceStatusStream.test.ts
  src/client/src/rt-system/connectionStatus.ts
  src/client/src/rt-system/connectionStream.ts
  src/client/src/rt-system/index.ts
Due: prettier --write, eslint --fix

chore: cleaning
  src/client/src/apps/MainRoute/components/reconnect-modal/connect.tsx
  src/client/src/apps/MainRoute/data/connectionStatus/reducer.ts
  src/client/src/apps/MainRoute/widgets/status-connection/StatusButton.tsx
  src/client/src/rt-system/connectionStream.ts
  src/client/src/rt-system/index.ts
Due: prettier --write, eslint --fix

chore: cleaning
  src/client/src/apps/MainRoute/components/reconnect-modal/connect.tsx
  src/client/src/apps/MainRoute/data/connectionStatus/reducer.ts
  src/client/src/rt-system/connectionStream.ts
Due: prettier --write, eslint --fix

ci: deploy to Rabbit environment
  .circleci/config.yml
Due: none

chore: code review
  src/client/src/rt-components/loadable/Loadable.tsx
  src/client/src/rt-system/ServiceStub.ts
  src/server/node/bot/src/connection/ServiceStub.ts
Due: prettier --write, eslint --fix

chore: documentation
  docs/articles/webMessaging.md
  docs/client.md
  docs/deployment/circleci.md
  docs/setup/setup.md
Due: none

chore: review
  docs/setup/setup.md
Due: none

ci: deploy
  .circleci/config.yml
Due: none

chore: update Architecture image
  docs/ArchitectureOverview.png
  docs/setup/setup.md
Due: none

fix(tile): fix buy/sell buttons color on tile hover
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
Due: prettier --write, eslint --fix

fix(nav-item): Fix currency nav item style when active
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/styled.tsx
Due: prettier --write, eslint --fix

fix{spot-tile}: fix background hover color to spec
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notional/__snapshots__/NotionalInput.test.tsx.snap
  src/client/src/rt-theme/colors.ts
Due: prettier --write, eslint --fix

fix(spot-tile): fix spot-tile hover styling in light theme to have box-shadow
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/styled.tsx
Due: prettier --write, eslint --fix

fix(bot): compile issues
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/PrivateEndPoint.cs
  src/server/node/bot/src/connection/ServiceStub.ts
  src/server/node/bot/src/connection/WsConnection.ts
  src/server/node/bot/src/connection/index.ts
  src/server/node/bot/src/rt-services.ts
Due: prettier --write, eslint --fix

fix(tests): FIx snapshot tests for circleci build
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

fix(blotter): Fix blotter to fill space when live rates are popped out
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/rt-components/resizer/Resizer.tsx
Due: prettier --write, eslint --fix

chore: Add draft of new CONTRIBUTING.md and src/README.md files
  CONTRIBUTING.md
  src/README.md
Due: none
