Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

chore(deps): bump lodash from 4.17.19 to 4.17.21
  src/client/package-lock.json
Due: prettier --write

chore(deps): bump ua-parser-js from 0.7.10 to 0.7.24 in /src/client
  src/client/package-lock.json
  src/client/package.json
Due: prettier --write

add hydra gen-ed contracts
  src/new-client/.gitignore
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/trading-gateway.hyer
Due: prettier --write

feat(new-client): integrate with hydra endpoints
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/src/App/Analytics/Positions/Positions.test.tsx
  src/new-client/src/App/Analytics/Positions/__snapshots__/Positions.test.tsx.snap
  src/new-client/src/App/Footer/StatusButton/Service.tsx
  src/new-client/src/App/Footer/StatusButton/StatusButton.tsx
  src/new-client/src/App/Footer/StatusButton/styled.tsx
  src/new-client/src/App/Footer/common-styles.ts
  src/new-client/src/generated/TradingGateway.ts
  src/new-client/src/index.tsx
  src/new-client/src/services/analytics/analytics.test.tsx
  src/new-client/src/services/analytics/analytics.ts
  src/new-client/src/services/analytics/types.ts
  src/new-client/src/services/client/client.ts
  src/new-client/src/services/client/endpoints.ts
  src/new-client/src/services/client/index.ts
  src/new-client/src/services/connection.ts
  src/new-client/src/services/currencyPairs/currencyPairs.test.tsx
  src/new-client/src/services/currencyPairs/currencyPairs.ts
  src/new-client/src/services/executions/executions.test.tsx
  src/new-client/src/services/executions/executions.ts
  src/new-client/src/services/prices/prices.test.tsx
  src/new-client/src/services/prices/prices.ts
  src/new-client/src/services/status/index.ts
  src/new-client/src/services/status/status.test.tsx
  src/new-client/src/services/status/status.ts
  src/new-client/src/services/status/types.ts
  src/new-client/src/services/trades/trades.test.tsx
  src/new-client/src/services/trades/trades.ts
Due: prettier --write, eslint --fix

chore(new-client): change dev port to avoid conflicts with old client
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

chore(new-client): commit generated code with analytics contract change
  src/new-client/src/generated/TradingGateway.ts
Due: prettier --write, eslint --fix

Upgrade to Hydra 2.36.0
  src/new-client/package-lock.json
  src/new-client/package.json
Due: prettier --write

Switch to using JSON
  src/new-client/src/index.tsx
  src/new-client/src/services/executions/executions.ts
Due: prettier --write, eslint --fix

fix: minor issues with connection to Hydra gateway
  src/new-client/package.json
  src/new-client/scripts/build_openfin_manifest
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

fix: update environment matching logic for classic deployment
  src/client/src/rt-util/getEnvironment.ts
Due: prettier --write, eslint --fix

feat(new-client-hydra): handle reconnections
  src/new-client/src/App/Analytics/AnalyticsCore.tsx
  src/new-client/src/App/DisconnectionOverlay.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
  src/new-client/src/App/Trades/TradesCore.tsx
  src/new-client/src/Web/WebApp.tsx
  src/new-client/src/services/analytics/analytics.ts
  src/new-client/src/services/connection.ts
  src/new-client/src/services/currencyPairs/currencyPairs.ts
  src/new-client/src/services/prices/prices.ts
  src/new-client/src/services/trades/trades.ts
  src/new-client/src/services/withConnection.ts
  src/new-client/src/utils/createSuspenseOnStale.ts
Due: prettier --write, eslint --fix

feat(new-client): broadcast symbol on blotter row click
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/src/App/Trades/TradesGrid/TradesGrid.tsx
Due: prettier --write, eslint --fix

feat(new-client): implement spot tile tearouts on OpenFin
  src/new-client/package-lock.json
  src/new-client/src/App/Header/Header.styles.ts
  src/new-client/src/App/LiveRates/Tile/Header/TileHeader.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
  src/new-client/src/App/LiveRates/selectedView.ts
  src/new-client/src/OpenFin/DetachableTile/DetachableLiveRates.tsx
  src/new-client/src/OpenFin/DetachableTile/DetachableTile.tsx
  src/new-client/src/OpenFin/DetachableTile/DetachableTiles.tsx
  src/new-client/src/OpenFin/DetachableTile/tornOutTiles.ts
  src/new-client/src/OpenFin/FloatingTile.tsx
  src/new-client/src/OpenFin/OpenFinApp.tsx
  src/new-client/src/OpenFin/Window/ChildWindowFrame.styles.tsx
  src/new-client/src/OpenFin/Window/ChildWindowFrame.tsx
  src/new-client/src/OpenFin/Window/ChildWindowHeader.tsx
  src/new-client/src/OpenFin/Window/ExternalWindow.tsx
  src/new-client/src/OpenFin/Window/LayoutLock.tsx
  src/new-client/src/OpenFin/Window/WindowBody.tsx
  src/new-client/src/OpenFin/Window/WindowControls.tsx
  src/new-client/src/OpenFin/Window/WindowFooter.styles.ts
  src/new-client/src/OpenFin/Window/WindowFooter.tsx
  src/new-client/src/OpenFin/Window/WindowFrame.styles.tsx
  src/new-client/src/OpenFin/Window/WindowFrame.tsx
  src/new-client/src/OpenFin/Window/WindowHeader.styles.ts
  src/new-client/src/OpenFin/Window/WindowHeader.tsx
  src/new-client/src/OpenFin/Window/WindowViewport.tsx
  src/new-client/src/OpenFin/icons/ExitIcon.tsx
  src/new-client/src/OpenFin/icons/LockedIcon.tsx
  src/new-client/src/OpenFin/icons/MaximizeIcon.tsx
  src/new-client/src/OpenFin/icons/MinimizeIcon.tsx
  src/new-client/src/OpenFin/icons/PlatformLockedStatusIcon.tsx
  src/new-client/src/OpenFin/icons/PopInIcon.tsx
  src/new-client/src/OpenFin/icons/PopOutIcon.tsx
  src/new-client/src/OpenFin/icons/UnlockedIcon.tsx
  src/new-client/src/OpenFin/messaging/index.ts
  src/new-client/src/OpenFin/utils/app.ts
  src/new-client/src/OpenFin/utils/layout.ts
  src/new-client/src/OpenFin/utils/window.ts
  src/new-client/src/Web/index.tsx
Due: prettier --write, eslint --fix

feat: add connection status to OpenFin footer
  src/new-client/src/OpenFin/Window/WindowFooter.tsx
Due: prettier --write, eslint --fix

Add encrypted npmrc to pull private Hydra packages (#1908)
  src/new-client/npmrc.enc
  src/new-client/package-lock.json
  src/new-client/package.json
Due: prettier --write

fixing height for trades blotter
  src/new-client/public/plugin/add-in.zip
  src/new-client/src/App/Trades/TradesGrid/TradesGrid.tsx
Due: prettier --write, eslint --fix

Changing titles on tiles
  src/new-client/src/App/Analytics/Analytics.tsx
  src/new-client/src/App/Trades/Trades.tsx
  src/new-client/src/OpenFin/DetachableTile/DetachableLiveRates.tsx
  src/new-client/src/OpenFin/OpenFinApp.tsx
Due: prettier --write, eslint --fix

Migrate new CI build to Github Actions (#1911)
  .github/workflows/branch.yml
  .github/workflows/classic-deploy.yml
  .github/workflows/classic-pull-down.yml
  .github/workflows/classic-pull-fork.yml
  .github/workflows/classic-pull-up.yml
  .github/workflows/classic-push.yml
  .github/workflows/classic-release.yml
  .github/workflows/commit.yml
  .github/workflows/pull.yml
  src/new-client/.gitkeep
Due: none

Openfin footer button
  src/new-client/src/OpenFin/Footer/OpenFinLogo.tsx
  src/new-client/src/OpenFin/Window/WindowFooter.tsx
  src/new-client/src/OpenFin/components/OpenFinBrowserLink.tsx
Due: prettier --write, eslint --fix

Adding DocTitle component
  src/new-client/src/App/Analytics/Analytics.tsx
  src/new-client/src/App/Trades/Trades.tsx
  src/new-client/src/OpenFin/DetachableTile/DetachableLiveRates.tsx
  src/new-client/src/OpenFin/OpenFinApp.tsx
  src/new-client/src/components/DocTitle.tsx
Due: prettier --write, eslint --fix

Set Hydra endpoint for deployments (#1912)
  .github/workflows/branch.yml
  .github/workflows/commit.yml
  .github/workflows/pull.yml
  src/new-client/.gitkeep
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

add contact button to footer
  src/new-client/src/App/Footer/common-styles.ts
  src/new-client/src/OpenFin/Footer/ContactUsButton.tsx
  src/new-client/src/OpenFin/OpenFinApp.tsx
  src/new-client/src/OpenFin/Window/WindowFooter.styles.ts
  src/new-client/src/OpenFin/Window/WindowFooter.tsx
Due: prettier --write, eslint --fix

tidy up for new component
  src/new-client/src/App/Footer/common-styles.ts
  src/new-client/src/OpenFin/Footer/ContactUsButton.tsx
Due: prettier --write, eslint --fix

remove warnings - tidy up
  src/new-client/src/OpenFin/Window/WindowViewport.tsx
  src/new-client/src/OpenFin/components/OpenFinBrowserLink.tsx
Due: prettier --write, eslint --fix

Appear pop out icon on tile hover
  src/new-client/src/OpenFin/DetachableTile/DetachableTile.tsx
Due: prettier --write, eslint --fix

tidy up
  src/new-client/src/OpenFin/components/OpenFinBrowserLink.tsx
Due: prettier --write, eslint --fix

chore(new-client): mock services
  src/new-client/src/OpenFin/index.tsx
  src/new-client/src/Web/index.tsx
  src/new-client/src/services/analytics/analytics-mock.ts
  src/new-client/src/services/analytics/analytics.service-mock.ts
  src/new-client/src/services/analytics/analytics.ts
  src/new-client/src/services/connection.ts
  src/new-client/src/services/currencyPairs/currencyPairs.service-mock.ts
  src/new-client/src/services/executions/executions.service-mock.ts
  src/new-client/src/services/executions/executions.ts
  src/new-client/src/services/executions/index.ts
  src/new-client/src/services/executions/types.ts
  src/new-client/src/services/prices/prices.service-mock.ts
  src/new-client/src/services/trades/trades.service-mock.ts
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

fix tiles pop out positioning
  src/new-client/src/OpenFin/DetachableTile/DetachableTile.tsx
  src/new-client/src/OpenFin/DetachableTile/tornOutTiles.ts
  src/new-client/src/OpenFin/utils/window.ts
  src/new-client/src/utils/index.ts
  src/new-client/src/utils/useWindowPositon.ts
Due: prettier --write, eslint --fix

tidy up
  src/new-client/src/OpenFin/DetachableTile/DetachableTile.tsx
  src/new-client/src/utils/index.ts
  src/new-client/src/utils/windowCoordinates.ts
Due: prettier --write, eslint --fix

remove ref from provider and attach to header
  src/new-client/src/OpenFin/DetachableTile/DetachableTile.tsx
  src/new-client/src/OpenFin/DetachableTile/tornOutTiles.ts
Due: prettier --write, eslint --fix

tidy up - remove warnings
  src/new-client/src/OpenFin/DetachableTile/tornOutTiles.ts
  src/new-client/src/OpenFin/Window/WindowViewport.tsx
Due: prettier --write, eslint --fix

1167 fix Analytics/Trades wrapper background, add theme darkBackground
  src/new-client/src/App/Analytics/Analytics.tsx
  src/new-client/src/App/Trades/Trades.tsx
Due: prettier --write, eslint --fix

feat: show user and avatar for openfin header (#1918)
  src/new-client/src/OpenFin/Window/WindowHeader.tsx
Due: prettier --write, eslint --fix

fix: build and copy OF manifest during CI (#1924)
  .github/workflows/branch.yml
  .github/workflows/commit.yml
  .github/workflows/pull.yml
  src/new-client/.gitkeep
Due: none

feat: implement layout snapshotting (#1907)
  src/new-client/src/App/Footer/StatusButton/StatusButton.tsx
  src/new-client/src/OpenFin/Footer/ContactUsButton.tsx
  src/new-client/src/OpenFin/OpenFinApp.tsx
  src/new-client/src/OpenFin/Snapshots/SnapshotButton.tsx
  src/new-client/src/OpenFin/Snapshots/Snapshots.styles.ts
  src/new-client/src/OpenFin/Snapshots/Snapshots.tsx
  src/new-client/src/OpenFin/Window/WindowFooter.tsx
  src/new-client/src/OpenFin/utils/layout.ts
Due: prettier --write, eslint --fix

1185 finsemble target, basic app with router to support rtc-finsemble
  .github/workflows/branch.yml
  .github/workflows/commit.yml
  .github/workflows/pull.yml
  src/new-client/package.json
  src/new-client/src/Finsemble/FinsembleApp.tsx
  src/new-client/src/Finsemble/TileContent.tsx
  src/new-client/src/Finsemble/index.tsx
  src/new-client/src/index.tsx
Due: prettier --write, eslint --fix

chore: alternative openfin manifest handling using vite/rollup plugin
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

fix: minor ui issues (BUG-1186)
  src/new-client/src/App/Analytics/styled.tsx
  src/new-client/src/App/Trades/TradesGrid/TradesGrid.tsx
  src/new-client/src/App/Trades/TradesHeader/QuickFilter.tsx
  src/new-client/src/OpenFin/DetachableTile/DetachableTile.tsx
Due: prettier --write, eslint --fix

fix: vite start using windows (BUG-1187)
  src/new-client/package-lock.json
  src/new-client/package.json
Due: prettier --write
