Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

fix(build): don't include analytics url override in .env
  src/client/.env
  src/client/.env.development
Due: none

Update README
  README.md
Due: none

chore(openfin): bump to openfin v17
  src/client/public/openfin/platform.json
Due: prettier --write

chore(openfin): convenience openfin npm tasks
  src/client/package.json
Due: prettier --write

fix(openfin): init platform layout on load
  src/client/src/apps/MainRoute/components/windowFrame/WindowFrame.tsx
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/rt-platforms/openfin-platform/snapshots/index.ts
Due: prettier --write, eslint --fix

feat(openfin): hide tabs for blotter, analytics and tiles
  src/client/public/openfin/platform.json
Due: prettier --write

chore(build): disable e2e tests
  .github/workflows/ci.yml
Due: none

chore(openfin): platform.json now replaces app.json (ARTP-1304)
  src/client/install/README.md
  src/client/package.json
  src/client/public/openfin/app.json
  src/client/public/openfin/platform.json
Due: prettier --write

fix(openfin): torn off windows don't show tabs
  src/client/src/rt-platforms/openfin-platform/adapter/window.ts
Due: prettier --write, eslint --fix

feat(openfin): display title on torn off windows
  src/client/src/apps/MainRoute/components/windowFrame/WindowFrame.tsx
Due: prettier --write, eslint --fix

fix(security): resolve vulnerabilities
  package-lock.json
  package.json
  src/client/package-lock.json
  src/client/package.json
  src/server/node/bot/package-lock.json
  src/server/node/nlp/package-lock.json
  src/server/node/nlp/package.json
  src/server/node/priceHistory/package-lock.json
  src/server/node/priceHistory/package.json
Due: prettier --write

fix(security): update webpack config
  src/server/node/nlp/webpack.config.js
Due: prettier --write

chore(styled components): support for styled-compoents/macro
  src/client/package-lock.json
  src/client/package.json
  src/client/src/rt-theme/index.ts
  src/client/src/rt-theme/themes.ts
Due: prettier --write, eslint --fix

chore(styled components): cleanup
  src/client/package.json
  src/client/src/rt-theme/index.ts
Due: prettier --write, eslint --fix

test: update snapshots
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notional/__snapshots__/NotionalInput.test.tsx.snap
Due: none

fix(openfin): manifest fixes for icons, app name, fdc3api, platform url
  src/client/public/openfin/app.json
Due: prettier --write

refactor(openfin): move and rename OpenFinWindowFrame
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/apps/MainRoute/components/windowFrame/index.ts
  src/client/src/rt-platforms/openfin-platform/components/OpenFinWindowFrame.tsx
Due: prettier --write, eslint --fix

refactor(openfin): move OpenFinLogo under components
  src/client/src/rt-platforms/openfin-platform/adapter/assets/OpenFinLogo.tsx
  src/client/src/rt-platforms/openfin-platform/adapter/logo.tsx
  src/client/src/rt-platforms/openfin-platform/adapter/openFinPlatform.ts
  src/client/src/rt-platforms/openfin-platform/adapter/styled.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinLogo.tsx
  src/client/src/rt-platforms/openfin-platform/components/index.ts
Due: prettier --write, eslint --fix

refactor: meaningful app header zone names
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/apps/MainRoute/layouts/AppLayout.tsx
Due: prettier --write, eslint --fix

fix: fixed width for theme switcher
  src/client/src/apps/MainRoute/components/app-header/theme-switcher/ThemeSwitcher.tsx
Due: prettier --write, eslint --fix

refactor(openfin): tweak chrome components
  src/client/src/rt-platforms/openfin-platform/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinLogo.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinStatusConnection/styled.tsx
  src/client/src/rt-platforms/openfin-platform/components/index.ts
Due: prettier --write, eslint --fix

refactor: move openfin stuff from ShellRoute into OpenFinWindowFrame
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinWindowFrame.tsx
Due: prettier --write, eslint --fix

chore: switch noUnusedLocals off
  src/client/.eslintrc.json
  src/client/src/rt-platforms/openfin-platform/components/OpenFinWindowFrame.tsx
  src/client/tsconfig.json
Due: prettier --write, eslint --fix

fix: remove unused vars/imports
  src/client/src/rt-platforms/openfin-platform/components/OpenFinWindowFrame.tsx
Due: prettier --write, eslint --fix

feat(openfin): add displayName to WindowConfig
  src/client/src/apps/MainRoute/widgets/workspace/selectors.ts
  src/client/src/apps/utils/openfin-utils.ts
  src/client/src/rt-interop/intents/showCurrencyPair.ts
  src/client/src/rt-platforms/openfin-platform/adapter/window.ts
  src/client/src/rt-platforms/types.ts
Due: prettier --write, eslint --fix

feat(openfin): frame/styling for child windows
  src/client/public/openfin/app.json
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinSubWindowFrame.tsx
  src/client/src/rt-platforms/openfin-platform/components/index.ts
Due: prettier --write, eslint --fix

add useLocalStorage hook
  src/client/src/rt-util/hooks/useLocalStorage.ts
Due: prettier --write, eslint --fix

use local storage in workspace & spot route to sync tile view
  src/client/src/apps/MainRoute/routes/SpotRoute.tsx
  src/client/src/apps/MainRoute/widgets/workspace/Workspace.tsx
Due: prettier --write, eslint --fix

remove no longer used function & import
  src/client/src/apps/MainRoute/routes/SpotRoute.tsx
Due: prettier --write, eslint --fix

remove unneeded tile url params
  src/client/src/apps/MainRoute/widgets/workspace/Workspace.tsx
  src/client/src/apps/MainRoute/widgets/workspace/utils.ts
Due: prettier --write, eslint --fix

naming
  src/client/src/rt-util/hooks/useLocalStorage.ts
Due: prettier --write, eslint --fix

updateState, url, and useMemo additions
  src/client/src/apps/MainRoute/routes/SpotRoute.tsx
  src/client/src/apps/MainRoute/widgets/workspace/utils.ts
  src/client/src/rt-util/hooks/useLocalStorage.ts
Due: prettier --write, eslint --fix

feat(launcher): ability to launch app from manifest url
  src/client/src/apps/SimpleLauncher/LauncherApps.tsx
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
  src/client/src/apps/SimpleLauncher/tools.ts
  src/client/src/apps/utils/openfin-utils.ts
Due: prettier --write, eslint --fix

feat(openfin): migrate launcher to Platform API
  src/client/.env.development
  src/client/public/openfin/launcher.json
Due: prettier --write

changed import style and removed unneeded URL function
  src/client/src/apps/MainRoute/widgets/workspace/Workspace.tsx
  src/client/src/apps/MainRoute/widgets/workspace/utils.ts
  src/client/src/rt-util/hooks/index.ts
  src/client/src/rt-util/index.ts
Due: prettier --write, eslint --fix

enhance useLocalStorage setter & updare import
  src/client/src/apps/MainRoute/routes/SpotRoute.tsx
  src/client/src/rt-util/hooks/useLocalStorage.ts
Due: prettier --write, eslint --fix

fix tile scrolling issue
  src/client/src/apps/MainRoute/routes/styled.tsx
Due: prettier --write, eslint --fix

removed margin and padding on bottom of blotter
  src/client/src/apps/MainRoute/routes/BlotterRoute.tsx
Due: prettier --write, eslint --fix
