Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

chore(client): added title to storybook
  src/client/.storybook/manager-head.html
Due: none

feat(workspace): initial spot tile work
  src/workspace/.env
  src/workspace/package-lock.json
  src/workspace/package.json
  src/workspace/src/apps.ts
  src/workspace/src/browser.ts
  src/workspace/src/consts.ts
  src/workspace/src/generated/TradingGateway.ts
  src/workspace/src/home.ts
  src/workspace/src/home/index.ts
  src/workspace/src/home/utils.ts
  src/workspace/src/provider.ts
  src/workspace/src/services/currencyPairs.ts
  src/workspace/src/services/nlpService.ts
  src/workspace/src/services/prices.ts
  src/workspace/src/store.ts
  src/workspace/tsconfig.json
  src/workspace/vite.config.ts
Due: prettier --write, eslint --fix

feat(workspace): initial trade execution flow
  src/workspace/package-lock.json
  src/workspace/package.json
  src/workspace/src/home/index.ts
  src/workspace/src/home/utils.ts
  src/workspace/src/provider.ts
  src/workspace/src/services/executions.ts
  src/workspace/src/services/prices.ts
  src/workspace/src/services/trades.ts
  src/workspace/vite.config.ts
Due: prettier --write, eslint --fix

feat(workspace): some general cleanup
  src/new-client/package-lock.json
  src/new-client/package.json
  src/workspace/src/home/utils.ts
  src/workspace/src/services/executions.ts
  src/workspace/tsconfig.json
Due: prettier --write, eslint --fix

feat(workspace): initial user switching and notifications
  src/workspace/package-lock.json
  src/workspace/package.json
  src/workspace/src/home/index.ts
  src/workspace/src/home/notifications.ts
  src/workspace/src/provider.ts
  src/workspace/src/store.ts
  src/workspace/src/user.ts
  src/workspace/src/utils.ts
Due: prettier --write, eslint --fix

feat(workspace): upgraded openfin packages, tweaked user
  src/client/package-lock.json
  src/client/package.json
  src/client/src/main.openfin.ts
  src/client/vite.config.ts
  src/workspace/config/workspace.json
  src/workspace/package-lock.json
  src/workspace/package.json
  src/workspace/src/home/utils.ts
  src/workspace/src/store.ts
  src/workspace/src/user.ts
  src/workspace/src/utils.ts
Due: prettier --write, eslint --fix

fix(tests): added TextDecoder and missing mocks for price and trade services
  src/client/package.json
  src/client/setupTests.ts
  src/client/src/services/prices/__mocks__/prices.ts
  src/client/src/services/trades/__mocks__/mockTrades.ts
  src/client/src/services/trades/__mocks__/trades.ts
Due: prettier --write, eslint --fix

fix(tests): fixed button and input selectors and matched alerts, and response$ type error
  src/client/src/App/LiveRates/Tile/Tile.rfq.test.tsx
  src/client/src/App/LiveRates/Tile/Tile.test.tsx
Due: prettier --write, eslint --fix

fix(tests): added data-testid to LastPositionStyle, and fixed test assertions
  src/client/src/App/Analytics/ProfitAndLoss/LastPosition.test.tsx
  src/client/src/App/Analytics/ProfitAndLoss/LastPosition.tsx
Due: prettier --write, eslint --fix

fix(tests): deleted unnecessary debug command
  src/client/src/App/LiveRates/Tile/Tile.rfq.test.tsx
Due: prettier --write, eslint --fix

feat(workspace): added npm ci to openfin workspace step
  .github/workflows/branch.yml
Due: none

feat(workspace): updated copyOpenfinPlugin for prod
  src/workspace/vite.config.ts
Due: prettier --write, eslint --fix

feat(workspace): added /workspace to URL_SUFFIX
  .github/workflows/branch.yml
Due: none

feat(workspace): added .env.production with RT & RA urls
  src/workspace/.env.production
Due: none

feat(workspace): added dev/production env files
  src/workspace/.env
  src/workspace/.env.development
  src/workspace/.env.production
  src/workspace/vite.config.ts
Due: prettier --write, eslint --fix

feat(workspace): configure RT url based on window.location
  src/workspace/.env.production
  src/workspace/src/consts.ts
Due: prettier --write, eslint --fix

feat(workspace): configure RT url in vite
  src/workspace/vite.config.ts
Due: prettier --write, eslint --fix

feat(workspace): cleanup and readme
  src/workspace/README.md
  src/workspace/config/workspace.json
  src/workspace/index.html
  src/workspace/package-lock.json
  src/workspace/screenshot.PNG
  src/workspace/src/browser.ts
  src/workspace/src/provider.ts
  src/workspace/vite.config.ts
Due: prettier --write, eslint --fix

feat(workspace): reverted a bunch of unrelated prettier formatting updates for easier PR diff
  src/client/src/App/LiveRates/Tile/Notional/Notional.tsx
  src/client/vite.config.ts
Due: prettier --write, eslint --fix

feat(workspace): fixed autoShow in config
  src/workspace/config/workspace.json
  src/workspace/vite.config.ts
Due: prettier --write, eslint --fix

feat(workspace): updated RA url in snapshot
  src/workspace/README.md
  src/workspace/config/snapshot.json
  src/workspace/public/dos.json
  src/workspace/src/provider.ts
  src/workspace/src/services/currencyPairs.ts
  src/workspace/src/services/trades.ts
Due: prettier --write, eslint --fix

feat(workspace): refactored and commented out registering platform provider from RT
  src/client/src/OpenFin/workspace/index.ts
  src/client/src/main.openfin.ts
Due: prettier --write, eslint --fix

fix(client): fixed draggable inputs in trades
  src/client/src/App/Trades/TradesGrid/NumFilter.tsx
  src/client/src/App/Trades/TradesGrid/SetFilter.tsx
  src/client/src/App/Trades/TradesHeader/QuickFilter.tsx
Due: prettier --write, eslint --fix

fix(client): fixed targetBuildPlugin after new-client change
  src/client/README.md
  src/client/vite.config.ts
Due: prettier --write, eslint --fix

chore(client): bumped vite to latest version
  src/client/package-lock.json
  src/client/package.json
Due: prettier --write

chore(client): updated google github action version
  .github/workflows/branch.yml
Due: none

chore(client): updated google github action version
  .github/workflows/pull.yml
  .github/workflows/tag.yml
Due: none

feat(workspace): updated search input for nlp to use slash
  src/workspace/src/home/index.ts
  src/workspace/vite.config.ts
Due: prettier --write, eslint --fix

feat(workspace): updated nlp search results UI
  src/workspace/package-lock.json
  src/workspace/package.json
  src/workspace/public/images/icons/down.svg
  src/workspace/public/images/icons/up.svg
  src/workspace/src/home/index.ts
  src/workspace/src/home/nlpProvider.ts
  src/workspace/src/home/utils.ts
  src/workspace/src/services/currencyPairs.ts
  src/workspace/src/services/prices.ts
  src/workspace/src/templates.ts
Due: prettier --write, eslint --fix

feat(client): added basic update per second counter, graph and latency
  src/client/src/App/Footer/Footer.tsx
  src/client/src/App/Footer/Stats/Latency.tsx
  src/client/src/App/Footer/Stats/Updates.tsx
  src/client/src/App/Footer/Stats/UpdatesHistoricalGraph.tsx
  src/client/src/App/Footer/Stats/index.tsx
  src/client/src/services/prices/prices.ts
Due: prettier --write, eslint --fix

feat(client): added Admin page
  src/client/index.html
  src/client/src/App/Admin/Admin.tsx
  src/client/src/App/Admin/index.tsx
  src/client/src/App/Footer/Stats/AdminButton.tsx
  src/client/src/App/Footer/Stats/Latency.tsx
  src/client/src/App/Footer/Stats/Updates.tsx
  src/client/src/App/Footer/Stats/UpdatesHistoricalGraph.tsx
  src/client/src/App/Footer/Stats/index.tsx
  src/client/src/Web/index.tsx
  src/client/src/constants.ts
  src/client/src/styleguide/index.tsx
  src/client/src/utils/featureFlag.ts
Due: prettier --write, eslint --fix

feat(workspace): completed trade execution UI
  src/workspace/src/home/nlpProvider.ts
  src/workspace/src/templates.ts
Due: prettier --write, eslint --fix

feat(workspace) point vite to dev
  src/workspace/vite.config.ts
Due: prettier --write, eslint --fix

fix(client): moved nonDraggableChildProps from input to wrapper to fix notional input in safari
  src/client/src/App/LiveRates/Tile/Notional/Notional.tsx
Due: prettier --write, eslint --fix

Add EchoService + ThroughputAdminService
  src/client/src/generated/TradingGateway.ts
  src/client/trading-gateway.hyer
Due: prettier --write, eslint --fix

feat(client): began to wire up echo/throughput services
  src/client/src/App/Admin/Admin.tsx
  src/client/src/App/Footer/Stats/Latency.tsx
Due: prettier --write, eslint --fix

Added workspace steps to pull and tag workflow files
  .github/workflows/pull.yml
  .github/workflows/tag.yml
Due: none

Updated hydra-platform dependency, changed echo service payload
  src/client/package-lock.json
  src/client/package.json
  src/client/src/App/Admin/Admin.tsx
  src/client/src/App/Footer/Stats/Latency.tsx
Due: prettier --write, eslint --fix
