Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

chore(new-client): preload key requests
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

Enrich auto-deploy comment on pull requests (#1830)
  .github/workflows/pull-origin-up.yml
Due: none

fix(new-client): Fix RFQ Timer on FF (800)
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqTimer.tsx
Due: prettier --write, eslint --fix

fix: adding line strikethrough for rejected trades
  src/new-client/src/App/Trades/TradesGrid/TableHeadCell.tsx
  src/new-client/src/App/Trades/TradesGrid/TradesGrid.tsx
Due: prettier --write, eslint --fix

fix(new-client): add/remove position bubbles (807)
  src/new-client/src/App/Analytics/Positions/Positions.tsx
  src/new-client/src/App/Analytics/Positions/data.ts
Due: prettier --write, eslint --fix

Create a parallel testing workflow in CI (#1823)
  .github/workflows/pull-origin-up.yml
  src/new-client/Dockerfile
Due: none

chore(new-client): Resizer improvements (813)
  src/new-client/src/components/Resizer.tsx
Due: prettier --write, eslint --fix

fix(new-client): fix Analytics panel responsive issue with FF (813)
  src/new-client/src/App/Analytics/Analytics.tsx
  src/new-client/src/App/App.tsx
  src/new-client/src/components/Resizer.tsx
Due: prettier --write, eslint --fix

fix(new-client): Fix RFQ reject timer bug
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.state.ts
Due: prettier --write, eslint --fix

feat(new-client): persist selected tile view
  src/new-client/src/App/LiveRates/selectedView.ts
Due: prettier --write, eslint --fix

fix(new-client): fix icons alignment
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.styles.tsx
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.tsx
Due: prettier --write, eslint --fix

chore(new-client): currencyPairs improvements
  src/new-client/src/App/Analytics/Positions/Positions.test.tsx
  src/new-client/src/App/LiveRates/MainHeader/MainHeader.test.tsx
  src/new-client/src/App/LiveRates/MainHeader/MainHeader.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.test.tsx
  src/new-client/src/services/currencyPairs/__mocks__/currencyPairs.ts
  src/new-client/src/services/currencyPairs/currencyPairs.ts
Due: prettier --write, eslint --fix

fix(new-client): default notional value (809)
  src/new-client/src/App/Analytics/Positions/Positions.test.tsx
  src/new-client/src/App/LiveRates/MainHeader/MainHeader.test.tsx
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.tsx
  src/new-client/src/App/LiveRates/Tile/Notional/NotionalReset.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.state.ts
  src/new-client/src/App/LiveRates/Tile/Tile.test.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
  src/new-client/src/services/currencyPairs/currencyPairs.test.tsx
  src/new-client/src/services/currencyPairs/currencyPairs.ts
  src/new-client/src/services/currencyPairs/types.ts
Due: prettier --write, eslint --fix

fix(new-client): filter placeholder missing
  src/new-client/src/App/Trades/TradesGrid/NumFilter.tsx
  src/new-client/src/App/Trades/TradesGrid/components/ComparatorSelect.tsx
Due: prettier --write, eslint --fix

fix(new-client): text alignment for filter pills
  src/new-client/src/App/Trades/TradesGrid/components/ComparatorSelect.tsx
  src/new-client/src/App/Trades/TradesHeader/AppliedFilters.tsx
Due: prettier --write, eslint --fix

fix: ensure that a consistent version of Newtonsoft.Json is used to prevent assembly errors (#1844)
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Adaptive.ReactiveTrader.Messaging.csproj
Due: none

chore(new-client): fix Husky (822)
  src/new-client/package-lock.json
  src/new-client/package.json
Due: prettier --write

test(new-client): trade tests and loader accessibility (792)
  src/new-client/src/App/Analytics/Analytics.tsx
  src/new-client/src/App/Header/LoginControls/LoginControls.tsx
  src/new-client/src/App/LiveRates/LiveRates.tsx
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.tsx
  src/new-client/src/App/LiveRates/selectedView.ts
  src/new-client/src/App/Trades/TradesCore.tsx
  src/new-client/src/App/Trades/TradesFooter.tsx
  src/new-client/src/App/Trades/TradesGrid/TradesGrid.tsx
  src/new-client/src/App/Trades/TradesGrid/components/ComparatorSelect.tsx
  src/new-client/src/App/Trades/__tests__/Trades.core.test.tsx
  src/new-client/src/components/AdaptiveLoader.tsx
  src/new-client/src/components/Loader.tsx
  src/new-client/src/services/trades/__mocks__/mockTrades.ts
  src/new-client/src/services/trades/__mocks__/trades.ts
  src/new-client/src/services/trades/index.ts
  src/new-client/src/services/trades/trades.test.tsx
Due: prettier --write, eslint --fix

chore(new-client): report ts errors from vite dev
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

fix(new-client): num filter should handle float values (734)
  src/new-client/src/App/Trades/TradesGrid/NumFilter.tsx
Due: prettier --write, eslint --fix

chore(new-client): add filter accesibility
  src/new-client/src/App/Trades/TradesGrid/NumFilter.tsx
  src/new-client/src/App/Trades/TradesGrid/TableHeadCell.tsx
  src/new-client/src/App/Trades/TradesGrid/components/FilterPopup.tsx
  src/new-client/src/App/Trades/TradesHeader/QuickFilter.tsx
  src/new-client/src/App/Trades/__tests__/Trades.quickFilter.test.tsx
Due: prettier --write, eslint --fix

fix(new-client): add visual indicator to column filter comparator select (734)
  src/new-client/src/App/Trades/TradesGrid/components/ComparatorSelect.tsx
Due: prettier --write, eslint --fix

fix(new-client): close column filter X when column filter Y opens (734)
  src/new-client/src/App/Trades/TradesGrid/DateFilter.tsx
  src/new-client/src/App/Trades/TradesGrid/TableHeadCell.tsx
Due: prettier --write, eslint --fix

fix(new-client): Notional fixes (799 & 801)
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.state.ts
  src/new-client/src/App/LiveRates/Tile/Tile.state.ts
  src/new-client/src/App/LiveRates/Tile/Tile.test.tsx
Due: prettier --write, eslint --fix

fix(new-client): filter grid from column filter search (806)
  src/new-client/src/App/Trades/TradesGrid/SetFilter.tsx
  src/new-client/src/App/Trades/TradesState/filterState/index.ts
  src/new-client/src/App/Trades/TradesState/filterState/setFilterState.ts
  src/new-client/src/App/Trades/TradesState/index.ts
Due: prettier --write, eslint --fix

fix(new-client): improve buble-chart
  src/new-client/src/App/Analytics/Positions/Positions.test.tsx
  src/new-client/src/App/Analytics/Positions/Positions.tsx
  src/new-client/src/App/Analytics/Positions/__snapshots__/Positions.test.tsx.snap
  src/new-client/src/App/Analytics/Positions/data.ts
Due: prettier --write, eslint --fix

fix(new-client): Tiles default view to Analytics (810)
  src/new-client/src/App/LiveRates/MainHeader/MainHeader.test.tsx
  src/new-client/src/App/LiveRates/selectedView.ts
Due: prettier --write, eslint --fix

test(new-client): rfq button tests
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.test.tsx
Due: prettier --write, eslint --fix

fix(new-client): pending trades with a different background color
  src/new-client/src/App/Trades/TradesGrid/TradesGrid.tsx
Due: prettier --write, eslint --fix

Update README.md (#1853)
  src/client/README.md
Due: none

fix: reinstate adaptivecluster domains to prevent healthcheck DoS
  src/services/kubernetes/per-cluster/gateway.yaml
Due: none

chore(new-client): leaverage createKeyedSignal on Tiles
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.tsx
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.state.ts
  src/new-client/src/App/LiveRates/Tile/Tile.state.ts
  src/new-client/src/App/LiveRates/Tile/Tile.test.tsx
Due: prettier --write, eslint --fix

chore(new-client): replace deprecated createListener -> createSignal
  src/new-client/src/App/Analytics/ProfitAndLoss/LineChart/Tooltip.tsx
  src/new-client/src/App/LiveRates/selectedCurrency.ts
  src/new-client/src/App/LiveRates/selectedView.ts
  src/new-client/src/App/Trades/TradesState/filterState/dateFilterState.ts
  src/new-client/src/App/Trades/TradesState/filterState/filterCommon.ts
  src/new-client/src/App/Trades/TradesState/filterState/numFilterState.ts
  src/new-client/src/App/Trades/TradesState/filterState/setFilterState.ts
  src/new-client/src/App/Trades/TradesState/sortState.ts
Due: prettier --write, eslint --fix

chore(new-client): upgrade dependencies
  src/new-client/package-lock.json
  src/new-client/package.json
Due: prettier --write

fix(new-client): trade filter uses native menu
  src/new-client/src/App/Trades/TradesGrid/components/ComparatorSelect.tsx
Due: prettier --write, eslint --fix

Run integration tests during PR and main CI workflows (#1857)
  .github/workflows/ci.yml
  .github/workflows/pull-origin-up.yml
  deploy/build.sh
  deploy/deploy.sh
  deploy/push.sh
  deploy/test.sh
  src/docker-compose.e2e.yml
  src/docker-compose.test.yml
Due: none

chore(new-client): point at correct broker environment, assume TLS only
  src/new-client/.env.development
  src/new-client/src/App/Analytics/Positions/data.ts
  src/new-client/src/services/client/endpoints.ts
Due: prettier --write, eslint --fix

chore(new-client): improve RFQ state management
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.tsx
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.state.ts
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.test.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqButton.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqTimer.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/index.ts
  src/new-client/src/App/LiveRates/Tile/Tile.state.ts
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
Due: prettier --write, eslint --fix

fix(new-client): remove port from the endpoint
  src/new-client/src/services/client/endpoints.ts
Due: prettier --write, eslint --fix
