Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

ARTP-1288-Make-version-URL-clickable
  src/client/src/apps/MainRoute/widgets/footer-version/FooterVersion.tsx
Due: prettier --write, eslint --fix

ARTP-1288-Make-version-URL-clickable-v2
  src/client/src/apps/MainRoute/widgets/footer-version/FooterVersion.tsx
Due: prettier --write, eslint --fix

fix(client): notification works even if trade from popped out window (ARTP-1234)
  src/client/public/rtc-sw.js
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/rt-platforms/browser/utils/sendNotification.ts
Due: prettier --write, eslint --fix

fix: revert window name change, check for _view in window name for external (ARTP-1334)
  src/client/src/apps/MainRoute/routes/inExternalWindow.ts
  src/client/src/rt-platforms/externalWindowDefault.ts
Due: prettier --write, eslint --fix

style(client): enhance notification, and remove highligh functionality (ARTP-1234)
  src/client/public/rtc-sw.js
  src/client/public/static/media/adaptive-icon-no-bkgd-256-x-256.svg
  src/client/public/static/media/reactive-trader-icon-dark-256x256.png
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/rt-platforms/browser/utils/sendNotification.ts
Due: prettier --write, eslint --fix

fix: pass route title through to openfin chrome, fix openfin window hidden label color (ARTP-1335)
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
  src/client/src/rt-platforms/openfin-platform/adapter/OpenFinRoute.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinWindowFrame.tsx
  src/client/src/rt-platforms/platform.ts
Due: prettier --write, eslint --fix

chore(server): remove .env file
  src/server/node/bot/.env
Due: none

chore(server): add .env.example
  src/server/node/bot/.env.example
  src/server/node/bot/.gitignore
Due: none

chore(server): update README for bot
  src/server/node/bot/README.MD
Due: none

chore: change mark from tm to r
  README.md
  src/client/install/README.md
  src/client/package.json
  src/client/public/config/openfin/demo.json
  src/client/public/index.html
  src/client/public/manifest.json
  src/client/public/openfin/app.json
  src/client/public/symphony/bundle.json
  src/client/src/apps/MainRoute/MainRoute.tsx
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWAInstallPrompt.tsx
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/getInlineSuggestionsComponent.tsx
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
  src/client/src/rt-platforms/glue/Reactive Trader Workspace.json
  src/client/src/rt-platforms/glue/reactive-trader.json
  src/client/src/rt-util/getAppName.ts
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

fix(client): restore missing space on OpenFin popout (ARTP-1333)
  src/client/public/openfin/app.json
  src/client/src/apps/MainRoute/widgets/analytics/components/AnalyticsWindowControls.tsx
  src/client/src/apps/MainRoute/widgets/analytics/components/styled.tsx
  src/client/src/apps/MainRoute/widgets/blotter/components/BlotterHeader.tsx
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/WorkspaceControl.tsx
  src/client/src/rt-components/styled.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSubWindowFrame.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinWindowFrame.tsx
Due: prettier --write, eslint --fix

feat(client): toggle openfin tabs and layout lock (ARTP-1360)
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/rt-platforms/openfin/components/ToggleOpenFinLayoutLock.tsx
  src/client/src/rt-platforms/openfin/components/index.ts
  src/client/src/rt-platforms/openfin/components/utils.ts
Due: prettier --write, eslint --fix

chore(client): use latest OF notification service UI
  src/client/public/openfin/app.json
Due: prettier --write

feat(client): save and restore snapshot functionality
  src/client/public/openfin/app.json
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinContactButton.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/OpenFinSnapshotButton.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/OpenFinSnapshotList.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/index.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/styled.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/utils.tsx
Due: prettier --write, eslint --fix

fix(launcher): set permissions to launch Limit Checker (ARTP-1363)
  src/client/public/openfin/launcher.json
Due: prettier --write

chore: launcher hover bug fixed
  src/client/src/apps/SimpleLauncher/LaunchButton.tsx
  src/client/src/apps/SimpleLauncher/styles.ts
Due: prettier --write, eslint --fix

fix(client): reset listeners on popup windows
  src/client/src/rt-platforms/openfin/components/utils.ts
Due: prettier --write, eslint --fix

chore(build): update gcloud action
  .github/workflows/deploy.yml
Due: none

feat(client): save and restore snapshots
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/OpenFinSnapshotList.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/ToggleOpenFinLayoutLock.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/styled.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/utils.tsx
  src/client/src/rt-platforms/openfin/components/ToggleOpenFinLayoutLock.tsx
  src/client/src/rt-platforms/openfin/components/index.ts
  src/client/src/rt-platforms/openfin/components/utils.ts
Due: prettier --write, eslint --fix

fix(client): popouts lost after child window close
  src/client/public/openfin/app.json
  src/client/src/rt-platforms/openfin/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinContactButton.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/OpenFinSnapshotButton.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/ToggleOpenFinLayoutLock.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/utils.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinStatusConnection/OpenFinStatusButton.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinStatusConnection/StatusContainers.tsx
  src/client/src/rt-platforms/openfin/components/utils.ts
Due: prettier --write, eslint --fix

refactor(client): match lock functionality to design (ARPT-1364)
  src/client/public/openfin/app.json
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/apps/MainRoute/components/app-header/theme-switcher/ThemeSwitcher.tsx
  src/client/src/rt-platforms/openfin/components/LayoutLockToggleSwitch.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/OpenFinSnapshotButton.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/OpenFinSnapshotList.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/ToggleOpenFinLayoutLock.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/styled.tsx
  src/client/src/rt-platforms/openfin/components/OpenFinSnapshot/utils.tsx
  src/client/src/rt-platforms/openfin/components/PlatformLockedStatusIcon.tsx
  src/client/src/rt-platforms/openfin/components/utils.ts
Due: prettier --write, eslint --fix

Refactor: extract notification text creation to reusable function
  src/client/src/rt-platforms/browser/utils/sendNotification.ts
Due: prettier --write, eslint --fix

fix: use new notifications api in finsemble client
  src/client/src/rt-platforms/finsemble/finsemble.ts
  src/client/src/rt-platforms/finsemble/finsembleClient.js
Due: prettier --write, eslint --fix

Chore: Remove headerLogo passed to FSBL
  src/client/src/rt-platforms/finsemble/finsembleClient.js
Due: prettier --write

chore(client): update to OpenFin notification 0.12.10
  src/client/package-lock.json
  src/client/package.json
  src/client/public/openfin/app.json
Due: prettier --write

fix(client): use dark reactive-trader icon in OF notification (ARTP-1368)
  src/client/public/static/media/reactive-trader-icon-dark.ico
  src/client/src/rt-platforms/openfin/adapter/openfin.ts
Due: prettier --write, eslint --fix

fix(client): style openfin layout lock (ARTP-1369)
  src/client/src/rt-platforms/openfin/components/LayoutLockToggleSwitch.tsx
Due: prettier --write, eslint --fix

fix(client): use correct env var for build version
  src/client/src/apps/MainRoute/widgets/footer-version/FooterVersion.tsx
Due: prettier --write, eslint --fix

feat(new-client): re-arch blotter bootstrap (656)
  src/new-client/.env
  src/new-client/.env.development
  src/new-client/.env.production
  src/new-client/.gitignore
  src/new-client/package.json
  src/new-client/public/index.html
  src/new-client/src/App/Trades/BlotterFooter.tsx
  src/new-client/src/App/Trades/BlotterGrid/BlotterGrid.tsx
  src/new-client/src/App/Trades/BlotterGrid/CellRenderer.tsx
  src/new-client/src/App/Trades/BlotterGrid/SetFilter/Option.tsx
  src/new-client/src/App/Trades/BlotterGrid/SetFilter/SetFilter.tsx
  src/new-client/src/App/Trades/BlotterGrid/SetFilter/index.tsx
  src/new-client/src/App/Trades/BlotterGrid/index.tsx
  src/new-client/src/App/Trades/BlotterGrid/styled.tsx
  src/new-client/src/App/Trades/BlotterHeader/AppliedFilters.tsx
  src/new-client/src/App/Trades/BlotterHeader/BlotterHeader.tsx
  src/new-client/src/App/Trades/BlotterHeader/ExcelButton.tsx
  src/new-client/src/App/Trades/BlotterHeader/QuickFilter.tsx
  src/new-client/src/App/Trades/BlotterHeader/index.tsx
  src/new-client/src/App/Trades/Trades.tsx
  src/new-client/src/App/Trades/index.tsx
  src/new-client/src/theme/colors.ts
  src/new-client/src/types/Side.ts
  src/new-client/src/types/index.ts
  src/new-client/src/utils/formatters.ts
  src/new-client/yarn.lock
Due: prettier --write, eslint --fix

feat(new-client): re-arch tiles bootstrap
  src/new-client/src/App/LiveRates/LiveRates.tsx
  src/new-client/src/App/LiveRates/MainHeader.tsx
  src/new-client/src/App/LiveRates/MainPanel.tsx
  src/new-client/src/App/LiveRates/TileSwitch.tsx
  src/new-client/src/App/LiveRates/Tiles/AnalyticsTile/AnalyticsTile.tsx
  src/new-client/src/App/LiveRates/Tiles/AnalyticsTile/AnalyticsTileChart.tsx
  src/new-client/src/App/LiveRates/Tiles/AnalyticsTile/styled.tsx
  src/new-client/src/App/LiveRates/Tiles/Notional.tsx
  src/new-client/src/App/LiveRates/Tiles/PriceControls/PriceButton.tsx
  src/new-client/src/App/LiveRates/Tiles/PriceControls/PriceControls.tsx
  src/new-client/src/App/LiveRates/Tiles/PriceControls/PriceMovement.tsx
  src/new-client/src/App/LiveRates/Tiles/PriceControls/styled.tsx
  src/new-client/src/App/LiveRates/Tiles/SpotTile/SpotTile.tsx
  src/new-client/src/App/LiveRates/Tiles/SpotTile/styled.tsx
  src/new-client/src/App/LiveRates/Tiles/TileHeader.tsx
  src/new-client/src/App/LiveRates/Tiles/styled.tsx
  src/new-client/src/App/LiveRates/styled.tsx
  src/new-client/src/App/LiveRates/types.ts
  src/new-client/src/App/LiveRates/util.ts
  src/new-client/src/App/Trades/BlotterGrid/SetFilter/SetFilter.tsx
  src/new-client/src/services/currencyPairs.ts
  src/new-client/src/services/tiles.ts
Due: prettier --write, eslint --fix

chore(deps): bump ini from 1.3.5 to 1.3.7 in /src/e2e
  src/e2e/package-lock.json
Due: prettier --write

chore(deps): bump ini from 1.3.5 to 1.3.7
  package-lock.json
  src/client/package-lock.json
  src/e2e/package-lock.json
Due: prettier --write

fix(client): expose build version in OpenFin service status
  src/client/src/apps/MainRoute/widgets/status-connection/StatusButton.tsx
  src/client/src/rt-components/footer-version/FooterVersion.tsx
  src/client/src/rt-components/footer-version/index.ts
  src/client/src/rt-components/index.ts
  src/client/src/rt-platforms/openfin/components/OpenFinStatusConnection/StatusDisplay.tsx
Due: prettier --write, eslint --fix

fix(new-client): fix ProfitAndLoss chart
  src/new-client/src/App/Analytics/ProfitAndLoss/LineChart/LineChart.tsx
Due: prettier --write, eslint --fix

chore(new-client/analytics): remove debugging console.logs
  src/new-client/src/App/Analytics/Positions/Positions.tsx
Due: prettier --write, eslint --fix

chore(new-client/tiles): TileSwitch keyed and memoed
  src/new-client/src/App/LiveRates/MainPanel.tsx
  src/new-client/src/App/LiveRates/TileSwitch.tsx
Due: prettier --write, eslint --fix
