Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: Update main README to simplify and make it easier to install everything from one place
  README.md
  docs/CICD.JPG
  docs/architecture.JPG
Due: none

fix(launcher): fix moving search icon on hover in launcher
  src/client/src/apps/SimpleLauncher/LaunchButton.tsx
Due: prettier --write, eslint --fix

chore(readme): updates to readme (ARTP-1094)
  README.md
  src/server/node/bot/package.json
Due: prettier --write

fix(security): rewrite package lock files for node services
  src/server/node/bot/package-lock.json
  src/server/node/nlp/package-lock.json
  src/server/node/openfin-config/package-lock.json
  src/server/node/priceHistory/package-lock.json
  src/server/node/shared/package-lock.json
Due: prettier --write

fix(readme): update image filenames/paths
  docs/CICD.jpg
  docs/architecture.jpg
  src/README.md
Due: none

fix(readme): image positioning
  README.md
Due: none

fix: delete duplicate file extensions
  docs/CICD.JPG
  docs/architecture.JPG
Due: none

chore: rebase + Readme for RabbitMQ
  README.md
  src/server/node/bot/package-lock.json
  src/server/node/priceHistory/package-lock.json
  src/server/node/shared/package-lock.json
Due: prettier --write

fix(launcher): Fix launcher results to have fixed width
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineQuote.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/resultsTable.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
Due: prettier --write, eslint --fix

WIP
  src/client/package-lock.json
  src/client/package.json
  src/client/src/apps/MainRoute/MainRoute.tsx
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/apps/SimpleLauncher/SimpleLauncher.tsx
  src/client/src/index.tsx
  src/client/src/rt-platforms/getPlatformAsync.ts
  src/client/src/rt-platforms/glue/glueCore.ts
  src/client/src/rt-platforms/glue/index.ts
  src/client/src/rt-platforms/glue/window.ts
Due: prettier --write, eslint --fix

feat(launcher): set up new intent suggestion (ARTP-1085)
  src/client/src/apps/SimpleLauncher/spotlight/components/getInlineSuggestionsComponent.tsx
  src/client/src/rt-interop/intents/responseMapper.ts
Due: prettier --write, eslint --fix

feat(CTA): Build CTA UI for 'Getting in Touch'
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUs.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUsButton.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/FollowUs.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/index.ts
  src/client/src/apps/MainRoute/widgets/contact-us/styled.tsx
  src/client/src/apps/MainRoute/widgets/status-connection/styled.tsx
  src/client/src/rt-components/popup/Popup.tsx
  src/client/src/rt-components/popup/styled.tsx
Due: prettier --write, eslint --fix

feat(contact-us): Add mail logo and use Google analytics on outbound links
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUs.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUsButton.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/FollowUs.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/MailLogo.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/styled.tsx
Due: prettier --write, eslint --fix

feat(contact-us): Add active state to mail logo
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUsButton.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/MailLogo.tsx
Due: prettier --write, eslint --fix

fix(header): Fix header buttons click area
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
Due: prettier --write, eslint --fix

fix(CTA): Fix GA event args twitter label
  src/client/src/apps/MainRoute/widgets/contact-us/FollowUs.tsx
Due: prettier --write, eslint --fix

feat(launcher): adds nlp market view result (ARTP-1085)
  src/client/src/apps/MainRoute/data/referenceData/epics.ts
  src/client/src/apps/MainRoute/widgets/blotter/blotterService.ts
  src/client/src/apps/SimpleLauncher/SimpleLauncher.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineBlotter.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineMarketResults.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineQuote.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/getInlineSuggestionsComponent.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/resultsTable.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/useMarketService.ts
  src/client/src/apps/SimpleLauncher/spotlight/components/utils.tsx
  src/client/src/apps/SimpleLauncher/spotlight/context.ts
Due: prettier --write, eslint --fix

feat(launcher): removes console logs and clean up (ARTP-1085)
  src/client/src/apps/MainRoute/data/referenceData/epics.ts
  src/client/src/apps/SimpleLauncher/SimpleLauncher.tsx
Due: prettier --write, eslint --fix

fix(storybook): Fix header in storybook
  src/client/src/apps/MainRoute/components/app-header/Header.stories.tsx
Due: prettier --write, eslint --fix

chore(build): switch to GitHub actions for builds
  .circleci/config.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  src/docker-compose.deploy.yml
  src/docker-compose.e2e.yml
  src/docker-compose.yml
Due: none

chore(build): update CI badge in readme
  README.md
Due: none

chore(build): fix issue with secrets and PRs from forks
  .github/workflows/ci.yml
Due: none

fix(servers): analytics resets when event store is reinitialized
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/AnalyticsEngine.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/AnalyticsService.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/AnalyticsServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/IAnalyticsService.cs
Due: none

fix(header): Fix theme switcher divider on light theme
  src/client/src/apps/MainRoute/components/app-header/LoginControls/styled.ts
Due: prettier --write, eslint --fix

chore(build): extra info for deployment event
  .github/workflows/ci.yml
Due: none

fix(header): Fix divider (use named color)
  src/client/src/apps/MainRoute/components/app-header/LoginControls/styled.ts
Due: prettier --write, eslint --fix

chore(storybook): Add CTA button to storybook
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUs.stories.tsx
Due: prettier --write, eslint --fix

chore(theme): Add divider color, and fix header dividers
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/apps/MainRoute/components/app-header/LoginControls/styled.ts
  src/client/src/rt-theme/colors.ts
Due: prettier --write, eslint --fix

chore(styleguide): Add mail icon from CTA to iconography
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUsButton.tsx
  src/client/src/apps/StyleguideRoute/sections/Iconography.tsx
  src/client/src/rt-components/icons/MailIcon.tsx
  src/client/src/rt-components/icons/index.ts
Due: prettier --write, eslint --fix

fix(test): Update failing snapshot test
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

fix(tests): Fix snapshot
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

feat(mobile): better mobile theme switching experience (ARTP-1124)
  src/client/src/apps/MainRoute/components/app-header/theme-switcher/ThemeSwitcher.tsx
Due: prettier --write, eslint --fix

fix(header): Remove reactive trader in browser header
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/rt-platforms/getPlatformAsync.ts
Due: prettier --write, eslint --fix

fix(openfin): Refactor RT in OpenFin header
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
Due: prettier --write, eslint --fix

undo exports
  src/client/src/rt-platforms/getPlatformAsync.ts
Due: prettier --write, eslint --fix

Update snapshot test
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

Fix test snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

feat(launcher): reverts launcher logo to moving adaptive logo (ARTP-1123)
  src/client/src/apps/SimpleLauncher/Launcher.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,tsx,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
