Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add overflow property to WorkspaceWrapper
  src/client/src/apps/MainRoute/routes/styled.tsx
Due: prettier --write, eslint --fix

add semicolon for consistency
  src/client/src/apps/MainRoute/routes/styled.tsx
Due: prettier --write, eslint --fix

minor: add semicolons (for consistency)
  src/client/src/apps/MainRoute/routes/styled.tsx
Due: prettier --write, eslint --fix

trademark exists in all instances of Reactive Trader
  src/client/package.json
  src/client/public/config/openfin/demo.json
  src/client/public/index.html
  src/client/public/manifest.json
  src/client/public/openfin/app.json
  src/client/public/symphony/bundle.json
  src/client/src/apps/MainRoute/components/app-header/PWAInstallPrompt/PWAInstallPrompt.tsx
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
  src/client/src/rt-platforms/glue/Reactive Trader Workspace.json
  src/client/src/rt-platforms/glue/reactive-trader.json
  src/client/src/rt-util/getAppName.ts
Due: prettier --write, eslint --fix

removed TM from name fields
  src/client/src/rt-platforms/glue/reactive-trader.json
Due: prettier --write

fix(client): trademark-to-appear-on-tab (ARTP-1316)
  src/client/src/apps/MainRoute/MainRoute.tsx
  src/client/src/apps/SimpleLauncher/SimpleLauncher.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/getInlineSuggestionsComponent.tsx
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
  src/client/src/rt-platforms/symphony/symphonyController.ts
Due: prettier --write, eslint --fix

feat(launcher): launch reactive analytics from openfin manifest
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
Due: prettier --write, eslint --fix

Updated snapshots
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

Update snapshot
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

Tile testing
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

fixed tradebutton colors
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
Due: prettier --write, eslint --fix

fixed tests
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

fix(client): trademark-to-appear-on-tab (ARTP-1316)
  src/client/src/apps/SimpleLauncher/SimpleLauncher.tsx
Due: prettier --write, eslint --fix

Update README.md
  src/client/install/README.md
Due: none

fix: style drag handles (ARTP-1318)
  src/client/src/rt-platforms/openfin-platform/components/OpenFinSubWindowFrame.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinWindowFrame.tsx
Due: prettier --write, eslint --fix

chore: update readmes
  README.md
  src/client/install/README.md
Due: none

chore: update readme
  README.md
Due: none

chore: update readme
  README.md
  src/client/install/README.md
Due: none

chore: fix installer path
  src/client/install/README.md
Due: none

fix(client): fixed-tradebutton-colors (ARTP-1315)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/styled.tsx
Due: prettier --write, eslint --fix

#1671 fix(client): fixed-tradebutton-colors-and-updated-snapshots (ARTP-1315)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

#1671 fix(client): fixed-tradebutton-colors (ARTP-1315)
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

fix: added tear off wrappers to analytics, blotter and tile routes, style fixes (ARTP-1320 ARTP-1319)
  src/client/src/apps/MainRoute/routes/AnalyticsRoute.tsx
  src/client/src/apps/MainRoute/routes/BlotterRoute.tsx
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/apps/MainRoute/routes/TileRoute.tsx
  src/client/src/apps/MainRoute/routes/addLayoutToConfig.ts
  src/client/src/apps/MainRoute/routes/inExternalWindow.ts
  src/client/src/rt-platforms/externalWindowDefault.ts
Due: prettier --write, eslint --fix

renamed showOpenFinControls to useHeightOffset
  src/client/src/apps/MainRoute/routes/AnalyticsRoute.tsx
Due: prettier --write, eslint --fix

fix: paths for new subwindows opened from launcher (ARTP-1323)
  src/client/public/openfin/launcher.json
  src/client/src/rt-interop/intents/showBlotter.ts
  src/client/src/rt-interop/intents/showCurrencyPair.ts
  src/client/src/rt-interop/intents/showMarket.ts
Due: prettier --write, eslint --fix

fix(client): disable RFQ booking when max notional is exceeded (ARTP-1326)
  src/client/src/apps/MainRoute/widgets/spotTile/components/SpotTile.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/analyticsTile/AnalyticsTile.tsx
Due: prettier --write, eslint --fix

fix(client): change disabled RFQ background color
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

fix(client): Remove OpenFin snapshot code & seeds (ARTP-1299)
  src/client/src/rt-platforms/openfin-platform/adapter/window.ts
  src/client/src/rt-platforms/openfin-platform/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinStatusConnection/StatusButton.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenfinSnapshotSelection/OpenfinSnapshotSelection.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenfinSnapshotSelection/index.ts
  src/client/src/rt-platforms/openfin-platform/components/OpenfinSnapshotSelection/styled.tsx
  src/client/src/rt-platforms/openfin-platform/snapshots/canned.json
  src/client/src/rt-platforms/openfin-platform/snapshots/index.ts
  src/client/src/rt-types/index.ts
  src/client/src/rt-types/snapshotStatus.ts
Due: prettier --write, eslint --fix

Import w alias
  src/client/src/apps/MainRoute/routes/AnalyticsRoute.tsx
  src/client/src/apps/MainRoute/routes/BlotterRoute.tsx
  src/client/src/apps/MainRoute/routes/TileRoute.tsx
Due: prettier --write, eslint --fix

fix: removed open fin specific code from RouteWrapper and AppLayout
  src/client/src/apps/MainRoute/layouts/AppLayout.tsx
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
  src/client/src/rt-platforms/openFin/adapter/launcherUtils.ts
  src/client/src/rt-platforms/openfin-platform/components/OpenFinSubWindowFrame.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinWindowFrame.tsx
Due: prettier --write, eslint --fix

fix: launcher autoShow = false, explicitly show on render
  src/client/public/openfin/launcher.json
  src/client/src/apps/SimpleLauncher/SimpleLauncher.tsx
  src/client/src/rt-platforms/browser/browser.ts
  src/client/src/rt-platforms/finsemble/finsemble.ts
  src/client/src/rt-platforms/glue/glue.ts
  src/client/src/rt-platforms/glue/glueCore.ts
  src/client/src/rt-platforms/noopAdapter.ts
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
  src/client/src/rt-platforms/openfin-platform/adapter/openFinPlatform.ts
  src/client/src/rt-platforms/openfin-platform/adapter/window.ts
  src/client/src/rt-platforms/platformWindow.ts
  src/client/src/rt-platforms/pwa/pwa.ts
  src/client/src/rt-platforms/symphony/adapter/index.ts
Due: prettier --write, eslint --fix

fix(Tile): fix issue with flaky snapshop-tests with dates
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/Tile.test.tsx
Due: prettier --write, eslint --fix

remove deprecated set-env
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

feat(client):restore OF popup
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUs.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUsButton.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/FollowUs.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/styled.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/utils.ts
  src/client/src/rt-platforms/openfin-platform/components/OpenFinChrome.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinContactButton.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinStatusConnection/StatusButton.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinStatusConnection/StatusButtonContainer.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinStatusConnection/StatusContainers.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinStatusConnection/StatusDisplay.tsx
  src/client/src/rt-platforms/openfin-platform/components/OpenFinStatusConnection/index.ts
  src/client/src/rt-platforms/openfin-platform/components/OpenFinStatusConnection/styled.tsx
  src/client/src/rt-platforms/openfin-platform/components/utils.ts
Due: prettier --write, eslint --fix

feat(client): add blotter highlight on notif click for browser (ARTP-1234)
  src/client/public/rtc-sw.js
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/apps/MainRoute/widgets/blotter/epics/blotterServiceEpic.ts
  src/client/src/apps/MainRoute/widgets/blotter/epics/combineBlotterEpics.ts
  src/client/src/rt-platforms/browser/utils/sendNotification.ts
Due: prettier --write, eslint --fix

fix(tests): check if serviceWorker defined (ARTP-1234)
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/rt-platforms/browser/utils/sendNotification.ts
Due: prettier --write, eslint --fix

fix build error
  src/client/src/apps/MainRoute/Router.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,tsx,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
