Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

fix(clien): rfq-button now in the right position(ARTP-1021)
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/PriceButton.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/PriceButton/styled.tsx
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
  src/client/src/apps/MainRoute/widgets/spotTile/components/notifications/TileBooking.tsx
Due: prettier --write, eslint --fix

feat(launcher): fixes for comments
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/icons/reactiveAnalyticsIcon.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
  src/client/src/apps/SimpleLauncher/styles.ts
Due: prettier --write, eslint --fix

fix(client): a styling fix for placholder
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
Due: prettier --write, eslint --fix

feat(client): new search - animate width
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/SearchControl.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
  src/client/src/apps/SimpleLauncher/styles.ts
Due: prettier --write, eslint --fix

feat(launcher): initial work on new search behabiour(ARTP-990)
  src/client/public/config/openfin/launcher-local.json
  src/client/src/apps/SimpleLauncher/LaunchButton.tsx
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/icons/exitNormalIcon.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/SearchControl.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/index.ts
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
  src/client/src/apps/SimpleLauncher/styles.ts
Due: prettier --write, eslint --fix

feat(launcher): search bar - refocus after cancel button clicked
  src/client/src/apps/SimpleLauncher/spotlight/components/SearchControl.tsx
Due: prettier --write, eslint --fix

fix(client): fix svg property
  src/client/src/apps/SimpleLauncher/icons/exitNormalIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/minimiseNormalIcon.tsx
Due: prettier --write, eslint --fix

feat(client): bg-color
  src/client/public/config/openfin/launcher-local.json
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
  src/client/src/apps/SimpleLauncher/styles.ts
Due: prettier --write, eslint --fix

client builds last
  src/docker-compose.yml
Due: none

fix: add again files that were ignored by git
  src/server/dotNet/.DS_Store
  src/server/dotNet/Adaptive.ReactiveTrader.Server.sln
Due: none

fix: add files that were ignored by git
  src/server/node/bot/.DS_Store
  src/server/node/bot/config/placholder.txt
  src/server/node/bot/src/.DS_Store
Due: none

feat(styleguide): add roboto fontface (ARTP-1019)
  src/client/package-lock.json
  src/client/package.json
Due: prettier --write

feat(styleguide): change typography section (ARTP-1019)
  src/client/src/apps/StyleguideRoute/sections/FontFamilies.tsx
  src/client/src/apps/StyleguideRoute/styled/Paragraph.tsx
  src/client/src/apps/StyleguideRoute/styled/Text.tsx
  src/client/src/rt-theme/globals.ts
Due: prettier --write, eslint --fix

feat(styleguide): fix buttons section (ARTP-956)
  src/client/src/apps/StyleguideRoute/components/ButtonGrid.tsx
Due: prettier --write, eslint --fix

feat(styleguide): fix input section (ARTP-956)
  src/client/src/apps/StyleguideRoute/components/ButtonGrid.tsx
  src/client/src/apps/StyleguideRoute/components/FormGrid.tsx
  src/client/src/apps/StyleguideRoute/sections/Atoms.tsx
  src/client/src/rt-styleguide/components/Input.tsx
Due: prettier --write, eslint --fix

feat(styleguide): tidy up (ARTP-956)
  src/client/src/apps/StyleguideRoute/components/FormGrid.tsx
Due: prettier --write, eslint --fix

feat(styleguide): fix to inputs grid (ARTP-956)
  src/client/src/apps/StyleguideRoute/components/FormGrid.tsx
Due: prettier --write, eslint --fix

fix(launcher): missing control buttons in launcher apps (ARTP-957)
  src/client/src/apps/MainRoute/Router.tsx
Due: prettier --write, eslint --fix

feat(styleguide): add icons to rt-components (ARTP-1020)
  src/client/src/rt-components/icons/ChartIcon.tsx
  src/client/src/rt-components/icons/ChevronIcon.tsx
  src/client/src/rt-components/icons/CrossIcon.tsx
  src/client/src/rt-components/icons/DownloadIcon.tsx
  src/client/src/rt-components/icons/FilterIcon.tsx
  src/client/src/rt-components/icons/MaximizeIcon.tsx
  src/client/src/rt-components/icons/MinimizeIcon.tsx
  src/client/src/rt-components/icons/PopInIcon.tsx
Due: prettier --write, eslint --fix

feat(styleguide): add icons section to styleguide (ARTP-1020)
  src/client/src/apps/StyleguideRoute/StyleguideRoute.tsx
  src/client/src/apps/StyleguideRoute/sections/Iconography.tsx
  src/client/src/rt-components/icons/index.ts
Due: prettier --write, eslint --fix

fix(launcher): add system tooltips to launcher
  src/client/public/config/openfin/launcher-local.json
  src/client/src/apps/SimpleLauncher/LaunchButton.tsx
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/LauncherApps.tsx
Due: prettier --write, eslint --fix

fix(launcher): fix search button input boundaries
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
  src/server/node/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

fix(launcher): add little padding to results container
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/styles.ts
Due: prettier --write, eslint --fix

fix(launcher): add background color to config
  src/client/public/config/openfin/launcher-local.json
  src/server/node/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

fix(launcher): add background color to root element
  src/client/src/apps/SimpleLauncher/styles.ts
Due: prettier --write, eslint --fix

chore: Upgrade dotnet packages
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/Adaptive.ReactiveTrader.Server.IntegrationTests.csproj
Due: none

chore: clean references in every project
  src/server/dotNet/Adaptive.ReactiveTrader.Common/Adaptive.ReactiveTrader.Common.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.EventStore/Adaptive.ReactiveTrader.EventStore.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.EventStore/Domain/Repository.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Abstraction/AnonymousDisposable.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Adaptive.ReactiveTrader.Messaging.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/BrokerConnection.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/EndPoint.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/AnalyticsServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/AnalyticsServiceHostFactory.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Blotter/BlotterServiceHostFactory.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Common/Adaptive.ReactiveTrader.Server.Common.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Common/Trade.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Common/TradeCache.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Common/TradeMapper.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Host/Adaptive.ReactiveTrader.Server.Host.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/Adaptive.ReactiveTrader.Server.IntegrationTests.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/TestAddress.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/TestBroker.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Launcher/Adaptive.ReactiveTrader.Server.Launcher.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Pricing/Adaptive.ReactiveTrader.Server.Pricing.csproj
Due: none

chore: dotnet packages update step 2
  src/server/dotNet/Adaptive.ReactiveTrader.Common.UnitTests/Adaptive.ReactiveTrader.Common.UnitTests.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Common/Adaptive.ReactiveTrader.Common.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Contract/Adaptive.ReactiveTrader.Contract.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.EventStore/Adaptive.ReactiveTrader.EventStore.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Adaptive.ReactiveTrader.Messaging.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Common/Adaptive.ReactiveTrader.Server.Common.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Host/Adaptive.ReactiveTrader.Server.Host.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/Adaptive.ReactiveTrader.Server.IntegrationTests.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Pricing/Adaptive.ReactiveTrader.Server.Pricing.csproj
Due: none

chore: clean nugget packages step 1
  src/server/dotNet/Adaptive.ReactiveTrader.Common.UnitTests/Adaptive.ReactiveTrader.Common.UnitTests.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Common/Adaptive.ReactiveTrader.Common.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Contract/Adaptive.ReactiveTrader.Contract.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.EventStore/Adaptive.ReactiveTrader.EventStore.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/Adaptive.ReactiveTrader.Server.Analytics.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Blotter/Adaptive.ReactiveTrader.Server.Blotter.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Common/Adaptive.ReactiveTrader.Server.Common.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Host/Adaptive.ReactiveTrader.Server.Host.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/Adaptive.ReactiveTrader.Server.IntegrationTests.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Launcher/Adaptive.ReactiveTrader.Server.Launcher.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Pricing/Adaptive.ReactiveTrader.Server.Pricing.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.ReferenceDataRead/Adaptive.ReactiveTrader.Server.ReferenceDataRead.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.ReferenceDataWrite/Adaptive.ReactiveTrader.Server.ReferenceDataWrite.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.TradeExecution/Adaptive.ReactiveTrader.Server.TradeExecution.csproj
Due: none

chore: dotnet packages update step 3
  src/server/dotNet/Adaptive.ReactiveTrader.Common.UnitTests/Adaptive.ReactiveTrader.Common.UnitTests.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Common.UnitTests/DateUtilsTests.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Common/Adaptive.ReactiveTrader.Common.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Contract/Adaptive.ReactiveTrader.Contract.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.EventStore/Adaptive.ReactiveTrader.EventStore.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Adaptive.ReactiveTrader.Messaging.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/Adaptive.ReactiveTrader.Server.Analytics.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Blotter/Adaptive.ReactiveTrader.Server.Blotter.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Common/Adaptive.ReactiveTrader.Server.Common.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Host/Adaptive.ReactiveTrader.Server.Host.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/Adaptive.ReactiveTrader.Server.IntegrationTests.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/ReferenceDataSmokeTest.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Launcher/Adaptive.ReactiveTrader.Server.Launcher.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Pricing/Adaptive.ReactiveTrader.Server.Pricing.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.ReferenceDataRead/Adaptive.ReactiveTrader.Server.ReferenceDataRead.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.ReferenceDataWrite/Adaptive.ReactiveTrader.Server.ReferenceDataWrite.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Server.TradeExecution/Adaptive.ReactiveTrader.Server.TradeExecution.csproj
Due: none

fix: broker address in integration tests
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Heartbeat.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/ServiceHostBase.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/WAMP/ServiceInstanceDto.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/WAMP/ServiceMethod.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/TestAddress.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Pricing/PriceSourceAdapters/IMarketDataAdapter.cs
Due: none

fix(client): fix console warning
  src/client/src/apps/SimpleLauncher/icons/maximiseScreenIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/popInIcon.tsx
  src/client/src/rt-components/icons/ChartIcon.tsx
  src/client/src/rt-components/icons/ChevronIcon.tsx
  src/client/src/rt-components/icons/CrossIcon.tsx
  src/client/src/rt-components/icons/DownloadIcon.tsx
  src/client/src/rt-components/icons/FilterIcon.tsx
  src/client/src/rt-components/icons/MaximizeIcon.tsx
  src/client/src/rt-components/icons/MinimizeIcon.tsx
  src/client/src/rt-components/icons/PopInIcon.tsx
  src/client/src/rt-components/icons/PopoutIcon.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
Due: prettier --write, eslint --fix

fix(launcher): reset bound size before unload (ARTP-1028)
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/windowUtils.ts
Due: prettier --write, eslint --fix

Update launcher-dev.json
  src/client/public/config/openfin/launcher-dev.json
Due: prettier --write

chore: add platform (openfin) env to generated installers
  src/client/install/ReactiveTraderCloud-platform.exe
  src/client/lib/downloadInstaller.js
  src/client/public/config/openfin/launcher-dev.json
Due: prettier --write
