Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

feat(client): openfin and icons
  src/client/public/config/openfin/demo.json
  src/client/public/config/openfin/dev.json
  src/client/public/config/openfin/launcher-demo.json
  src/client/public/config/openfin/launcher-dev.json
  src/client/public/config/openfin/launcher-local.json
  src/client/public/config/openfin/local-blotter.json
  src/client/public/config/openfin/local.json
  src/client/public/favicon.ico
  src/client/src/rt-platforms/openFin/adapter/openFin.ts
  src/server/node/openfin-config/src/config/base.ts
  src/server/node/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

build: make npm token optional
  src/client/.npmrc
  src/client/Dockerfile
  src/client/package-lock.json
Due: prettier --write

fix(spot-tile): Fix spot tile highlight on light mode
  src/client/src/apps/MainRoute/widgets/spotTile/components/styled.tsx
Due: prettier --write, eslint --fix

fix(test): Update snapshot test
  src/client/src/apps/MainRoute/widgets/spotTile/components/Tile/__snapshots__/Tile.test.tsx.snap
Due: none

fix(live-rates): Fix spot tile dragging the whole live rates section
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
Due: prettier --write, eslint --fix

build: make finsemble import optional
  src/client/.env
  src/client/Dockerfile
  src/client/package.json
  src/client/src/rt-platforms/finsemble/finsembleClient.js
Due: prettier --write

build(client): write token to npm config when included
  src/client/Dockerfile
Due: none

fix(client): amend openfin version missed out before
  src/client/public/config/openfin/launcher-uat.json
Due: prettier --write

fix(client): more missed out openfin versions
  src/client/public/config/openfin/local-fdc3.json
  src/client/public/config/openfin/uat.json
Due: prettier --write

feat(openfin): contact us improvements (ARTP-1156)
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUs.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUsButton.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/FollowUs.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/styled.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/utils.ts
Due: prettier --write, eslint --fix

feat(openfin): self cr (ARTP-1156)
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUs.tsx
Due: prettier --write, eslint --fix

fix(openfin): downgrade openfin version to resolve issues
  src/client/install/README.md
  src/client/lib/README.md
  src/client/package-lock.json
  src/client/package.json
  src/client/public/config/openfin/README.md
  src/client/public/config/openfin/demo.app.json
  src/client/public/config/openfin/demo.json
  src/client/public/config/openfin/dev.json
  src/client/public/config/openfin/launcher-demo.json
  src/client/public/config/openfin/launcher-dev.json
  src/client/public/config/openfin/launcher-local.json
  src/client/public/config/openfin/launcher-uat.json
  src/client/public/config/openfin/local-app-directory.json
  src/client/public/config/openfin/local-blotter.json
  src/client/public/config/openfin/local-fdc3.json
  src/client/public/config/openfin/local.json
  src/client/public/config/openfin/uat.json
  src/client/public/index.html
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
  src/client/src/index.tsx
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
  src/client/src/rt-platforms/openFin/components/OpenFinChrome.tsx
  src/client/src/rt-util/getAppName.ts
  src/client/src/rt-util/getEnvironment.ts
  src/client/src/rt-util/index.ts
  src/e2e/src/tests/trade.spec.ts
  src/server/node/openfin-config/src/config/app.ts
  src/server/node/openfin-config/src/config/base.ts
  src/server/node/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

fix(icons): restore old reactive trader icons referenced by installers
  src/client/public/static/media/adaptive-mark-large.png
  src/client/public/static/media/icon.ico
Due: none

fix(openfin): demo manifests
  src/client/public/config/openfin/demo.app.json
  src/client/public/config/openfin/demo.json
  src/client/public/config/openfin/launcher-demo.json
Due: prettier --write

fix(launcher): Fix launcher results not filtering correctly
  src/client/src/apps/SimpleLauncher/spotlight/components/useBlotterTrades.ts
Due: prettier --write, eslint --fix

fix(launcher): Fix filters from popped out blotter not working correctly
  src/client/src/apps/MainRoute/widgets/blotter/blotterTradesFilter.ts
Due: prettier --write, eslint --fix

bug(launcher): date formats (ARTP-1155)
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineQuote.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
Due: prettier --write, eslint --fix

bug(styleguide): adjusts offset for better nav highlighting (ARTP-1144)
  src/client/src/apps/StyleguideRoute/components/OnePageNavBar.tsx
Due: prettier --write, eslint --fix

fix(client): remove dash from live rates in headers
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/rt-components/route-wrapper/RouteWrapper.tsx
Due: prettier --write, eslint --fix

fix(logo): add cursor:hover wrapper to main logo
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
Due: prettier --write, eslint --fix

fix(launcher): Fix inline blotter results
  src/client/src/apps/SimpleLauncher/spotlight/components/useBlotterTrades.ts
Due: prettier --write, eslint --fix

bug(launcher): fixes date formatting for trade results
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineBlotter.tsx
Due: prettier --write, eslint --fix

build: deploy to demo when a release is published
  .github/workflows/release.yml
Due: none

chore: add installer link
  README.md
Due: none

feat(popup): Add hook that toggles pop up menus when clicked outside
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUs.tsx
  src/client/src/apps/MainRoute/widgets/contact-us/ContactUsButton.tsx
  src/client/src/apps/MainRoute/widgets/status-connection/StatusButton.tsx
  src/client/src/rt-util/hooks/common.ts
  src/client/src/rt-util/hooks/index.ts
  src/client/src/rt-util/hooks/usePopUpMenu.ts
  src/client/src/rt-util/index.ts
Due: prettier --write, eslint --fix

fix(ts): Fix ts errors
  src/client/src/rt-types/index.ts
Due: prettier --write, eslint --fix

doc: update doc on running e2e tests
  src/e2e/README.md
Due: none

config: remove INFO console log when executing e2e tests in headless mode
  src/e2e/src/protractor.config.js
Due: prettier --write

doc: update e2e test execution instructions
  src/e2e/README.md
Due: none

feat(launcher): Add open tile button when showing market results
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineQuote.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
  src/client/src/apps/SimpleLauncher/spotlight/components/utils.tsx
Due: prettier --write, eslint --fix

fix(ts): Fix ts errors
  src/client/src/apps/MainRoute/index.tsx
  src/client/src/apps/MainRoute/widgets/blotter/index.ts
  src/client/src/apps/MainRoute/widgets/spotTile/index.ts
  src/client/src/apps/MainRoute/widgets/spotTile/model/index.ts
Due: prettier --write, eslint --fix

feat(client): use token replacement for pwa manifest (ARTP-1173)
  src/.env
  src/client/.env.development
  src/client/Dockerfile
  src/client/README.md
  src/client/config-overrides.js
  src/client/nginx/default.conf
  src/client/nginx/nginx.conf
  src/client/package-lock.json
  src/client/package.json
  src/client/public/manifest.json
  src/client/src/rt-util/getAppName.ts
  src/client/src/serviceWorker.js
  src/docker-compose.yml
  src/services/kubernetes/client-deployment.yaml
Due: prettier --write, eslint --fix

feat(client): update page titles after change (ARTP-1173)
  src/e2e/src/tests/trade.spec.ts
Due: prettier --write, eslint --fix

feat(openfin): move openfin config to client container (ARTP-1177)
  src/client/README.md
  src/client/config-overrides.js
  src/client/nginx/default.conf
  src/client/package-lock.json
  src/client/package.json
  src/client/public/config/openfin/README.md
  src/client/public/config/openfin/launcher-local.json
  src/client/public/config/openfin/local.json
  src/client/public/openfin/app.json
  src/client/public/openfin/launcher.json
  src/docker-compose.e2e.yml
  src/docker-compose.yml
  src/server/node/OpenfinConfig.Dockerfile
  src/server/node/openfin-config/package-lock.json
  src/server/node/openfin-config/package.json
  src/server/node/openfin-config/src/config/app.ts
  src/server/node/openfin-config/src/config/base.ts
  src/server/node/openfin-config/src/config/get.ts
  src/server/node/openfin-config/src/config/index.ts
  src/server/node/openfin-config/src/config/launcher.ts
  src/server/node/openfin-config/src/index.ts
  src/server/node/openfin-config/src/types.ts
  src/server/node/openfin-config/tsconfig.json
  src/server/node/openfin-config/webpack.config.js
  src/services/kubernetes/openfinconfig-deployment.yaml
  src/services/kubernetes/openfinconfig-service.yaml
  src/services/nginx/default.conf
Due: prettier --write, eslint --fix

feat(client): use correct http header for scheme in nginx tokens
  src/client/nginx/default.conf
Due: none

feat(client): try to map real scheme in ngix service
  src/services/nginx/default.conf
Due: none

fix(PWA): Fix PWA header to switch themes correctly
  src/client/package-lock.json
  src/client/public/index.html
  src/client/src/apps/MainRoute/components/app-header/theme-switcher/ThemeSwitcher.tsx
Due: prettier --write, eslint --fix

fix(TS): Fix exports
  src/client/src/apps/StyleguideRoute/styled/index.tsx
  src/client/src/rt-platforms/index.ts
  src/client/src/rt-theme/index.ts
Due: prettier --write, eslint --fix
