Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

feat(client): fix routing problem (ARTP-1055)
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/WorkspaceHeader.tsx
Due: prettier --write, eslint --fix

feat(client): last remaining pop out (ARTP-1055)
  src/client/src/apps/MainRoute/data/connectionStatus/selectors.ts
  src/client/src/apps/MainRoute/layouts/index.ts
  src/client/src/apps/MainRoute/layouts/selectors.ts
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/rt-platforms/openFin/adapter/window.ts
Due: prettier --write, eslint --fix

feat(launcher): updates inline blotter styles (ARTP-1064)
  src/client/public/config/openfin/launcher-local.json
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineBlotter.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
Due: prettier --write, eslint --fix

feat(launcher): adds results table to display search results (ARTP-1064)
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineBlotter.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineQuote.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/getInlineSuggestionsComponent.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/resultsTable.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
Due: prettier --write, eslint --fix

feat(launcher): styles for results and icons (ARTP-1064)
  src/client/src/apps/SimpleLauncher/icons/MovementIcon.tsx
  src/client/src/apps/SimpleLauncher/icons/index.ts
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineBlotter.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineQuote.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/resultsTable.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
Due: prettier --write, eslint --fix

feat(launcher): re-indent config json (ARTP-1064)
  src/client/public/config/openfin/launcher-local.json
Due: prettier --write

feat(launcher): adds loader to price intent (ARTP-1064)
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineQuote.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
Due: prettier --write, eslint --fix

fix(tiles): return to clean url for tiles state (ARTP-1075)
  src/client/src/apps/MainRoute/Router.tsx
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/apps/MainRoute/widgets/workspace/Workspace.tsx
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/ToggleView.tsx
  src/client/src/apps/MainRoute/widgets/workspace/workspaceHeader/WorkspaceHeader.tsx
  src/client/src/rt-components/icons/ChartIcon.tsx
  src/client/src/rt-interop/intents/showMarket.ts
  src/client/src/rt-platforms/externalWindowDefault.ts
Due: prettier --write, eslint --fix

test(e2e): fix docker composer baseurl (ARTP-1075)
  src/docker-compose.e2e.yml
Due: none

fix(readme): Fix CircleCI link (ARTP-1086)
  README.md
Due: none

feat(client): user modal and dropdown added to header (ARTP-1058)
  src/client/src/apps/MainRoute/components/app-header/Header.tsx
  src/client/src/apps/MainRoute/components/app-header/LoginControls/LoginControls.tsx
  src/client/src/apps/MainRoute/components/app-header/LoginControls/LoginControlsContainer.ts
  src/client/src/apps/MainRoute/components/app-header/LoginControls/index.ts
  src/client/src/apps/MainRoute/components/app-header/LoginControls/styled.ts
  src/client/src/apps/MainRoute/components/users-modal/UsersModal.tsx
  src/client/src/apps/MainRoute/components/users-modal/UsersModalContainer.ts
  src/client/src/apps/MainRoute/components/users-modal/fakeAvatars/five.png
  src/client/src/apps/MainRoute/components/users-modal/fakeAvatars/four.png
  src/client/src/apps/MainRoute/components/users-modal/fakeAvatars/one.png
  src/client/src/apps/MainRoute/components/users-modal/fakeAvatars/three.png
  src/client/src/apps/MainRoute/components/users-modal/fakeAvatars/two.png
  src/client/src/apps/MainRoute/components/users-modal/fakeUsers.ts
  src/client/src/apps/MainRoute/components/users-modal/index.ts
  src/client/src/apps/MainRoute/components/users-modal/styled.ts
  src/client/src/apps/MainRoute/data/index.ts
  src/client/src/apps/MainRoute/data/userStatus/index.ts
  src/client/src/apps/MainRoute/data/userStatus/reducer.ts
  src/client/src/apps/MainRoute/data/userStatus/selectors.ts
  src/client/src/apps/MainRoute/fakeUserRepository.ts
  src/client/src/apps/MainRoute/routes/ShellRoute.tsx
  src/client/src/rt-actions/index.ts
  src/client/src/rt-actions/userActions.ts
  src/client/src/rt-components/adaptive-loader/AdaptiveLoader.tsx
  src/client/src/rt-components/modal/Modal.tsx
  src/client/src/rt-types/user.ts
Due: prettier --write, eslint --fix

working server PoC
  src/server/Adaptive.ReactiveTrader.Messaging/RabbitMQConnection.cs
  src/server/Adaptive.ReactiveTrader.Messaging/RemoteProcedureBase.cs
  src/server/Adaptive.ReactiveTrader.Messaging/RemoteRequestRegistration.cs
  src/server/Adaptive.ReactiveTrader.Messaging/RemoteSubscriptionRegistration.cs
  src/server/NuGet.Config
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Abstraction/IMessage.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Abstraction/IRequestContext.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Abstraction/RequestContext.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Adaptive.ReactiveTrader.Messaging.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Broker.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/BrokerConnectionFactory.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/EndPoint.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Heartbeat.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/IBroker.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/PrivateEndPoint.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/ServiceHostBase.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/WAMP/Message.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/AnalyticsServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/Program.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Blotter/BlotterServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Pricing/PricePublisher.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Pricing/PricingServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.ReferenceDataRead/ReferenceReadServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.ReferenceDataWrite/ReferenceWriteService.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.TradeExecution/TradeExecutionService.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.TradeExecution/TradeExecutionServiceHost.cs
  src/server/dotNet/configs/config.dev.json
Due: prettier --write

client side PoC
  src/client/package-lock.json
  src/client/package.json
  src/client/src/apps/MainRoute/store/applicationServices.ts
  src/client/src/apps/SimpleLauncher/spotlight/transport.ts
  src/client/src/rt-system/AutoBahnConnection.ts
  src/client/src/rt-system/AutobahnConnectionProxy.ts
  src/client/src/rt-system/RabbitStompConfig.ts
  src/client/src/rt-system/ServiceStub.ts
  src/client/src/rt-system/ServiceStubWithLoadBalancer.ts
Due: prettier --write, eslint --fix

removed commented out code
  src/client/src/rt-system/ServiceStub.ts
  src/client/src/rt-system/ServiceStubWithLoadBalancer.ts
Due: prettier --write, eslint --fix

Fixed unit tests. Added rabbitMQ to kubernetes config
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Broker.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/ExecuteTradeIntegrationTests.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/HeartbeatSmokeTests.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/ReferenceDataSmokeTest.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/TestAddress.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/TestBroker.cs
  src/server/dotNet/configs/config.dev.json
  src/services/broker/.crossbar/config.json
  src/services/broker/Dockerfile
  src/services/kubernetes/broker-deployment.yaml
  src/services/kubernetes/broker-service.yaml
Due: prettier --write

fix: broker configuration
  src/docker-compose.yml
  src/server/dotNet/.DS_Store
  src/server/dotNet/Adaptive.ReactiveTrader.Common/Config/BrokerConfiguration.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/RabbitMQConnection.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/RemoteProcedureBase.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/TestAddress.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/TestBroker.cs
  src/server/dotNet/configs/config.docker.json
  src/server/dotNet/configs/config.prod.json
  src/services/broker/Dockerfile
Due: prettier --write

fix(client): tests
  src/client/src/rt-system/__tests__/ServiceStub.test.ts
  src/client/src/rt-system/__tests__/ServiceStubWithLoadBalancer.test.ts
Due: prettier --write, eslint --fix

fix: docker
  src/client/src/rt-system/ServiceStub.ts
  src/client/src/rt-system/__tests__/ServiceStub.test.ts
  src/docker-compose.yml
  src/server/NuGet.Config
Due: prettier --write, eslint --fix

chore: clean broker code
  src/client/src/apps/MainRoute/data/referenceData/referenceDataService.ts
  src/client/src/apps/MainRoute/store/applicationServices.ts
  src/client/src/apps/MainRoute/widgets/analytics/analyticsService.test.ts
  src/client/src/apps/MainRoute/widgets/analytics/analyticsService.ts
  src/client/src/apps/MainRoute/widgets/analytics/epics/epics.test.ts
  src/client/src/apps/MainRoute/widgets/analytics/epics/epics.ts
  src/client/src/apps/MainRoute/widgets/blotter/epics/epics.test.ts
  src/client/src/apps/MainRoute/widgets/blotter/epics/epics.ts
  src/client/src/apps/MainRoute/widgets/spotTile/epics/historicPriceService.ts
  src/client/src/apps/MainRoute/widgets/spotTile/epics/pricingEpics.ts
  src/client/src/apps/MainRoute/widgets/spotTile/epics/spotTileEpics.ts
  src/client/src/apps/SimpleLauncher/SimpleLauncher.tsx
  src/client/src/apps/SimpleLauncher/spotlight/context.ts
  src/client/src/apps/SimpleLauncher/spotlight/transport.ts
  src/client/src/rt-system/ServiceStub.ts
  src/client/src/rt-system/ServiceStubWithLoadBalancer.ts
  src/client/src/rt-system/index.ts
Due: prettier --write, eslint --fix

chore: simplifie ServiceStub
  src/client/src/rt-system/ServiceStub.ts
  src/client/src/rt-system/__tests__/ServiceStub.test.ts
Due: prettier --write, eslint --fix

refactor(client): removing autobahn
  src/client/package-lock.json
  src/client/package.json
  src/client/src/apps/MainRoute/store/applicationServices.ts
  src/client/src/apps/MainRoute/store/index.ts
  src/client/src/apps/SimpleLauncher/SimpleLauncher.tsx
  src/client/src/apps/SimpleLauncher/spotlight/transport.ts
  src/client/src/rt-platforms/browser/browser.ts
  src/client/src/rt-system/AutoBahnConnection.ts
  src/client/src/rt-system/AutobahnConnectionProxy.ts
  src/client/src/rt-system/AutobahnSessionProxy.ts
  src/client/src/rt-system/DisconnectionReason.ts
  src/client/src/rt-system/RabbitStompConfig.ts
  src/client/src/rt-system/ServiceStub.ts
  src/client/src/rt-system/StompConfig.ts
  src/client/src/rt-system/WsConnection.ts
  src/client/src/rt-system/WsConnectionProxy.ts
  src/client/src/rt-system/__tests__/ServiceStub.test.ts
  src/client/src/rt-system/__tests__/connectionStream.test.ts
  src/client/src/rt-system/connectionStream.ts
  src/client/src/rt-system/connectionType.ts
  src/client/src/rt-system/index.ts
Due: prettier --write, eslint --fix

refactor(nodes): shared library
  src/client/src/apps/MainRoute/store/applicationServices.ts
  src/client/src/rt-system/connectionStream.ts
  src/client/src/rt-system/index.ts
  src/server/node/nlp/src/index.ts
  src/server/node/priceHistory/package.json
  src/server/node/priceHistory/src/connection/AutoBahnConnection.ts
  src/server/node/priceHistory/src/connection/AutoBahnTypeExtensions.ts
  src/server/node/priceHistory/src/connection/AutobahnConnectionProxy.ts
  src/server/node/priceHistory/src/connection/AutobahnSessionProxy.ts
  src/server/node/priceHistory/src/connection/DisconnectionReason.ts
  src/server/node/priceHistory/src/connection/ServiceStub.ts
  src/server/node/priceHistory/src/connection/connectionStatus.ts
  src/server/node/priceHistory/src/connection/connectionStream.ts
  src/server/node/priceHistory/src/connection/connectionType.ts
  src/server/node/priceHistory/src/connection/index.ts
  src/server/node/priceHistory/src/index.ts
  src/server/node/priceHistory/src/logger.ts
  src/server/node/priceHistory/tsconfig.json
  src/server/node/shared/package-lock.json
  src/server/node/shared/package.json
  src/server/node/shared/src/transport/AutoBahnConnection.ts
  src/server/node/shared/src/transport/AutoBahnTypeExtensions.ts
  src/server/node/shared/src/transport/AutobahnConnectionProxy.ts
  src/server/node/shared/src/transport/AutobahnSessionProxy.ts
  src/server/node/shared/src/transport/DisconnectionReason.ts
  src/server/node/shared/src/transport/ServiceStub.ts
  src/server/node/shared/src/transport/StompConfig.ts
  src/server/node/shared/src/transport/WsConnection.ts
  src/server/node/shared/src/transport/WsConnectionProxy.ts
  src/server/node/shared/src/transport/connectionStream.ts
  src/server/node/shared/src/transport/connectionType.ts
  src/server/node/shared/src/transport/index.ts
Due: prettier --write, eslint --fix

refactor(heartbeat): heartbeat implementation
  src/server/node/nlp/combined.log
  src/server/node/nlp/src/index.ts
  src/server/node/priceHistory/src/domain/index.ts
  src/server/node/priceHistory/src/index.ts
  src/server/node/shared/src/transport/Heartbeat.ts
  src/server/node/shared/src/transport/WsConnectionProxy.ts
  src/server/node/shared/src/transport/connectionStream.ts
  src/server/node/shared/src/transport/index.ts
Due: prettier --write, eslint --fix

refactor(bot): step 1 fix(nlp): async method
  src/client/src/rt-system/ServiceStub.ts
  src/server/node/bot/package-lock.json
  src/server/node/bot/package.json
  src/server/node/bot/src/connection/AutoBahnConnection.ts
  src/server/node/bot/src/connection/AutoBahnTypeExtensions.ts
  src/server/node/bot/src/connection/AutobahnConnectionProxy.ts
  src/server/node/bot/src/connection/AutobahnSessionProxy.ts
  src/server/node/bot/src/connection/ServiceStub.ts
  src/server/node/bot/src/connection/ServiceStubWithLoadBalancer.ts
  src/server/node/bot/src/connection/StompConfig.ts
  src/server/node/bot/src/connection/WsConnection.ts
  src/server/node/bot/src/connection/WsConnectionProxy.ts
  src/server/node/bot/src/connection/connectionStream.ts
  src/server/node/bot/src/connection/index.ts
  src/server/node/bot/src/rt-services.ts
  src/server/node/nlp/combined.log
  src/server/node/nlp/src/index.ts
  src/server/node/nlp/src/types.ts
  src/server/node/priceHistory/src/index.ts
  src/server/node/shared/src/transport/ServiceStub.ts
Due: prettier --write, eslint --fix

chore(servers): log service instances
  src/server/dotNet/.DS_Store
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/Adaptive.ReactiveTrader.Messaging.csproj
  src/server/dotNet/Adaptive.ReactiveTrader.Messaging/ServiceHostBase.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Analytics/AnalyticsServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Blotter/BlotterServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Host/App.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Launcher/Program.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.Pricing/PricingServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.ReferenceDataRead/ReferenceReadServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.ReferenceDataWrite/ReferenceWriteServiceHost.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.TradeExecution/TradeExecutionServiceHost.cs
  src/server/dotNet/configs/config.dev.json
  src/server/dotNet/configs/config.docker.json
  src/server/dotNet/configs/config.prod.json
Due: prettier --write

ci(kubernetes): update config
  src/server/dotNet/.DS_Store
  src/server/node/bot/src/connection/DisconnectionReason.ts
  src/services/kubernetes/analytics-deployment.yaml
  src/services/kubernetes/blotter-deployment.yaml
  src/services/kubernetes/bot-deployment.yaml
  src/services/kubernetes/broker-deployment.yaml
  src/services/kubernetes/broker-service.yaml
  src/services/kubernetes/nlp-deployment.yaml
  src/services/kubernetes/pricehistory-deployment.yaml
  src/services/kubernetes/pricing-deployment.yaml
  src/services/kubernetes/referencedataread-deployment.yaml
  src/services/kubernetes/tradeexecution-deployment.yaml
  src/services/nginx/default.conf
Due: prettier --write, eslint --fix

fix(e2e): try to fix e2e
  src/e2e/package-lock.json
  src/server/node/bot/src/index.ts
  src/server/node/bot/src/rt-services.ts
  src/services/nsgate/rc.yml
  src/services/nsgate/svc.yml
Due: prettier --write, eslint --fix

fix(integrationtests): wait for reference service heartbeat
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/ExecuteTradeIntegrationTests.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/HeartbeatSmokeTests.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/ReferenceDataSmokeTest.cs
  src/server/dotNet/Adaptive.ReactiveTrader.Server.IntegrationTests/TestBroker.cs
Due: none

fix(e2e): try to fix - increase the timeout
  src/e2e/src/browser-manager.ts
Due: prettier --write, eslint --fix

fix(e2e): port 80 for broker url
  src/client/src/rt-system/StompConfig.ts
  src/e2e/src/browser-manager.ts
Due: prettier --write, eslint --fix

fix(security): remove vulnerabilities (ARTP-1077)
  package-lock.json
  src/client/package-lock.json
  src/client/package.json
  src/client/src/apps/MainRoute/MainRoute.tsx
  src/client/src/rt-util/hooks/useWindowSize.ts
  src/client/src/rt-util/utilityTypes.ts
  src/server/node/bot/package-lock.json
  src/server/node/nlp/package-lock.json
  src/server/node/openfin-config/package-lock.json
Due: prettier --write, eslint --fix

fix(client): update storybook to fix build (ARTP-1077)
  src/client/package-lock.json
  src/client/package.json
Due: prettier --write

fix(laucher): remember position for opened windows (ARTP-1060)
  src/client/src/rt-interop/intents/defaultWindowConfig.ts
  src/client/src/rt-interop/intents/showBlotter.ts
  src/client/src/rt-interop/intents/showCurrencyPair.ts
  src/client/src/rt-interop/intents/showMarket.ts
  src/client/src/rt-platforms/openFin/adapter/window.ts
  src/client/src/rt-platforms/openFin/adapter/workspaces.ts
  src/client/src/rt-platforms/platformWindow.ts
  src/client/src/rt-platforms/types.ts
Due: prettier --write, eslint --fix

fix(launcher): add new app icon for launcher (ARTP-1080)
  src/client/public/config/openfin/launcher-local.json
  src/client/public/static/media/launcher-icon.ico
  src/server/node/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

fix(launcher): tidy up (ARTP-1080)
  src/client/public/config/openfin/launcher-local.json
  src/server/node/openfin-config/src/config/launcher.ts
Due: prettier --write, eslint --fix

fix(launcher): tidy up (ARTP-1081)
  src/client/public/static/media/logo-ra.png
  src/client/src/apps/SimpleLauncher/applicationConfigurations.tsx
Due: prettier --write, eslint --fix

chore(client): typescript updated to 3.8 (ARTP-1074)
  src/client/.env
  src/client/package-lock.json
  src/client/package.json
  src/client/src/apps/MainRoute/data/compositeStatus/index.ts
  src/client/src/apps/MainRoute/data/connectionStatus/index.ts
  src/client/src/apps/MainRoute/data/referenceData/index.ts
  src/client/src/apps/MainRoute/data/userStatus/index.ts
  src/client/src/apps/MainRoute/index.tsx
  src/client/src/apps/MainRoute/widgets/analytics/model/currencyPairPosition.ts
  src/client/src/apps/MainRoute/widgets/analytics/model/index.ts
  src/client/src/apps/MainRoute/widgets/blotter/index.ts
  src/client/src/apps/MainRoute/widgets/spotTile/index.ts
  src/client/src/apps/MainRoute/widgets/spotTile/model/index.ts
  src/client/src/apps/StyleguideRoute/styled/index.tsx
  src/client/src/rt-actions/index.ts
  src/client/src/rt-platforms/context.ts
  src/client/src/rt-platforms/index.ts
  src/client/src/rt-platforms/symphony/index.ts
  src/client/src/rt-platforms/symphony/symphony.ts
  src/client/src/rt-styleguide/index.ts
  src/client/src/rt-system/index.ts
  src/client/src/rt-theme/index.ts
  src/client/src/rt-types/index.ts
  src/client/tsconfig.json
Due: prettier --write, eslint --fix
