Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,json}": ["prettier --write", "git add"],
  "src/**/*.{ts,tsx}": ["eslint --fix", "git add"]
}

fix: rfq pricing colours (BUG-1189)
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.styles.tsx
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.tsx
Due: prettier --write, eslint --fix

Bump build count trigger
  src/new-client/.gitkeep
Due: none

fix: vite config for Windows (BUG-1193)
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

fix: vite config, more Windows tweaks (BUG-1193)
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

chore: remove classic build workflows (#1934)
  .github/workflows/branch.yml
  .github/workflows/classic-deploy.yml
  .github/workflows/classic-pull-down.yml
  .github/workflows/classic-pull-fork.yml
  .github/workflows/classic-pull-up.yml
  .github/workflows/classic-push.yml
  .github/workflows/classic-release.yml
  .github/workflows/pull.yml
Due: none

chore: remove classic workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-fork.yml
  .github/workflows/pull-origin-down.yml
  .github/workflows/pull-origin-up.yml
  .github/workflows/release.yml
Due: none

feat: add workflow for tag builds
  .github/workflows/tag.yml
Due: none

fix: tag workflow triggers
  .github/workflows/tag.yml
Due: none

chore: remove commit build workflow
  .github/workflows/commit.yml
Due: none

fix: only run tag build on new tag pushes
  .github/workflows/tag.yml
Due: none

chore: test prod with comment
  src/new-client/index.html
Due: none

fix: ignore tag pushes in branch build
  .github/workflows/branch.yml
Due: none

fix: change branch workflow filter
  .github/workflows/branch.yml
Due: none

Replace encoded npmrc with one generated using Artifactory service account
  src/new-client/npmrc.enc
Due: none

feat: hydra url using /ws proxy, with local proxy in vite config
  src/new-client/src/Finsemble/index.tsx
  src/new-client/src/OpenFin/index.tsx
  src/new-client/src/Web/index.tsx
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

fix: introduce back delay for EURJPY currency pair (#1939)
  src/new-client/src/services/executions/constants.ts
  src/new-client/src/services/executions/executions.service-mock.ts
  src/new-client/src/services/executions/executions.ts
Due: prettier --write, eslint --fix

feat: Add manual workflow to restart classic deployments
  .github/workflows/restart-classic.yml
Due: none

fix: restart workflow typo
  .github/workflows/restart-classic.yml
Due: none

fix: deployment name suffix
  .github/workflows/restart-classic.yml
Due: none

fix: remove dynamic imports from index.tsx
  src/new-client/package-lock.json
  src/new-client/public/manifest.json
  src/new-client/src/Finsemble/index.tsx
  src/new-client/src/OpenFin/index.tsx
  src/new-client/src/Web/index.tsx
  src/new-client/src/Web/serviceWorkerRegistration.ts
  src/new-client/src/Web/sw.js
  src/new-client/src/index.tsx
  src/new-client/src/main.finsemble.ts
  src/new-client/src/main.openfin.ts
  src/new-client/src/main.ts
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

fix: service worker registration
  src/new-client/src/Web/serviceWorkerRegistration.ts
Due: prettier --write, eslint --fix

Bump hydra to 3.22.0
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/src/generated/TradingGateway.ts
  src/new-client/trading-gateway.hyer
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

Bump Hydra to 3.24.0.
  src/new-client/package-lock.json
  src/new-client/package.json
Due: prettier --write

feat(client): Added Version to Footer
  src/new-client/src/App/Footer/Footer.tsx
  src/new-client/src/App/Footer/Version/Version.tsx
  src/new-client/src/App/Footer/Version/index.tsx
  src/new-client/src/App/Footer/Version/styled.tsx
Due: prettier --write, eslint --fix

fix(client): Position ExecutionMessage & Pending absolutely to fix UI on safari
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Pending.tsx
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.styles.tsx
  src/new-client/src/services/trades/index.ts
Due: prettier --write, eslint --fix

feat(client): Set build version to git sha (testing)
  .github/workflows/pull.yml
Due: none

feat(client): Trying different syntax
  .github/workflows/pull.yml
Due: none

feat(client): Try passing github_sha via run command
  .github/workflows/pull.yml
Due: none

feat(client): Updated github sha variable reference
  .github/workflows/pull.yml
Due: none

feat(client): Updated Version component to support commit hash, updated workflow files
  .github/workflows/branch.yml
  .github/workflows/pull.yml
  .github/workflows/tag.yml
  src/new-client/src/App/Footer/Version/Version.tsx
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

fix(client): Removed table height to fix expanding row
  src/new-client/src/App/Trades/TradesGrid/TradesGrid.tsx
Due: prettier --write, eslint --fix

feat(client): Ported over PWA banner from client, testing environment suffix in workflow
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/src/App/Footer/Version/Version.tsx
  src/new-client/src/App/Header/Header.tsx
  src/new-client/src/App/Header/PWA/PWAInstallModal.tsx
  src/new-client/src/App/Header/PWA/PWAInstallPrompt.tsx
  src/new-client/src/App/Header/PWA/PWALaunchButton.tsx
  src/new-client/src/App/Header/PWA/index.ts
  src/new-client/src/App/Header/PWA/usePWABannerPrompt.tsx
  src/new-client/src/Finsemble/index.tsx
  src/new-client/src/OpenFin/index.tsx
  src/new-client/src/Web/index.tsx
  src/new-client/src/components/Modal/Modal.stories.tsx
  src/new-client/src/components/Modal/Modal.styles.ts
  src/new-client/src/components/Modal/Modal.tsx
  src/new-client/src/components/Modal/index.tsx
  src/new-client/src/components/icons/AppleShareIcon.tsx
  src/new-client/src/components/icons/CrossIcon.tsx
  src/new-client/src/components/icons/index.ts
  src/new-client/src/dom.d.ts
  src/new-client/src/platform/PlatformContext.ts
  src/new-client/src/platform/index.ts
  src/new-client/src/platform/types.ts
  src/new-client/src/utils/index.ts
  src/new-client/src/utils/isMobile.ts
  src/new-client/src/utils/isPwa.ts
  src/new-client/vite.config.ts
Due: prettier --write, eslint --fix

feat(client): Testing env vars in branch.yml
  .github/workflows/branch.yml
Due: none

feat(client): Testing vars in branch.yml
  .github/workflows/branch.yml
Due: none

feat(client): Trying inline condiitonal
  .github/workflows/branch.yml
Due: none

feat(client): Trying syntax
  .github/workflows/branch.yml
Due: none
