Repository shinydev1992/reactive-trader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(new-client): test for prices(746)
  src/new-client/src/services/prices/index.ts
  src/new-client/src/services/prices/prices.test.tsx
  src/new-client/src/services/prices/prices.ts
  src/new-client/src/services/prices/types.ts
Due: prettier --write, eslint --fix

feat(new-client): status service test(745)
  src/new-client/package.json
  src/new-client/src/services/status/index.ts
  src/new-client/src/services/status/status.test.tsx
  src/new-client/src/services/status/status.ts
  src/new-client/src/services/status/types.ts
  src/new-client/src/utils/__tests__/emitTooLong.test.ts
  src/new-client/yarn.lock
Due: prettier --write, eslint --fix

feat: update EventStore version
  src/services/eventstore/Dockerfile
Due: none

fix: disable writing eventstore stats
  src/services/eventstore/Dockerfile
Due: none

feat: add persistent volume for eventstore data
  .github/workflows/deploy.yml
  .github/workflows/pull-origin-up.yml
  src/services/kubernetes/per-deployment/eventstore-deployment.yaml
  src/services/kubernetes/per-deployment/eventstore-volume-claim.yaml
Due: none

fix: retry initialisation on failure
  src/services/kubernetes/per-deployment/initialise/initialise-job.yaml
Due: none

fix: reduce resource request for eventstore deployment
  src/services/kubernetes/per-deployment/eventstore-deployment.yaml
Due: none

test(new-client): tile component test(747) (#1796)
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.tsx
  src/new-client/src/App/LiveRates/Tile/Header/TileHeader.tsx
  src/new-client/src/App/LiveRates/Tile/PriceMovement/PriceMovement.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.state.ts
  src/new-client/src/App/LiveRates/Tile/Tile.test.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
  src/new-client/src/services/currencyPairs/__mocks__/currencyPairs.ts
  src/new-client/src/services/currencyPairs/currencyPairs.ts
  src/new-client/src/services/currencyPairs/index.ts
  src/new-client/src/services/currencyPairs/types.ts
  src/new-client/src/services/executions/__mocks__/executions.ts
  src/new-client/src/services/prices/__mocks__/prices.ts
  src/new-client/src/utils/testUtils.tsx
Due: prettier --write, eslint --fix

feat(new-client): test analytics service(751) (#1793)
  src/new-client/src/services/analytics/analytics.test.tsx
  src/new-client/src/services/analytics/analytics.ts
  src/new-client/src/services/analytics/index.ts
  src/new-client/src/services/analytics/types.ts
Due: prettier --write, eslint --fix

test(new-client): test tile component too long execution(753) (#1797)
  src/new-client/src/App/LiveRates/Tile/Tile.test.tsx
Due: prettier --write, eslint --fix

test(new-client): test tile component error and notional(754,755) (#1798)
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.test.tsx
Due: prettier --write, eslint --fix

fix: compatibility with Finsemble build
  src/client/src/apps/MainRoute/routes/SpotRoute.tsx
  src/client/src/rt-platforms/finsemble/finsemble.ts
Due: prettier --write, eslint --fix

test(new-client): test liverates main header(782) (#1804)
  src/new-client/src/App/LiveRates/LiveRates.tsx
  src/new-client/src/App/LiveRates/MainHeader/MainHeader.test.tsx
  src/new-client/src/App/LiveRates/MainHeader/MainHeader.tsx
  src/new-client/src/App/LiveRates/MainHeader/ToggleView/ToggleView.tsx
  src/new-client/src/App/LiveRates/Tile/__mocks__/Tile.tsx
  src/new-client/src/App/LiveRates/Tiles.tsx
  src/new-client/src/services/currencyPairs/__mocks__/currencyPairs.ts
Due: prettier --write, eslint --fix

test(new-client):test last position component(783) (#1801)
  src/new-client/src/App/Analytics/ProfitAndLoss/LastPosition.test.tsx
  src/new-client/src/App/Analytics/ProfitAndLoss/LastPosition.tsx
  src/new-client/src/services/analytics/__mocks__/analytics.ts
Due: prettier --write, eslint --fix

test(new-client): test pnlBar (784) (#1802)
  src/new-client/package.json
  src/new-client/src/App/Analytics/PnL/PNLBar.test.tsx
  src/new-client/src/App/Analytics/PnL/PNLBar.tsx
  src/new-client/src/App/Analytics/PnL/__snapshots__/PNLBar.test.tsx.snap
  src/new-client/yarn.lock
Due: prettier --write, eslint --fix

feat: show market quote when placing trade from launcher (ARTP-1405)
  src/client/src/apps/SimpleLauncher/Launcher.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineQuote.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/InlineTradeExecution.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/SearchControl.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/TradeExecutionOverlay.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/getInlineSuggestionsComponent.tsx
  src/client/src/apps/SimpleLauncher/spotlight/components/styles.ts
  src/client/src/apps/SimpleLauncher/spotlight/components/useSpotPrice.ts
Due: prettier --write, eslint --fix

perf(new-client): performance optimizations
  src/new-client/package.json
  src/new-client/src/App/Analytics/Analytics.tsx
  src/new-client/src/App/Analytics/AnalyticsCore.tsx
  src/new-client/src/App/Analytics/styled.tsx
  src/new-client/src/App/App.tsx
  src/new-client/src/App/LiveRates/LiveRates.tsx
  src/new-client/src/App/LiveRates/LiveRatesCore.tsx
  src/new-client/src/App/LiveRates/MainHeader/MainHeader.test.tsx
  src/new-client/src/App/LiveRates/Tile/Header/TileHeader.tsx
  src/new-client/src/App/LiveRates/Tile/PriceMovement/PriceMovement.tsx
  src/new-client/src/App/LiveRates/Tiles.tsx
  src/new-client/src/App/Trades/Trades.tsx
  src/new-client/src/App/Trades/TradesCore.tsx
  src/new-client/src/services/analytics/analytics.ts
  src/new-client/src/services/client/client.ts
  src/new-client/src/services/currencyPairs/__mocks__/currencyPairs.ts
  src/new-client/src/services/currencyPairs/currencyPairs.ts
  src/new-client/src/services/prices/prices.test.tsx
  src/new-client/src/services/prices/prices.ts
  src/new-client/src/utils/useHasItBeenVisible.ts
  src/new-client/yarn.lock
Due: prettier --write, eslint --fix

test(new-client): profit and loss snapshot test(785)
  src/new-client/src/App/Analytics/PnL/PNLBar.test.tsx
  src/new-client/src/App/Analytics/ProfitAndLoss/LastPosition.test.tsx
  src/new-client/src/App/Analytics/ProfitAndLoss/ProfitAndLoss.test.tsx
  src/new-client/src/App/Analytics/ProfitAndLoss/__snapshots__/ProfitAndLoss.test.tsx.snap
Due: prettier --write, eslint --fix

test(new-client): positions test (786)
  src/new-client/src/App/Analytics/Positions/Positions.test.tsx
  src/new-client/src/App/Analytics/Positions/Positions.tsx
  src/new-client/src/App/Analytics/Positions/__snapshots__/Positions.test.tsx.snap
  src/new-client/src/services/analytics/__mocks__/analytics.ts
Due: prettier --write, eslint --fix

fix: date formatting in launcher trade execution overlay (#1811)
  src/client/src/apps/SimpleLauncher/spotlight/components/TradeExecutionOverlay.tsx
Due: prettier --write, eslint --fix

chore(new-client): leverage getGroupedObservable from @react-rxjs/utils
  src/new-client/src/App/LiveRates/Tile/Tile.state.ts
Due: prettier --write, eslint --fix

chore(new-client): upgrade dependencies
  src/new-client/package.json
  src/new-client/yarn.lock
Due: prettier --write

fix: window content height in Finsemble builds (#1813)
  src/client/src/rt-platforms/finsemble/finsemble.ts
Due: prettier --write, eslint --fix

fix(new-client): fix yarn start issue
  src/new-client/package.json
Due: prettier --write

feat(new-client): complete rfq countdown and resets
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.styles.ts
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.tsx
  src/new-client/src/App/LiveRates/Tile/Notional/NotionalReset.tsx
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.styles.tsx
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.tsx
  src/new-client/src/App/LiveRates/Tile/PriceMovement/PriceMovement.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.state.ts
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqButton.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqTimer.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/index.ts
  src/new-client/src/App/LiveRates/Tile/Tile.state.ts
  src/new-client/src/App/LiveRates/Tile/Tile.styles.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
  src/new-client/src/components/OverlayDiv.tsx
  src/new-client/src/services/rfqs/index.ts
  src/new-client/src/services/rfqs/types.ts
Due: prettier --write, eslint --fix

fix(new-client): use split and collect to maintain independent rfq streams
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.tsx
  src/new-client/src/App/LiveRates/Tile/RFQ/Rfq.state.ts
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.state.ts
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqButton.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqTimer.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/index.ts
  src/new-client/src/services/rfqs/types.ts
Due: prettier --write, eslint --fix

feat(new-client): add rfq service and components
  src/new-client/.env.development
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Pending.tsx
  src/new-client/src/App/LiveRates/Tile/ExecutionResponse/Response.styles.tsx
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.styles.tsx
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.tsx
  src/new-client/src/App/LiveRates/Tile/PriceMovement/PriceMovement.tsx
  src/new-client/src/App/LiveRates/Tile/RFQ/RFQButton.tsx
  src/new-client/src/App/LiveRates/Tile/RFQ/Rfq.state.ts
  src/new-client/src/App/LiveRates/Tile/RFQ/RfqTimer.tsx
  src/new-client/src/App/LiveRates/Tile/RFQ/index.ts
  src/new-client/src/App/LiveRates/Tile/Tile.state.ts
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
  src/new-client/src/App/Trades/TradesGrid/DateFilter.tsx
  src/new-client/src/components/AdaptiveLoader.tsx
  src/new-client/src/components/CenteringContainer.tsx
  src/new-client/src/components/OverlayDiv.tsx
  src/new-client/src/services/executions/executions.ts
  src/new-client/src/services/rfqs/index.ts
  src/new-client/src/services/rfqs/rfqs.ts
  src/new-client/src/services/rfqs/types.ts
Due: prettier --write, eslint --fix

chore(new-client): refactor RFQ
  src/new-client/src/App/LiveRates/Tile/Notional/Notional.tsx
  src/new-client/src/App/LiveRates/Tile/Notional/NotionalReset.tsx
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.tsx
  src/new-client/src/App/LiveRates/Tile/PriceMovement/PriceMovement.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.state.ts
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqButton.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/RfqTimer.tsx
  src/new-client/src/App/LiveRates/Tile/Tile.state.ts
  src/new-client/src/App/LiveRates/Tile/Tile.tsx
Due: prettier --write, eslint --fix

test(new-client): tests and fixes for services/currencyPairs
  src/new-client/src/services/currencyPairs/currencyPairs.test.tsx
  src/new-client/src/services/currencyPairs/currencyPairs.ts
  src/new-client/src/services/currencyPairs/types.ts
Due: prettier --write, eslint --fix

test(new-client): added jest-styled-components and updated snapshot tests
  src/new-client/package.json
  src/new-client/src/App/Analytics/PnL/__snapshots__/PNLBar.test.tsx.snap
  src/new-client/src/App/Analytics/Positions/Positions.test.tsx
  src/new-client/src/App/Analytics/Positions/__snapshots__/Positions.test.tsx.snap
  src/new-client/src/App/Analytics/ProfitAndLoss/__snapshots__/ProfitAndLoss.test.tsx.snap
  src/new-client/src/setupTests.ts
  src/new-client/yarn.lock
Due: prettier --write, eslint --fix

fix: temporarily disable integration tests in CI builds
  .github/workflows/ci.yml
  .github/workflows/pull-fork.yml
Due: none

fix: restore missing DEPLOY_ENV env var to deploy workflow
  .github/workflows/deploy.yml
Due: none

feat: update caching and compression on gateway proxy
  src/services/kubernetes/per-cluster/gateway.yaml
Due: none

fix: enable compression for proxied requests (e.g. via LB)
  src/services/kubernetes/per-cluster/gateway.yaml
Due: none

feat: enable brotli compression if supported
  package-lock.json
  package.json
  src/services/kubernetes/per-cluster/gateway.yaml
Due: none

fix(new-client): fixes post vite migration
  src/new-client/.gitignore
  src/new-client/Dockerfile
  src/new-client/package-lock.json
  src/new-client/package.json
  src/new-client/src/services/currencyPairs/currencyPairs.ts
Due: prettier --write, eslint --fix

feat(new-client): rejecting rfq returns to initial state
  src/new-client/src/App/LiveRates/Tile/PriceButton/PriceButton.styles.tsx
  src/new-client/src/App/LiveRates/Tile/Rfq/Rfq.state.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,tsx,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
